//$prefix : 'cui' !default;

@use '../variables'as vars;

@mixin main-body() {
    font-size       : vars.$font-normal;
    box-sizing      : border-box;
    font-family     : vars.$font-family;
    margin          : 0;
    padding         : 0;
    background-color: vars.$app-background;
    color           : vars.$app-color;
    width           : 100%;
    height          : 100%;

    &.overscroll-none {
        overscroll-behavior: none;
    }

    &.selection-off {
        user-select: none;
    }

    &.swiping-on {
        overscroll-behavior: none;
        user-select        : none !important;
        overflow           : hidden;
        touch-action       : none;
    }
}