$container-background-default       :$component-background-default;
$container-background-default-dark  :$component-background-default-dark;
$container-background-inverse       :$component-background-inverse;
$container-background-inverse-dark  :$component-background-inverse-dark;
$container-background-accent        :$component-background-accent-shade;
$container-background-accent-dark   :$component-background-accent-shade-dark;
$container-background-secondary     : $component-background-secondary-shade;
$container-background-secondary-dark: $component-background-secondary-shade-dark;

$container-color-default      :$component-color-default;
$container-color-default-dark :$component-color-default-dark;
$container-color-inverse      :$component-color-inverse;
$container-color-inverse-dark :$component-color-inverse-dark;


$container-padding-large : $padding-global-large;
$container-padding-normal: $padding-global;

.#{$prefix}-container {
    @include component-padding(same);
    //width : 100%;

    &.#{$prefix}-no-padding {
        padding: 0;
    }

    &.#{$prefix}-space {
        padding: $container-padding-large;
    }

    &.#{$prefix}-lean {
        @include component-padding(smallSame);
    }

    // @include container();

    &.#{$prefix}-center {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    &.#{$prefix}-default {
        background-color: $container-background-default;
        color           : $container-color-default;
    }

    &.#{$prefix}-accent {
        background-color: $container-background-accent;
    }

    &.#{$prefix}-secondary {
        background-color: $container-background-secondary;
    }

    &.#{$prefix}-inverse {
        background-color: $container-background-inverse;
        color           : $container-color-inverse;
    }
}

/*
* Dark
*/

.#{$prefix}-dark {
    .#{$prefix}-container {
        &.#{$prefix}-default {
            background-color: $container-background-default-dark;
            color           : $container-color-default-dark;
        }

        &.#{$prefix}-inverse {
            background-color: $container-background-inverse-dark;
            color           : $container-color-inverse-dark;
        }

        &.#{$prefix}-accent {
            background-color: $container-background-accent-dark;
        }

        &.#{$prefix}-secondary {
            background-color: $container-background-secondary-dark;
        }
    }
}

/*
* Print
*/

.#{$prefix}-print {
    .#{$prefix}-container {
        background-color: $component-print-background;
        color           : $component-print-color;
    }
}