$container-background-default      :$component-background-default;
$container-background-default-dark :$component-background-default-dark;
$container-background-inverse      :$component-background-inverse;
$container-background-inverse-dark :$component-background-inverse-dark;

$container-color-default     :$component-color-default;
$container-color-default-dark:$component-color-default-dark;
$container-color-inverse     :$component-color-inverse;
$container-color-inverse-dark:$component-color-inverse-dark;

$container-padding-large : $padding-global-large;
$container-padding-normal: $padding-global;

.#{$prefix}-container {
    @include component-padding(same);
    //width : 100%;

    &.#{$prefix}-no-padding {
        padding: 0;
    }

    &.#{$prefix}-space {
        padding: $container-padding-large;
    }

    &.#{$prefix}-lean {
        @include component-padding(smallSame);
    }

    // @include container();

    &.#{$prefix}-center {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    &.#{$prefix}-default {
        background-color: $container-background-default;
        color           : $container-color-default;
    }

    &.#{$prefix}-accent {
        @include background-color(primary, lighten);
        @include color(dark);
    }

    &.#{$prefix}-secondary {
        @include background-color(secondary, lighten);
        @include color(dark);
    }

    &.#{$prefix}-inverse {
        background-color: $container-background-inverse;
        color           : $container-color-inverse;
    }
}

/**
* Media
*/

// // View small
// @media (min-width: $breakpoint-s) {
//     .#{$prefix}-container {
//         @include container(--s);
//     }
// }

// // View medium
// @media (min-width: $breakpoint-m) {
//     .#{$prefix}-container {
//         @include container(--m);
//     }
// }

// // View medium
// @media (min-width: $breakpoint-l) {
//     .#{$prefix}-container {;
//         @include container(--l);
//     }
// }

// // View medium
// @media (min-width: $breakpoint-xl) {
//     .#{$prefix}-container {
//         @include container(--xl);
//     }
// }

/*
* Dark
*/

.#{$prefix}-dark {
    .#{$prefix}-container {
        &.#{$prefix}-default {
            background-color: $container-background-default-dark;
            color           : $container-color-default-dark;
        }

        &.#{$prefix}-inverse {
            background-color: $container-background-inverse-dark;
            color           : $container-color-inverse-dark;
        }
    }
}

/*
* Print
*/

.#{$prefix}-print {
    .#{$prefix}-container {
        background-color: $component-print-background;
        color           : $component-print-color;
    }
}