@use "../variables.scss"as *;
@use "../mixins.scss"as *;

$container-background-default       : $component-background-default;
$container-background-default-dark  : $component-background-default-dark;
$container-background-inverse       : $component-background-inverse;
$container-background-inverse-dark  : $component-background-inverse-dark;
$container-background-accent        : $component-background-accent;
$container-background-accent-dark   : $component-background-accent;
$container-background-secondary     : $component-background-secondary;
$container-background-secondary-dark: $component-background-secondary;

$container-color-default      :$component-color-default;
$container-color-default-dark :$component-color-default-dark;
$container-color-inverse      :$component-color-inverse;
$container-color-inverse-dark :$component-color-inverse-dark;


$container-padding-large : $padding-global-large;
$container-padding-normal: $padding-global;


@mixin container {
    .#{$prefix}-container {
        @include component-padding();

        &.#{$prefix}-no-padding {
            padding: 0;
        }

        &.#{$prefix}-inverse {
            background-color: $container-background-inverse;
            color           : $container-color-inverse;
        }
    }
}

@mixin container-center {
    .#{$prefix}-container {
        &.#{$prefix}-center {
            display        : flex;
            justify-content: center;
            align-items    : center;
        }
    }
}

@mixin container-lean {
    .#{$prefix}-container {
        &.#{$prefix}-lean {
            @include component-padding(small, true);
        }
    }
}

@mixin container-space {
    .#{$prefix}-container {
        &.#{$prefix}-space {
            padding: $container-padding-large;
        }
    }
}

@mixin container-theme {
    .#{$prefix}-container {
        &.#{$prefix}-accent {
            background-color: $container-background-accent;
            color           : $container-color-inverse;
        }

        &.#{$prefix}-secondary {
            background-color: $container-background-secondary;
            color           : $container-color-inverse;
        }
    }
}

@mixin container-theme-dark {
    @include mode-dark {
        .#{$prefix}-container {
            &.#{$prefix}-accent {
                background-color: $container-background-accent-dark;
            }

            &.#{$prefix}-secondary {
                background-color: $container-background-secondary-dark;
            }
        }
    }
}

@mixin container-dark {

    /*
        * Dark
        */
    @include mode-dark {
        .#{$prefix}-container {
            &.#{$prefix}-default {
                background-color: $container-background-default-dark;
                color           : $container-color-default-dark;
            }

            &.#{$prefix}-inverse {
                background-color: $container-background-inverse-dark;
                color           : $container-color-inverse-dark;
            }
        }
    }
}

@mixin container-print {
    /*
* Print
*/

    @include mode-print {
        .#{$prefix}-container {
            background-color: $component-print-background;
            color           : $component-print-color;
        }
    }
}

@mixin definitions($options: ()) {
    @include container();

    @if(not-option-disabled($options, 'dark')) {
        @include container-dark();
    }

    @if(not-option-disabled($options, 'print')) {
        @include container-print();
    }

    @if(not-option-disabled($options, 'lean')) {
        @include container-lean();
    }

    @if(not-option-disabled($options, 'center')) {
        @include container-center();
    }

    @if(not-option-disabled($options, 'space')) {
        @include container-space();
    }

    @if(not-option-disabled($options, 'theme')) {
        @include container-theme();

        @if(not-option-disabled($options, 'dark')) {
            @include container-theme-dark();
        }
    }

}