@use "../variables.scss"as *;
@use "../mixins.scss"as *;

@mixin order($size: "") {
    @for $i from 1 through 10 {
        .#{$prefix}-order-#{$i}#{$size} {
            order: $i;
        }
    }
}

@mixin common($size: "") {
    .#{$prefix}-flex {
        &.#{$prefix}-center#{$size} {
            justify-content: center;
        }

        &.#{$prefix}-evenly#{$size} {
            justify-content: space-evenly;
        }

        &.#{$prefix}-between#{$size} {
            justify-content: space-between;
        }

        // ALign

        &.#{$prefix}-middle#{$size} {
            align-items: center;
        }

        &.#{$prefix}-end#{$size} {
            align-items: flex-end;
        }

        &.#{$prefix}-stretch#{$size} {
            align-items: stretch;
        }

        // Items

        .#{$prefix}-grow#{$size} {
            flex-grow: 1;
        }

        .#{$prefix}-shrink#{$size} {
            flex-shrink: 1;
        }
    }
}

@mixin definitions {
    .#{$prefix}-flex {
        display        : flex !important;
        flex-wrap      : wrap;
        justify-content: start;
        align-items    : flex-start;
        // Justify

        &.#{$prefix}-center {
            justify-content: center;
        }

        &.#{$prefix}-right {
            justify-content: flex-end;
        }

        &.#{$prefix}-evenly {
            justify-content: space-evenly;
        }

        &.#{$prefix}-between {
            justify-content: space-between;
        }

        // ALign

        &.#{$prefix}-middle {
            align-items: center;
        }

        &.#{$prefix}-end {
            align-items: flex-end;
        }

        &.#{$prefix}-stretch {
            align-items: stretch;
        }

        // Wrap

        &.#{$prefix}-nowrap {
            flex-wrap: nowrap;
        }

        &.#{$prefix}-wrap-rev {
            flex-wrap: wrap-reverse;
        }

        // Items

        .#{$prefix}-grow {
            flex-grow: 1;
        }

        .#{$prefix}-shrink {
            flex-shrink: 1;
        }

    }

    @include order();

    @include media-screen-min-small {
        @include order(--s);
        @include common(--s);
    }

    @include media-screen-min-medium {
        @include order(--m);
        @include common(--m);
    }

    @include media-screen-min-large {
        @include order(--l);
        @include common(--l);
    }

    @include media-screen-min-xlarge {
        @include order(--xl);
        @include common(--xl);
    }

    .#{$prefix}-flex-center {
        display        : flex !important;
        justify-content: center;
        align-items    : center;
        overflow       : hidden;
    }
}