@use "../variables.scss"as *;
@use "../mixins.scss"as *;

@mixin base {

    *:focus-visible {
        outline       : $outline-default;
        outline-offset: 0px;
    }

}

@mixin common-focus() {
    *:not(:hover):focus {
        outline       : $outline-default;
        outline-offset: 0px;
    }
}

@mixin definitions($options: ()) {
    //@include base()
    @include common-focus();
}