/**
* Heights
*/
@use '../variables'as *;
@use '../mixins'as *;

// Variables
// Mixins
@mixin heights($size:"") {
    .#{$prefix}-height-1-1#{$size} {
        height: 100%;
    }

    .#{$prefix}-height-1-2#{$size} {
        height: 50%;
    }

    .#{$prefix}-height-1-4#{$size} {
        height: 25%;
    }

    .#{$prefix}-height-1-3#{$size} {
        height: calc(100% * 1/3.001);
    }

    // Viewport height

    .#{$prefix}-height-viewport-1-1#{$size} {
        height: 100vh;
    }

    .#{$prefix}-height-viewport-1-2#{$size} {
        height: 50vh;
    }

    .#{$prefix}-height-viewport-1-3#{$size} {
        height: calc(100vh * 1/3.001);
    }

    .#{$prefix}-height-viewport-1-4#{$size} {
        height: 25vh;
    }
}

@mixin heights-media {
    @include media-screen-min-small {
        @include heights(--s);
    }

    @include media-screen-min-medium {
        @include heights(--m);
    }

    @include media-screen-min-large {
        @include heights(--l);
    }

    @include media-screen-min-xlarge {
        @include heights(--xl);
    }
}

@mixin custom {
    [#{$prefix}-item-height] {
        height: attr(#{$prefix}-item-height);
    }
}

// Exports
@mixin definitions {
    @include heights();
    @include heights-media();
    @include custom();
}