@use "../variables.scss"as *;

@mixin definitions {
    .#{$prefix}-position-relative {
        position: relative;

        * {
            position: absolute;
        }

        .#{$prefix}-position-top {
            top: 0px;
        }

        .#{$prefix}-position-bottom {
            bottom: 0px;
        }

        .#{$prefix}-position-middle {
            top      : 50%;
            transform: translateY(-50%);
        }

        .#{$prefix}-position-left {
            left: 0px;
        }

        .#{$prefix}-position-right {
            right: 0px;
        }

        .#{$prefix}-position-center {
            left     : 50%;
            transform: translateX(-50%);

            &.#{$prefix}-position-middle {
                transform: translate(-50%, -50%);
            }
        }
    }

    .#{$prefix}-position-float {
        position: fixed;

        &.#{$prefix}-position-top {
            top: 0px;
        }

        &.#{$prefix}-position-bottom {
            bottom: 0px;
        }

        &.#{$prefix}-position-middle {
            top      : 50%;
            transform: translateY(-50%);
        }

        &.#{$prefix}-position-left {
            left: 0px;
        }

        &.#{$prefix}-position-right {
            right: 0px;
        }

        &.#{$prefix}-position-center {
            left     : 50%;
            transform: translateX(-50%);

            &.#{$prefix}-position-middle {
                transform: translate(-50%, -50%);
            }
        }
    }
}