@use "../variables.scss"as *;
@use "../mixins.scss"as *;

@mixin float() {
    .#{$prefix}-position-float {
        position: fixed;

        &.#{$prefix}-position-top {
            top: 0px;
        }

        &.#{$prefix}-position-bottom {
            bottom: 0px;
        }

        &.#{$prefix}-position-middle {
            top      : 50%;
            transform: translateY(-50%);
        }

        &.#{$prefix}-position-left {
            left: 0px;
        }

        &.#{$prefix}-position-right {
            right: 0px;
        }

        &.#{$prefix}-position-center {
            left     : 50%;
            transform: translateX(-50%);

            &.#{$prefix}-position-middle {
                transform: translate(-50%, -50%);
            }
        }
    }
}

@mixin relative() {

    .#{$prefix}-relative-container {
        display : inline-block;
        position: relative;
    }

    .#{$prefix}-position-relative {
        position: relative;

        [class*="#{$prefix}-position"] {
            position: absolute;
        }

        .#{$prefix}-position-top {
            top: 0px;
        }

        .#{$prefix}-position-bottom {
            bottom: 0px;
        }

        .#{$prefix}-position-middle {
            top      : 50%;
            transform: translateY(-50%);
        }

        .#{$prefix}-position-left {
            left: 0px;
        }

        .#{$prefix}-position-right {
            right: 0px;
        }

        .#{$prefix}-position-center {
            left     : 50%;
            transform: translateX(-50%);

            &.#{$prefix}-position-middle {
                transform: translate(-50%, -50%);
            }
        }
    }
}


@mixin layer {
    .#{$prefix}-layer-bottom {
        z-index: 0;
    }

    .#{$prefix}-layer-middle {
        z-index: 1;
    }

    .#{$prefix}-layer-top {
        z-index: 2;
    }
}

@mixin definitions($options: ()) {
    @if(not-option-disabled($options, 'relative')) {
        @include relative();
    }

    @if(not-option-disabled($options, 'float')) {
        @include float();
    }

    @if(not-option-disabled($options, 'layer')) {
        @include layer();
    }
}