/**
* SECTION
* Separates page contents vertically
* 
*/
@use '../variables'as *;
@use '../mixins'as *;
// Variables
$section-padding-normal              : $padding-global;
$section-padding-large               : $padding-global-large;
$section-shade-background-color      : $component-background-shade;
$section-shade-background-color-dark : $component-background-shade-dark;

$section-background-default      :$component-background-default;
$section-background-default-dark :$component-background-default-dark;
$section-background-inverse      :$component-background-inverse;
$section-background-inverse-dark :$component-background-inverse-dark;


$section-color-default      :$component-color-default;
$section-color-default-dark :$component-color-default-dark;
$section-color-inverse      :$component-color-inverse;
$section-color-inverse-dark :$component-color-inverse-dark;


@mixin section {
    .#{$prefix}-section {
        display: block;
        padding: $section-padding-normal;


    }
}

@mixin section-space() {
    .#{$prefix}-section {
        &.#{$prefix}-space {
            padding: $section-padding-large;
        }
    }
}


@mixin section-print {
    .#{$prefix}-print {
        .#{$prefix}-section {
            background-color: $component-print-background;
            color           : $component-print-color;
        }
    }
}

@mixin definitions($options: ()) {
    @include section();

    @if(not-option-disabled($options, 'space')) {
        @include section-space();
    }

    @if(not-option-disabled($options, 'print')) {
        @include section-print();
    }
}