/**
* SECTION
* Separates page contents vertically
* 
*/
@use '../variables'as *;
// Variables
$section-padding-normal              : $padding-global;
$section-padding-large               : $padding-global-large;
$section-shade-background-color      : $component-background-shade;
$section-shade-background-color-dark : $component-background-shade-dark;

$section-background-default      :$component-background-default;
$section-background-default-dark :$component-background-default-dark;
$section-background-inverse      :$component-background-inverse;
$section-background-inverse-dark :$component-background-inverse-dark;


$section-color-default      :$component-color-default;
$section-color-default-dark :$component-color-default-dark;
$section-color-inverse      :$component-color-inverse;
$section-color-inverse-dark :$component-color-inverse-dark;


@mixin section {
    .#{$prefix}-section {
        display: block;
        margin : 0;
        padding: $section-padding-normal;

        &.#{$prefix}-inverse {
            background-color: $section-background-inverse;
            color           : $section-color-inverse;
        }

        &.#{$prefix}-space {
            padding: $section-padding-large;
        }
    }
}

@mixin section-dark {
    .#{$prefix}-dark {
        .#{$prefix}-section {
            &.#{$prefix}-inverse {
                background-color: $section-background-inverse-dark;
                color           : $section-color-inverse-dark;
            }
        }
    }
}

@mixin section-print {
    .#{$prefix}-print {
        .#{$prefix}-section {
            background-color: $component-print-background;
            color           : $component-print-color;
        }
    }
}

@mixin definitions {
    @include section();
    @include section-dark();
    @include section-print();
}