@use "../variables.scss"as *;

@mixin definitions {
    .#{$prefix}-slide {
        scroll-snap-type          : x mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x                : scroll;

        .#{$prefix}-slide-item {
            scroll-snap-align: start;
        }
    }
}