/*
* SPACES
* Definitions of additonal spaces like paddings, margins or overflows
* They can be used when default component settings are not sufficient
*
*/
@use '../variables'as *;
@use '../mixins'as *;

// Variables
$item-padding-large : $padding-global-large;
$item-padding       : $padding-global;
$item-padding-small : $padding-global-small;

$item-margin      : $margin-global;
$item-margin-large: $margin-global-large;
$item-margin-small: $margin-global-small;

// MIxins

$sides: "top",
"bottom",
"left",
"right";

@mixin remove-padding($size: "") {
    .#{$prefix}-padding-remove#{$size} {
        padding: 0px !important;
    }

    @each $side in $sides {
        .#{$prefix}-padding-remove-#{$side}#{$size} {
            padding-#{$side}: 0px !important;
        }
    }
}

@mixin remove-margin($size: "") {
    .#{$prefix}-margin-remove#{$size} {
        margin: 0px !important;
    }

    @each $side in $sides {
        .#{$prefix}-margin-remove-#{$side}#{$size} {
            margin-#{$side}: 0px !important;
        }
    }
}

@mixin margin($size) {
    /**
    * Normal
    */

    .#{$prefix}-margin--#{$size} {
        margin: $item-margin !important;
    }

    .#{$prefix}-margin-top--#{$size} {
        margin-top: $item-margin !important;
    }

    .#{$prefix}-margin-bottom--#{$size} {
        margin-bottom: $item-margin !important;
    }

    .#{$prefix}-margin-left--#{$size} {
        margin-left: $item-margin !important;
    }

    .#{$prefix}-margin-right--#{$size} {
        margin-right: $item-margin !important;
    }

    /**
    * Small
    */

    .#{$prefix}-margin-small--#{$size} {
        margin: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-top--#{$size} {
        margin-top: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-bottom--#{$size} {
        margin-bottom: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-left--#{$size} {
        margin-left: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-right--#{$size} {
        margin-right: $item-margin-small !important;
    }

    /**
    * Large
    */

    .#{$prefix}-margin-large--#{$size} {
        margin: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-top--#{$size} {
        margin-top: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-bottom--#{$size} {
        margin-bottom: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-left--#{$size} {
        margin-left: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-right--#{$size} {
        margin-right: $item-margin-large !important;
    }

}

@mixin padding($size, $sides...) {
    .#{$prefix}-padding--#{$size} {
        padding: $item-padding !important;
    }

    .#{$prefix}-padding-vertical--#{$size} {
        padding: $item-padding 0 !important;
    }

    .#{$prefix}-padding-horizontal--#{$size} {
        padding: 0 $item-padding !important;
    }

    @each $side in $sides {
        .#{$prefix}-padding-#{$side}--#{$size} {
            padding-#{$side}: $item-padding !important;
        }
    }
}

@mixin margins {
    .#{$prefix}-margin {
        margin: $item-margin !important;
    }

    .#{$prefix}-margin-top {
        margin-top: $item-margin !important;
    }

    .#{$prefix}-margin-bottom {
        margin-bottom: $item-margin !important;
    }

    .#{$prefix}-margin-left {
        margin-left: $item-margin !important;
    }

    .#{$prefix}-margin-right {
        margin-right: $item-margin !important;
    }

    .#{$prefix}-margin-vertical {
        margin: $item-margin 0 !important;
    }

    .#{$prefix}-margin-horizontal {
        padding: 0 $item-margin !important;
    }

    .#{$prefix}-margin-auto {
        margin: 0 auto !important;
    }
}

@mixin margins-small {
    /**
    * Small
    */

    .#{$prefix}-margin-small {
        margin: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-top {
        margin-top: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-bottom {
        margin-bottom: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-left {
        margin-left: $item-margin-small !important;
    }

    .#{$prefix}-margin-small-right {
        margin-right: $item-margin-small !important;
    }
}

@mixin margins-large {

    /**
* Large
*/

    .#{$prefix}-margin-large {
        margin: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-top {
        margin-top: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-bottom {
        margin-bottom: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-left {
        margin-left: $item-margin-large !important;
    }

    .#{$prefix}-margin-large-right {
        margin-right: $item-margin-large !important;
    }
}


@mixin paddings {
    .#{$prefix}-padding {
        padding: $item-padding !important;
    }

    .#{$prefix}-padding-top {
        padding-top: $item-padding !important;
    }

    .#{$prefix}-padding-bottom {
        padding-bottom: $item-padding !important;
    }

    .#{$prefix}-padding-left {
        padding-left: $item-padding !important;
    }

    .#{$prefix}-padding-right {
        padding-left: $item-padding !important;
    }

    .#{$prefix}-padding-vertical {
        padding: $item-padding 0 !important;
    }

    .#{$prefix}-padding-horizontal {
        padding: 0 $item-padding !important;
    }
}

@mixin paddings-small {
    .#{$prefix}-padding-small {
        padding: $item-padding-small !important;
    }

    .#{$prefix}-padding-small-top {
        padding-top: $item-padding-small !important;
    }

    .#{$prefix}-padding-small-bottom {
        padding-bottom: $item-padding-small !important;
    }

    .#{$prefix}-padding-small-left {
        padding-left: $item-padding-small !important;
    }

    .#{$prefix}-padding-small-right {
        padding-left: $item-padding-small !important;
    }
}

@mixin paddings-large {
    .#{$prefix}-padding-large {
        padding: $item-padding-large !important;
    }

    .#{$prefix}-padding-large-top {
        padding-top: $item-padding-large !important;
    }

    .#{$prefix}-padding-large-bottom {
        padding-bottom: $item-padding-large !important;
    }

    .#{$prefix}-padding-large-left {
        padding-left: $item-padding-large !important;
    }

    .#{$prefix}-padding-large-right {
        padding-left: $item-padding-large !important;
    }
}

/**
* To be used when marigns on first and last element dont work
*/

@mixin wrapper {
    .#{$prefix}-content-wrapper {
        border: 1px solid transparent;
    }
}

/**
* Media Queries
*/
@mixin media {
    @include media-screen-min-small {
        @include margin(s);
        @include padding(s);
        @include remove-padding(--s);
        @include remove-margin(--s);
    }

    @include media-screen-min-medium {
        @include margin(m);
        @include padding(m);
        @include remove-padding(--m);
        @include remove-margin(--m);
    }

    @include media-screen-min-large {
        @include margin(l);
        @include padding(l);
        @include remove-padding(--l);
        @include remove-margin(--l);
    }

    @include media-screen-min-xlarge {
        @include margin(xl);
        @include padding(xl);
        @include remove-padding(--xl);
        @include remove-margin(--xl);
    }
}


@mixin overflow {
    .#{$prefix}-overflow-hidden {
        overflow: hidden;
    }

    .#{$prefix}-overflow-x {
        overflow-x: scroll;
    }

    .#{$prefix}-overflow-x-auto {
        overflow-x: auto;
    }

    .#{$prefix}-overflow-x-hidden {
        overflow-x: hidden;
    }

    .#{$prefix}-overflow-y {
        overflow-y: scroll;
    }

    .#{$prefix}-overflow-y-auto {
        overflow-y: auto;
    }

    .#{$prefix}-overflow-y-hidden {
        overflow-y: hidden;
    }
}

@mixin display {

    // Display 
    .#{$prefix}-inline {
        display: inline;
    }

    .#{$prefix}-inline-block {
        display: inline-block;
    }

    .#{$prefix}-block {
        display: block;
    }
}


@mixin clearfix {
    .#{$prefix}-clearfix {
        &:after {
            content    : ".";
            display    : block;
            clear      : both;
            visibility : hidden;
            line-height: 0;
            height     : 0;
        }
    }
}

@mixin definitions {
    @include margins();
    @include margins-small();
    @include margins-large();
    @include paddings();
    @include paddings-small();
    @include paddings-large();
    @include clearfix();
    @include display();
    @include media();
    @include overflow();
    @include remove-padding();
    @include remove-margin();
    @include wrapper();
}