/*
* SPACES
* Definitions of additonal spaces like paddings, margins or overflows
* They can be used when default component settings are not sufficient
*
*/
@use '../variables'as *;
@use '../mixins'as *;

// Variables
$item-padding-large  : $padding-global-large;
$item-padding        : $padding-global;
$item-padding-small  : $padding-global-small;
$item-padding-xsmall : $padding-global-xsmall;
$item-padding-xlarge : $padding-global-xlarge;

$item-margin       : $margin-global;
$item-margin-large : $margin-global-large;
$item-margin-xlarge: $margin-global-xlarge;
$item-margin-small : $margin-global-small;
$item-margin-xsmall: $margin-global-xsmall;

// MIxins

$sides: "top",
"bottom",
"left",
"right";

@mixin remove-padding($size: "") {
    .#{$prefix}-padding-remove#{$size} {
        padding: 0px !important;
    }

    @each $side in $sides {
        .#{$prefix}-padding-remove-#{$side}#{$size} {
            padding-#{$side}: 0px !important;
        }
    }
}

@mixin remove-margin($size: "") {
    .#{$prefix}-margin-remove#{$size} {
        margin: 0px !important;
    }

    @each $side in $sides {
        .#{$prefix}-margin-remove-#{$side}#{$size} {
            margin-#{$side}: 0px !important;
        }
    }
}

@mixin padding($opt:"", $size:"", $value:"") {
    $option: "";

    @if ($opt !="") {
        $option: "-#{$opt}";
    }

    .#{$prefix}-padding#{$option}#{$size} {
        padding: $value !important;
    }

    .#{$prefix}-padding#{$option}-vertical#{$size} {
        padding: $value 0 !important;
    }

    .#{$prefix}-padding#{$option}-horizontal#{$size} {
        padding: 0 $value !important;
    }

    @each $side in $sides {
        .#{$prefix}-padding#{$option}-#{$side}#{$size} {
            padding-#{$side}: $value !important;
        }
    }
}

@mixin margin($opt:"", $size:"", $value:"") {
    $option: "";

    @if ($opt !="") {
        $option: "-#{$opt}";
    }

    .#{$prefix}-margin#{$option}#{$size} {
        margin: $value !important;
    }

    .#{$prefix}-margin#{$option}-vertical#{$size} {
        margin: $value 0 !important;
    }

    .#{$prefix}-margin#{$option}-horizontal#{$size} {
        margin: 0 $value !important;
    }

    @each $side in $sides {
        .#{$prefix}-margin#{$option}-#{$side}#{$size} {
            margin-#{$side}: $value !important;
        }
    }
}

@mixin margin-auto($size: "") {
    .#{$prefix}-margin-auto#{$size} {
        margin: 0 auto !important;
    }
}

@mixin display($size: "") {

    // Display 
    .#{$prefix}-inline#{$size} {
        display: inline !important
    }

    .#{$prefix}-inline-block#{$size} {
        display: inline-block !important;
    }

    .#{$prefix}-block#{$size} {
        display: block !important;
    }
}


/**
* To be used when marigns on first and last element dont work
*/

@mixin wrapper {
    .#{$prefix}-content-wrapper {
        border: 1px solid transparent;
    }
}


@mixin responsive($options: ()) {
    @include media-screen-min-small {

        @if(not-option-disabled($options, 'display')) {
            @include display(--s);
        }

        @if(not-option-disabled($options, 'margin')) {
            @include margin("", --s, $item-margin);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-margin(--s);
            }

            @if(not-option-disabled($options, 'auto')) {
                @include margin-auto(--s);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include margin("xsmall", --s, $item-margin-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include margin("small", --s, $item-margin-small);
            }

            @if(not-option-disabled($options, 'large')) {
                @include margin("large", --s, $item-margin-large);
            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include margin("xlarge", --s, $item-margin-xlarge);
            }
        }

        @if(not-option-disabled($options, 'padding')) {
            @include padding("", "--s", $item-padding);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-padding(--s);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include padding("xsmall", "--s", $item-padding-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include padding("small", "--s", $item-padding-small);
            }

            @if(not-option-disabled($options, 'large')) {
                @include padding("large", "--s", $item-padding-large);

            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include padding("xlarge", "--s", $item-padding-xlarge);
            }
        }
    }

    @include media-screen-min-medium {
        @if(not-option-disabled($options, 'display')) {
            @include display(--m);
        }

        @if(not-option-disabled($options, 'margin')) {
            @include margin("", --m, $item-margin);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-margin(--m);
            }

            @if(not-option-disabled($options, 'auto')) {
                @include margin-auto(--m);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include margin("xsmall", --m, $item-margin-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include margin("small", --m, $item-margin-small);
            }

            @if(not-option-disabled($options, 'large')) {
                @include margin("large", --m, $item-margin-large);
            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include margin("xlarge", --m, $item-margin-xlarge);
            }
        }

        @if(not-option-disabled($options, 'padding')) {
            @include padding("", "--m", $item-padding);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-padding(--m);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include padding("xsmall", "--m", $item-padding-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include padding("small", "--m", $item-padding-small);
            }

            @if(not-option-disabled($options, 'large')) {
                @include padding("large", "--m", $item-padding-large);
            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include padding("xlarge", "--m", $item-padding-xlarge);
            }
        }
    }

    @include media-screen-min-large {
        @if(not-option-disabled($options, 'display')) {
            @include display(--l);
        }

        @if(not-option-disabled($options, 'margin')) {
            @include margin("", --l, $item-margin);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-margin(--l);
            }

            @if(not-option-disabled($options, 'auto')) {
                @include margin-auto(--l);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include margin("xsmall", --l, $item-margin-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include margin("small", --l, $item-margin-small);
            }

            @if(not-option-disabled($options, 'large')) {
                @include margin("large", --l, $item-margin-large);
            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include margin("xlarge", --l, $item-margin-xlarge);
            }
        }

        @if(not-option-disabled($options, 'padding')) {
            @include padding("", "--l", $item-padding);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-padding(--l);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include padding("xsmall", "--l", $item-padding-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include padding("small", "--l", $item-padding-small);
            }

            @if(not-option-disabled($options, 'large')) {
                @include padding("large", "--l", $item-padding-large);
            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include padding("xlarge", "--l", $item-padding-xlarge);
            }
        }
    }

    @include media-screen-min-xlarge {

        @if(not-option-disabled($options, 'display')) {
            @include display(--xl)
        }

        @if(not-option-disabled($options, 'margin')) {
            @include margin("", --xl, $item-margin);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-margin(--xl);
            }

            @if(not-option-disabled($options, 'auto')) {
                @include margin-auto(--xl);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include margin("xsmall", --xl, $item-margin-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include margin("small", --xl, $item-margin-small);
            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include margin("xlarge", --xl, $item-margin-xlarge);
            }

            @if(not-option-disabled($options, 'large')) {
                @include margin("large", --xl, $item-margin-large);
            }
        }

        @if(not-option-disabled($options, 'padding')) {
            @include padding("", "--xl", $item-padding);

            @if(not-option-disabled($options, 'remove')) {
                @include remove-padding(--xl);
            }

            @if(not-option-disabled($options, 'xsmall')) {
                @include padding("xsmall", "--xl", $item-padding-xsmall);
            }

            @if(not-option-disabled($options, 'small')) {
                @include padding("small", "--xl", $item-padding-small);
            }

            @if(not-option-disabled($options, 'large')) {
                @include padding("large", "--xl", $item-padding-large);
            }

            @if(not-option-disabled($options, 'xlarge')) {
                @include padding("xlarge", "--xl", $item-padding-xlarge);
            }
        }
    }
}

@mixin overflow {
    .#{$prefix}-overflow-hidden {
        overflow: hidden;
    }

    .#{$prefix}-overflow-x {
        overflow-x: scroll;
    }

    .#{$prefix}-overflow-x-auto {
        overflow-x: auto;
    }

    .#{$prefix}-overflow-x-hidden {
        overflow-x: hidden;
    }

    .#{$prefix}-overflow-y {
        overflow-y: scroll;
    }

    .#{$prefix}-overflow-y-auto {
        overflow-y: auto;
    }

    .#{$prefix}-overflow-y-hidden {
        overflow-y: hidden;
    }
}




@mixin clearfix {
    .#{$prefix}-clearfix {
        &:after {
            content    : "";
            display    : block;
            clear      : both;
            visibility : hidden;
            line-height: 0;
            height     : 0;
        }
    }
}

@mixin definitions($options: ()) {
    @if(not-option-disabled($options, 'clearfix')) {
        @include clearfix();
    }

    @if(not-option-disabled($options, 'display')) {
        @include display();
    }

    @if(not-option-disabled($options, 'wrapper')) {
        @include wrapper();
    }

    @if(not-option-disabled($options, 'overflow')) {
        @include overflow();
    }

    @if(not-option-disabled($options, 'margin')) {
        @include margin("", "", $item-margin);

        @if(not-option-disabled($options, 'remove')) {
            @include remove-margin();
        }

        @if(not-option-disabled($options, 'auto')) {
            @include margin-auto();
        }

        @if(not-option-disabled($options, 'xsmall')) {
            @include margin("xsmall", "", $item-margin-xsmall);
        }

        @if(not-option-disabled($options, 'small')) {
            @include margin("small", "", $item-margin-small);
        }

        @if(not-option-disabled($options, 'large')) {
            @include margin("large", "", $item-margin-large);
        }

        @if(not-option-disabled($options, 'xlarge')) {
            @include margin("xlarge", "", $item-margin-xlarge);
        }
    }

    @if(not-option-disabled($options, 'padding')) {
        @include padding("", "", $item-padding);

        @if(not-option-disabled($options, 'remove')) {
            @include remove-padding();
        }

        @if(not-option-disabled($options, 'xsmall')) {
            @include padding("xsmall", "", $item-padding-xsmall);
        }

        @if(not-option-disabled($options, 'small')) {
            @include padding("small", "", $item-padding-small);
        }

        @if(not-option-disabled($options, 'large')) {
            @include padding("large", "", $item-padding-large);
        }

        @if(not-option-disabled($options, 'xlarge')) {
            @include padding("xlarge", "", $item-padding-xlarge);
        }
    }

    @if(not-option-disabled($options, 'responsive')) {
        @include responsive($options);
    }
}