@use "../variables.scss"as *;

@mixin definitions($options) {
    .#{$prefix}-sticky-container {
        position: relative;
    }

    .#{$prefix}-sticky:not(table) {
        position  : sticky;
        top       : 0px;
        opacity   : 1;
        transform : translateY(0px);
        transition: transform 300ms ease-out, opacity 300ms ease-out;

        &.#{$prefix}-not-visible {
            opacity  : 0;
            transform: translateY(-100%);
        }
    }
}