// Mixins
//$prefix : 'cui' !default;

@use '../variables'as *;
@use '../mixins'as *;

@mixin visibility($size) {
    .#{$prefix}-hidden--#{$size} {
        display: none !important;
    }

    .#{$prefix}-invisible--#{$size} {
        visibility: hidden !important;
    }

    .#{$prefix}-visible--#{$size} {
        visibility: visible !important;
    }
}

@mixin visibility_normal($size) {
    .#{$prefix}-hidden--#{$size} {
        display: initial !important;
    }

    .#{$prefix}-invisible--#{$size} {
        visibility: visible !important;
    }

    .#{$prefix}-visible--#{$size} {
        visibility: invisible !important;
    }
}

@mixin hidden {
    position: absolute !important;
    width   : 0 !important;
    height  : 0 !important;
    padding : 0 !important;
    margin  : 0 !important;
    overflow: hidden !important;
}

// Definitions
@mixin definitions {
    .#{$prefix}-hidden {
        display: none !important;
    }

    .#{$prefix}-invisible {
        visibility: hidden !important;
    }

    .#{$prefix}-visible {
        visibility: visible !important;
    }

    @include visibility_normal(s);
    @include visibility_normal(m);
    @include visibility_normal(l);
    @include visibility_normal(xl);

    // Media
    @include media-screen-min-small {
        @include visibility(s);
    }

    @include media-screen-min-medium {
        @include visibility(m);
    }

    @include media-screen-min-large {
        @include visibility(l);
    }

    @include media-screen-min-xlarge {
        @include visibility(xl);
    }

    @media(orientation: landscape) {
        @include visibility(landscape)
    }

    /* smartphones, touchscreens */
    @media (hover: none) and (pointer: coarse) {

        .#{$prefix}-hidden-touch {
            @include hidden();
        }
    }

    /* mouse, touch pad */
    @media (hover: hover) and (pointer: fine) {

        .#{$prefix}-hidden-precise {
            @include hidden();
        }
    }

    // Hover

    .#{$prefix}-hover-trigger {
        &:not(:hover):not(:focus) {
            .#{$prefix}-hidden-hover {
                @include hidden();
            }
        }


        .#{$prefix}-invisible-hover {
            &:not(:focus-within) {
                opacity: 0;
            }
        }

        &:hover {
            .#{$prefix}-invisible-hover {
                opacity: 1;
            }
        }
    }
}