@use '../variables'as *;
@use '../mixins'as *;

$accordion-animation-time    : $animation-duration-default;
$accordion-color-default     : $component-color-default;
$accordion-color-default-dark: $component-color-default-dark;

$accordion-indicator-duration: $animation-duration-short;
$accordion-content-duration  : $animation-duration-short;
$accordion-font-size         : $font-normal;

@mixin accordion {
    .#{$prefix}-accordion {
        display   : block;
        list-style: none;
        margin    : 0;
        padding   : 0;

        >* {
            .#{$prefix}-accordion-title {
                display        : flex;
                font-size      : $accordion-font-size;
                text-decoration: none;
                align-items    : center;
                cursor         : pointer;
                user-select    : none;
                position       : relative;

                color                                 : $accordion-color-default;
                @include createHighlight($noTransition: true);

                &:before {
                    content              : "";
                    position             : absolute;
                    top                  : 50%;
                    right                : 0rem;
                    background-repeat    : no-repeat;
                    background-position  : 50% 50%;
                    width                : 20px;
                    height               : 20px;
                    transform            : translate(-50%, -50%) rotate(0deg);
                    //background-image   : url("%3Csvg+xmlns%3D%5C%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%5C%22+viewBox%3D%5C%220+0+20+20%5C%22+width%3D%5C%2220%5C%22+height%3D%5C%2220%5C%22%3E%3Cpath+style%3D%27fill%3Anone%3Bstroke%3A%2523999%3Bstroke-width%3A1px%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-opacity%3A1%27+d%3D%5C%22M+5.0000475%2C7.4490018+10.000024%2C12.551028+15%2C7.4490018%5C%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
                    background-image     : $accordion-icon;
                    transition           : transform $accordion-indicator-duration ease;
                }

                @include component-padding;

            }

            .#{$prefix}-accordion-content {
                padding   : 1em;
                opacity   : 0;
                transition: opacity $accordion-content-duration ease;
            }

            &:not(.#{$prefix}-active) {
                .#{$prefix}-accordion-content {
                    @include hidden();
                }
            }

            &.#{$prefix}-active {
                .#{$prefix}-accordion-title {
                    &:before {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }

                .#{$prefix}-accordion-content {
                    opacity: 1;
                }
            }
        }
    }
}

@mixin accordion-dark {
    .#{$prefix}-dark {
        .#{$prefix}-accordion {
            >* {
                .#{$prefix}-accordion-title {
                    @include updateHighlight($color: $highlight-color);
                    color                          : $accordion-color-default-dark;
                }
            }
        }
    }
}

@mixin accordion-print {
    .#{$prefix}-print {
        .#{$prefix}-accordion {
            >* {
                .#{$prefix}-accordion-title {
                    color: $accordion-color-default;
                }
            }
        }
    }
}

@mixin accordion-not-no-transitions {
    @include not-reduced-motion {
        .#{$prefix}-accordion {
            >* {
                .#{$prefix}-accordion-title {
                    &:before {
                        transition: transform $accordion-indicator-duration ease;
                    }
                }

                .#{$prefix}-accordion-content {
                    transition: opacity $accordion-content-duration ease;
                }
            }
        }
    }
}

@mixin definitions($options: ()) {
    @include accordion;

    @if(not-option-disabled($options, 'print')) {
        @include accordion-print;
    }

    @if(not-option-disabled($options, 'dark')) {
        @include accordion-dark;
    }

    @if(not-option-disabled($options, 'animation')) {
        @include accordion-not-no-transitions();
    }


}