@use "../variables.scss"as *;
@use "../mixins.scss"as *;

$background-color-shade      : $component-background-shade;
$background-color-shade-dark : $component-background-shade-dark;

$background-color-default     : $component-background-default;
$background-color-default-dark: $component-background-default-dark;

$themes: "accent",
"secondary",
"error",
"warning",
"success";

@mixin enumerate-backgrounds($suffix: "") {
    @each $accent in $themes {
        $color-name : "#{$accent}-shade#{$suffix}";

        .#{$prefix}-background-#{$accent} {
            background-color: get-theme-color("#{$color-name}") !important;
        }
    }
}


@mixin background {
    .#{$prefix}-background {
        box-sizing         : border-box;
        background-repeat  : no-repeat;
        background-position: center;
        background-clip    : content-box;

        &.#{$prefix}-background-border-box {
            background-clip: border-box;
        }

        &.#{$prefix}-background-padding-box {
            background-clip: padding-box;
        }

        &.#{$prefix}-background-position-start {
            background-position: left;
        }

        &.#{$prefix}-background-position-end {
            background-position: right;
        }

        &.#{$prefix}-background-size-cover {
            background-size: cover;
        }

        &.#{$prefix}-background-size-contain {
            background-size: contain;
        }
    }
}

@mixin background-colors {
    @include enumerate-backgrounds();

    .#{$prefix}-background-shade {
        background-color: $background-color-shade !important;
    }

    .#{$prefix}-background-default {
        background-color: $background-color-default !important;
    }

}

@mixin background-colors-dark {
    .#{$prefix}-dark {
        @include enumerate-backgrounds("-dark");

        .#{$prefix}-background-shade {
            background-color: $background-color-shade-dark !important;
        }

        .#{$prefix}-background-default {
            background-color: $background-color-default-dark !important;
        }
    }
}

@mixin background-print {
    .#{$prefix}-print {
        [class*="#{$prefix}-background"] {
            background-color: $component-print-background;
        }
    }
}

@mixin definitions {
    @include background();
    @include background-colors();
    @include background-colors-dark();
    @include background-print();
}