@use "variables.scss"as *;

@mixin background {
    .#{$prefix}-background {
        box-sizing         : border-box;
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : cover;
        background-clip    : content-box;

        .#{$prefix}-background-border-box {
            background-clip: border-box;
        }

        .#{$prefix}-background-padding-box {
            background-clip: padding-box;
        }

        .#{$prefix}-background-position-start {
            background-position: left;
        }

        .#{$prefix}-background-position-end {
            background-position: right;
        }
    }
}

@mixin definitions {
    @include background();
}