@use '../variables'as *;


$badge-text-size: $font-small;
$badge-text-line: $line-height-small;
$badge-padding  : 2px 6px;

$badge-background-accent   : $component-background-accent;
$badge-background-secondary: $component-background-secondary;
$badge-background-error    : $component-background-error;
$badge-background-success  : $component-background-success;
$badge-background-warning  : $component-background-warning;
$badge-background          : $component-background-default;
$badge-background-dark     : $component-background-default-dark;

$badge-color        : $component-color-default;
$badge-color-inverse: $component-color-inverse;
$badge-color-dark   : $component-color-default-dark;


@mixin badge {
    .#{$prefix}-badge-area {
        position: relative;

        .#{$prefix}-badge {
            position        : absolute;
            right           : 0;
            top             : 0;
            transform       : translate(4px, -4px);
            font-size       : $badge-text-size;
            line-height     : $badge-text-line;
            border          : 0px solid transparent;
            background-color: $badge-background;
            padding         : $badge-padding;
            color           : $badge-color;
            border-radius   : 20px;
            text-align      : center;
            box-sizing      : border-box;
            box-shadow      : $shadow;
            vertical-align  : middle;
            min-height      : $badge-text-line;
            min-width       : $badge-text-line;
            z-index         : 5;

            &.#{$prefix}-accent {
                background-color: $badge-background-accent;
                color           : $badge-color-inverse;
            }

            &.#{$prefix}-secondary {
                background-color: $badge-background-secondary;
                color           : $badge-color-inverse;
            }

            &.#{$prefix}-success {
                background-color: $badge-background-success;
                color           : $badge-color-inverse;
            }

            &.#{$prefix}-warning {
                background-color: $badge-background-warning;
                color           : $badge-color-inverse;
            }

            &.#{$prefix}-error {
                background-color: $badge-background-error;
                color           : $badge-color-inverse;
            }
        }
    }
}


@mixin badge-dark {
    .#{$prefix}-dark {
        .#{$prefix}-badge {
            background-color: $badge-background-dark;
            color           : $badge-color-dark;
        }
    }
}

@mixin badge-print {
    .#{$prefix}-print {
        .#{$prefix}-badge {
            box-shadow      : $component-print-shadow;
            background-color: $component-print-background;
            color           : $component-print-color;
            border          : $component-print-border;
        }
    }
}

@mixin definitions {
    @include badge();
    @include badge-dark();
    @include badge-print();
}