$banner-background-default      :$component-background-default;
$banner-background-default-dark :$component-background-default-dark;
$banner-background-inverse      :$component-background-inverse;
$banner-background-inverse-dark :$component-background-inverse-dark;
$banner-color-default           :$component-color-default;
$banner-color-default-dark      :$component-color-default-dark;
$banner-border-color            :$color-border-light;
$banner-border-color-dark       :$color-border-dark;
$banner-border-radius           :$border-radius-default;


@mixin banner-color($color) {
    border-color    : var(--color-#{$color});
    background-color: var(--color-#{$color}) !important;
    color           : $banner-background-default-dark;
}

div.#{$prefix}-banner {
    display         : none;
    justify-content : space-between;
    align-items     : center;
    border          : 1px solid $banner-border-color;
    background-color: $banner-background-default;
    color           : $banner-color-default;
    border-radius   : $banner-border-radius;
    box-shadow      : $shadow;
    margin          : 0 $margin-global;
    @include component-padding(same);

    &.#{$prefix}-open {
        display: flex;
    }

    .#{$prefix}-close,
    .#{$prefix}-icon-close {
        order: 100;
    }

    &.#{$prefix}-success {
        @include banner-color(success);
    }

    &.#{$prefix}-error {
        @include banner-color(error);
    }

    &.#{$prefix}-warning {
        @include banner-color(warning);
    }

    &.#{$prefix}-accent {
        @include banner-color(primary);

        &.#{$prefix}-secondary {
            @include banner-color(secondary);
        }

        .#{$prefix}-message-icon {
            order: -1;
        }
    }
}

/**
* Dark
*/
.#{$prefix}-dark {
    div.#{$prefix}-banner {
        border          : 1px solid $banner-border-color-dark;
        background-color: $banner-background-default-dark;
        color           : $banner-color-default-dark;
    }
}

/**
* Print
*/

.#{$prefix}-print {
    div.#{$prefix}-banner {
        border          : $component-print-border;
        background-color: $component-print-background;
        color           : $component-print-color;
        box-shadow      : $component-print-shadow;
    }
}