@use '../variables'as *;
@use '../mixins'as *;

$breadcrumb-color                 : $component-color-default;
$breadcrumb-color-dark            : $component-color-default-dark;
$breadcrumb-background-hover      : $component-background-shade;
$breadcrumb-background-hover-dark : $component-background-shade-dark;
$breadcrumb-background-active     : $component-background-shade-active;
$breadcrumb-background-active-dark: $component-background-shade-dark-active;
$breadcrumb-border-focus          : $component-color-active;
$breadcrumb-border-focus-dark     : $component-color-active-dark;

@mixin breadcrumb {
    ul.#{$prefix}-breadcrumb {
        list-style: none;
        margin    : 0px;
        padding   : 0px;

        li {
            display: inline;
            margin : 0.5rem 0rem;


            a {
                border         : 1px solid transparent;
                border-radius  : $border-radius-default;
                text-decoration: none;
                color          : $breadcrumb-color;
                @include component-padding;
                @include list-element-interaction($breadcrumb-background-hover);
            }


            &:after {
                content: "/";
                margin : 1em;
            }

            &:first-child {
                margin: 1rem 0rem;
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
}

@mixin breadcrumb-dark {
    .#{$prefix}-dark {
        ul.#{$prefix}-breadcrumb {
            li {
                a {
                    color: $breadcrumb-color-dark;
                    @include list-element-interaction($breadcrumb-background-hover-dark);

                    &:active {
                        background-color: $breadcrumb-background-active-dark;
                    }

                }
            }
        }
    }
}

@mixin breadcrumb-print {
    .#{$prefix}-print {
        ul.#{$prefix}-breadcrumb {

            li {
                a {
                    color: $component-print-color;

                    &:hover {
                        background-color: none;
                    }

                    &:active {
                        background-color: none;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

@mixin definitions($options: ()) {
    @include breadcrumb();

    @if(not-option-disabled($options, 'dark')) {
        @include breadcrumb-dark();
    }

    @if(not-option-disabled($options, 'print')) {
        @include breadcrumb-print();
    }



}