@use '../variables'as *;
@use '../mixins'as *;

$breadcrumb-color                : $component-color-default;
$breadcrumb-color-dark           : $component-color-default-dark;
$breadcrumb-background-hover     : var(--color-light-lighten);
$breadcrumb-background-hover-dark: var(--color-dark-darken);

@mixin breadcrumb {
    ul.#{$prefix}-breadcrumb {
        list-style: none;
        margin    : 0px;
        padding   : 0px;

        li {
            display: inline;
            margin : 0.5rem 0rem;


            a {
                border         : 0px solid transparent;
                border-radius  : $border-radius-default;
                text-decoration: none;
                color          : $breadcrumb-color;
                @include component-padding;

                &:hover {
                    background-color: $breadcrumb-background-hover;
                }
            }


            &:after {
                content: "/";
                margin : 1em;
            }

            &:first-child {
                margin: 1rem 0rem;
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
}

@mixin breadcrum-dark {
    .#{$prefix}-dark {
        ul.#{$prefix}-breadcrumb {
            li {
                a {
                    color: $breadcrumb-color-dark;

                    &:hover {
                        background-color: $breadcrumb-background-hover-dark;
                    }
                }
            }
        }
    }
}

@mixin definitions {
    @include breadcrumb();
    @include breadcrum-dark();
}