@use '../variables'as *;
@use '../mixins'as *;

$button-background-default            : $component-background-default;
$button-background-default-active     : $component-background-shade;
$button-background-default-active-dark: $component-background-shade-dark;
$button-background-inverse            : $component-background-default;
$button-background-shade              : $component-background-shade;
$button-background-shade-active       : $component-background-shade-active;
$button-background-shade-dark         : $component-background-shade-dark;
$button-background-shade-dark-active  : $component-background-shade-dark-active;
$button-background-default-dark       : $component-background-default-dark;
$button-background-inverse-dark       : $component-background-default-dark;
$button-background-accent             : $component-background-accent;
$button-background-accent-hover       : $component-background-accent-hover;
$button-background-accent-active      : $component-background-accent-active;
$button-background-secondary          : $component-background-secondary;
$button-background-secondary-hover    : $component-background-secondary-hover;
$button-background-secondary-active   : $component-background-secondary-active;
$button-background-error              : $component-background-error;
$button-background-error-hover        : $component-background-error-hover;
$button-background-error-active       : $component-background-error-active;
$button-background-warning            : $component-background-warning;
$button-background-warning-hover      : $component-background-warning-hover;
$button-background-warning-active     : $component-background-warning-active;
$button-background-success            : $component-background-success;
$button-background-success-hover      : $component-background-success-hover;
$button-background-success-active     : $component-background-success-active;
$button-color-default                 : $component-color-default;
$button-color-inverse                 : $component-color-inverse;
$button-color-default-dark            : $component-color-default-dark;
$button-color-inverse-dark            : $component-color-inverse-dark;
$button-border-color                  : $component-color-muted;
$button-border-color-hover            : $component-color-default;
$button-border-color-active           : $component-color-active;
$button-border-color-dark             : $component-color-muted-dark;
$button-border-color-hover-dark       : $component-color-default-dark;
$button-border-color-active-dark      : $component-color-default-dark;
$button-outline                       : $outline-default;


@mixin button {

    .#{$prefix}-button {
        @include component-padding;
        display         : inline-flex;
        align-items     : center;
        background-color: transparent;
        border          : 1px solid transparent;
        border-radius   : $border-radius-default;
        color           : $button-color-default;
        font-size       : 1rem;
        line-height     : 20px;
        text-align      : center;
        vertical-align  : middle;
        text-decoration : none;
        margin          : 0px;
        box-sizing      : border-box;
        font-family     : $font-family;

        // background-color: var(--color-light-lighten);

        cursor: pointer;

        &.#{$prefix}-large {
            @include component-padding(large);
        }

        &.#{$prefix}-small {
            @include component-padding(small);
        }

        &.#{$prefix}-fill {
            display: block;
            width  : 100%;
        }



        &.#{$prefix}-default {
            color       : $button-color-default;
            border-color: $button-border-color;
        }

        &.#{$prefix}-shade {
            background-color: $button-background-shade;
            color           : $button-color-default;
            border-color    : $button-background-shade;
        }

        &.#{$prefix}-rounded {
            border-radius: $border-radius-round;
        }

        &:hover {
            outline: none !important;

            &.#{$prefix}-default {
                border-color: $button-border-color-hover;
            }
        }

        &:active {
            outline: none !important;

            &.#{$prefix}-shade {
                background-color: $button-background-shade-active;
            }

            &.#{$prefix}-default {
                border-color       : $button-border-color-active;
                // background-color: $button-background-default-active;
            }
        }

        // &:focus {
        //     outline: $button-outline;
        // }

    }

    .#{$prefix}-inverse,
    .#{$prefix}-accent,
    .#{$prefix}-secondary,
    .#{$prefix}-error,
    .#{$prefix}-warning,
    .#{$prefix}-success {
        &:not(.#{$prefix}-section):not(.#{$prefix}-hint) {
            .#{$prefix}-button {
                color: $button-color-default-dark;

                &.#{$prefix}-default {
                    color       : $button-color-default-dark;
                    border-color: $button-border-color-dark;
                }

                &.#{$prefix}-shade {
                    background-color: $button-background-shade-dark;
                    color           : $button-color-default-dark;
                    border-color    : $button-background-shade-dark;
                }

                &:hover {
                    &.#{$prefix}-default {
                        color       : $button-color-default-dark;
                        border-color: $button-border-color-hover-dark;
                    }
                }

                &:active {
                    &.#{$prefix}-default {
                        color           : $button-color-default-dark;
                        border-color    : $button-border-color-active-dark;
                        background-color: $button-background-default-active-dark;
                    }

                    &.#{$prefix}-shade {
                        background-color: $button-background-shade-dark-active;
                    }
                }
            }
        }
    }
}

@mixin button-signals {
    .#{$prefix}-button {
        &.#{$prefix}-accent {
            background-color: $button-background-accent;
            color           : $button-color-inverse;
            border-color    : $button-background-accent;

        }

        &.#{$prefix}-secondary {
            background-color: $button-background-secondary;
            color           : $button-color-inverse;
            border-color    : $button-background-secondary;
        }

        &.#{$prefix}-success {
            background-color: $button-background-success;
            color           : $button-color-inverse;
        }

        &.#{$prefix}-error {
            background-color: $button-background-error;
            color           : $button-color-inverse;
            border-color    : $button-background-error;
        }

        &.#{$prefix}-warning {
            background-color: $button-background-warning;
            color           : $button-color-inverse;
            border-color    : $button-background-warning;
        }

        &:hover {
            &.#{$prefix}-accent {
                background-color: $button-background-accent-hover;
            }

            &.#{$prefix}-secondary {
                background-color: $button-background-secondary-hover;
            }

            &.#{$prefix}-success {
                background-color: $button-background-success-hover;
            }

            &.#{$prefix}-error {
                background-color: $button-background-error-hover;
            }

            &.#{$prefix}-warning {
                background-color: $button-background-warning-hover;
            }
        }

        &:active {

            &.#{$prefix}-accent {
                background-color: $button-background-accent-active;
            }

            &.#{$prefix}-secondary {
                background-color: $button-background-secondary-active;
            }

            &.#{$prefix}-error {
                background-color: $button-background-error-active;

            }

            &.#{$prefix}-warning {
                background-color: $button-background-warning-active;

            }

            &.#{$prefix}-success {
                background-color: $button-background-success-active;

            }
        }

    }

}

@mixin button-dark {
    .#{$prefix}-dark {
        .#{$prefix}-button {
            color: $button-color-default-dark;

            &.#{$prefix}-default {
                color       : $button-color-default-dark;
                border-color: $button-border-color-dark;
            }

            &.#{$prefix}-shade {
                background-color: $button-background-shade-dark;
                color           : $button-color-default-dark;
                border-color    : $button-background-shade-dark;
            }

            &:hover {
                &.#{$prefix}-default {
                    color       : $button-color-default-dark;
                    border-color: $button-border-color-hover-dark;
                }
            }

            &:active {
                &.#{$prefix}-default {
                    color             : $button-color-default-dark;
                    border-color      : $button-border-color-active-dark;
                    //background-color: $button-background-default-active-dark;
                }

                &.#{$prefix}-shade {
                    background-color: $button-background-shade-dark-active;
                }
            }
        }

        .#{$prefix}-inverse {
            .#{$prefix}-button {
                &.#{$prefix}-default {
                    color       : $button-color-default;
                    border-color: $button-border-color;
                }

                &.#{$prefix}-shade {
                    background-color: $button-background-shade;
                    color           : $button-color-default;
                    border-color    : $button-background-shade;
                }

                &:hover {
                    &.#{$prefix}-default {
                        color       : $button-color-default;
                        border-color: $button-border-color-hover;
                    }
                }

                &:active {
                    &.#{$prefix}-default {
                        color           : $button-color-default;
                        border-color    : $button-border-color-active;
                        background-color: $button-background-default-active;
                    }

                    &.#{$prefix}-shade {
                        background-color: $button-background-shade-active;
                    }
                }
            }

        }
    }

}

@mixin button-print {
    .#{$prefix}-print {
        .#{$prefix}-button {
            border          : $component-print-border;
            color           : $component-print-color;
            background-color: $component-print-background;
        }
    }
}

@mixin button-nav {
    .#{$prefix}-button-nav {
        display       : inline-flex;
        flex-direction: row;

        &>* {
            border-radius: 0;

            &:not(:first-child) {
                //border-left-color: transparent;
                margin-left: -1px;
            }

            &:first-child {
                border-top-left-radius   : 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius   : 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

@mixin definitions {
    @include button();
    @include button-signals();
    @include button-dark();
    @include button-print();
    @include button-nav();
}