@use '../variables'as *;
@use '../mixins'as *;

$card-background-default        : $component-background-default;
$card-background-inverse        : $component-background-inverse;
$card-background-inverse-dark   : $component-background-inverse-dark;
$card-background-default-dark   : $component-background-default-dark;
$card-background-accent         : $component-background-accent;
$card-background-secondary      : $component-background-secondary;
$card-background-accent-dark    : $component-background-accent-dark;
$card-background-secondary-dark : $component-background-secondary-dark;
$card-color-default             : $component-color-default;
$card-color-inverse             : $component-color-inverse;
$card-color-inverse-dark        : $component-color-inverse-dark;
$card-color-default-dark        : $component-color-default-dark;
$card-separator-color           : $component-border-default;
$card-separator-color-dark      : $component-border-default-dark;
$card-separator-color-accent    : $component-border-default-dark;
$card-border-color              : transparent; //$color-border-light;
$card-border-color-dark         : transparent; //$color-border-dark;


@mixin card {
    .#{$prefix}-card {
        display         : block;
        box-sizing      : border-box;
        background-color: transparent;
        border          : 1px solid transparent;


        >*:only-child {
            @include component-padding(normal, same);
        }

        &.#{$prefix}-hover {
            &:hover {
                box-shadow: $shadow2 !important;
            }
        }

        &.#{$prefix}-large {

            .#{$prefix}-card-header {
                @include component-padding-complex(header, large)
            }

            .#{$prefix}-card-body {
                @include component-padding-complex(body, large)
            }

            .#{$prefix}-card-footer {
                @include component-padding-complex(footer, large)
            }

        }

        .#{$prefix}-card-title {
            @include component-header;
        }

        .#{$prefix}-card-header {
            @include component-padding(normal, same);
        }

        .#{$prefix}-card-body {
            max-width: 100%;
            @include component-padding-complex(body);

            &:last-child {
                @include component-padding-complex(footer);
            }

        }

        .#{$prefix}-card-footer {
            @include component-padding-complex(footer);

            &.#{$prefix}-no-separator {
                border-top: none;
            }
        }

        &.#{$prefix}-default {
            border-radius   : $border-radius-default;
            background-color: $card-background-default;
            box-shadow      : $shadow;
            color           : $card-color-default;
            border          : 1px solid $card-border-color;

        }

        &.#{$prefix}-inverse {
            border-radius   : $border-radius-default;
            background-color: $card-background-inverse;
            box-shadow      : $shadow;
            color           : $card-color-inverse;

            .#{$prefix}-card-header,
            .#{$prefix}-card-footer {
                border-color: $card-separator-color-dark;
            }
        }
    }
}

@mixin card-fill {
    .#{$prefix}-card {
        &.#{$prefix}-fill-parent {
            width         : 100%;
            height        : 100%;
            display       : flex;
            flex-direction: column;

            .#{$prefix}-card-header,
            .#{$prefix}-card-footer {
                width: 100%;
                flex : 0 0 auto;
            }

            .#{$prefix}-card-body {
                width     : 100%;
                flex      : 1 1 auto;
                overflow-y: auto;
            }
        }
    }
}

@mixin card-side {
    .#{$prefix}-card {
        &.#{$prefix}-side {
            display    : flex;
            flex-wrap  : wrap;
            box-sizing : border-box;
            align-items: stretch;

            .#{$prefix}-content {
                display       : flex;
                flex-direction: column;

                .#{$prefix}-card-header,
                .#{$prefix}-card-footer {
                    flex: 0 0 auto;
                }

                .#{$prefix}-card-body {
                    flex: 1 1 auto;
                }

                >*:only-child {
                    flex: 1 1 auto;
                    @include component-padding(normal, same);
                }
            }
        }
    }
}

@mixin card-hover {
    .#{$prefix}-card {

        &.#{$prefix}-hover {
            &:hover {
                box-shadow: $shadow2 !important;
            }
        }
    }
}

@mixin card-large {
    .#{$prefix}-card {
        &.#{$prefix}-large {

            .#{$prefix}-card-header {
                @include component-padding-complex(header, large)
            }

            .#{$prefix}-card-body {
                @include component-padding-complex(body, large)
            }

            .#{$prefix}-card-footer {
                @include component-padding-complex(footer, large)
            }

        }
    }
}

@mixin card-theme {
    .#{$prefix}-card {
        &.#{$prefix}-accent {
            border-radius   : $border-radius-default;
            background-color: $card-background-accent;
            box-shadow      : $shadow;
        }

        &.#{$prefix}-secondary {
            border-radius   : $border-radius-default;
            background-color: $card-background-secondary;
            box-shadow      : $shadow;
        }

        &.#{$prefix}-accent,
        &.#{$prefix}-secondary {
            color: $card-color-default-dark;

            .#{$prefix}-card-header,
            .#{$prefix}-card-footer {
                border-color: $card-separator-color-accent;
            }
        }
    }
}

@mixin card-dark {
    @include mode-dark {
        .#{$prefix}-card {
            &.#{$prefix}-default {
                background-color: $card-background-default-dark;
                box-shadow      : $shadow;
                color           : $card-color-default-dark;
            }


        }
    }
}

@mixin card-theme-dark {
    @include mode-dark {
        .#{$prefix}-card {
            &.#{$prefix}-accent {
                background-color: $card-background-accent-dark;
                box-shadow      : $shadow;
            }

            &.#{$prefix}-secondary {
                background-color: $card-background-secondary-dark;
                box-shadow      : $shadow;
            }

            &.#{$prefix}-accent,
            &.#{$prefix}-secondary {
                color: $card-color-default-dark;

                .#{$prefix}-card-header,
                .#{$prefix}-card-footer {
                    border-color: $card-separator-color-accent;
                }
            }
        }
    }
}

@mixin card-dark-inverse {
    @include mode-dark {
        .#{$prefix}-card {
            &.#{$prefix}-inverse {
                background-color: $card-background-inverse-dark;
                box-shadow      : $shadow;
                color           : $card-color-inverse-dark;
            }
        }
    }
}

@mixin card-print {
    @include mode-print {
        .#{$prefix}-card {
            box-shadow: $component-print-shadow;

            &.#{$prefix}-default {
                background-color: $component-print-background;
                color           : $component-print-color;

            }


        }
    }
}

@mixin card-print-inverse {
    @include mode-print {
        .#{$prefix}-card {
            &.#{$prefix}-inverse {
                background-color: $component-print-background;
                box-shadow      : $component-print-shadow;
                color           : $component-print-color;
            }
        }
    }
}

@mixin card-print-theme {
    @include mode-print {
        .#{$prefix}-card {
            box-shadow: $component-print-shadow;

            &.#{$prefix}-accent,
            &.#{$prefix}-secondary {
                background-color: $component-print-background;
                color           : $component-print-color;

            }
        }
    }
}

@mixin definitions($options: ()) {
    @include card();

    @if(not-option-disabled($options, 'dark')) {
        @include card-dark();
    }

    @if(not-option-disabled($options, 'fill')) {
        @include card-fill();
    }

    @if(not-option-disabled($options, 'print')) {
        @include card-print();

        @if(not-option-disabled($options, 'theme')) {
            @include card-print-theme();
        }
    }

    @if(not-option-disabled($options, 'inverse')) {
        @if(not-option-disabled($options, 'print')) {
            @include card-print-inverse();
        }

        @if(not-option-disabled($options, 'dark')) {
            @include card-dark-inverse();
        }
    }

    @if(not-option-disabled($options, 'theme')) {
        @include card-theme();

        @if(not-option-disabled($options, 'dark')) {
            @include card-theme-dark();
        }
    }

    @if(not-option-disabled($options, 'large')) {
        @include card-large();
    }

    @if(not-option-disabled($options, 'side')) {
        @include card-side();
    }

    @if(not-option-disabled($options, 'hover')) {
        @include card-hover();
    }

}