@use '../variables'as *;
@use '../mixins'as *;

$card-background-default      : $component-background-default;
$card-background-inverse      : $component-background-inverse;
$card-background-inverse-dark : $component-background-inverse-dark;
$card-background-default-dark : $component-background-default-dark;
$card-background-accent       : $component-background-accent;
$card-background-secondary    : $component-background-secondary;
$card-color-default           : $component-color-default;
$card-color-inverse           : $component-color-inverse;
$card-color-inverse-dark      : $component-color-inverse-dark;
$card-color-default-dark      : $component-color-default-dark;
$card-separator-color         : $color-border-light;
$card-separator-color-dark    : $color-border-dark;
$card-separator-color-accent  : $color-border-dark;
$card-border-color            : transparent; //$color-border-light;
$card-border-color-dark       : transparent; //$color-border-dark;


@mixin card {
    .#{$prefix}-card {
        display         : block;
        box-sizing      : border-box;
        background-color: transparent;
        border          : 1px solid transparent;


        >*:only-child {
            @include component-padding(normal, same);
        }

        // &.#{$prefix}-card-expand {
        //     width: 100%;
        // }

        &.#{$prefix}-side {
            display    : flex;
            flex-wrap  : wrap;
            box-sizing : border-box;
            align-items: stretch;

            .#{$prefix}-content {
                height: 100%;
            }
        }

        &.#{$prefix}-hover {
            &:hover {
                box-shadow: $shadow2;
            }
        }

        &.#{$prefix}-large {

            .#{$prefix}-card-header {
                @include component-padding-complex(header, large)
            }

            .#{$prefix}-card-body {
                @include component-padding-complex(body, large)
            }

            .#{$prefix}-card-footer {
                @include component-padding-complex(footer, large)
            }

        }

        .#{$prefix}-card-title {
            @include component-header;
        }

        .#{$prefix}-card-header {
            // @include component-padding-complex(header);
            @include component-padding(normal, ame);
        }

        .#{$prefix}-card-body {
            max-width: 100%;
            @include component-padding-complex(body);
        }

        .#{$prefix}-card-footer {
            @include component-padding-complex(footer);

            &.#{$prefix}-no-separator {
                border-top: none;
            }
        }

        &.#{$prefix}-default {
            border-radius   : $border-radius-default;
            background-color: $card-background-default;
            box-shadow      : $shadow;
            color           : $card-color-default;
            border          : 1px solid $card-border-color;

        }

        &.#{$prefix}-inverse {
            border-radius   : $border-radius-default;
            background-color: $card-background-inverse;
            box-shadow      : $shadow;
            color           : $card-color-inverse;

            .#{$prefix}-card-header,
            .#{$prefix}-card-footer {
                border-color: $card-separator-color-dark;
            }
        }
    }
}

@mixin card-theme {
    .#{$prefix}-card {
        &.#{$prefix}-accent {
            border-radius   : $border-radius-default;
            background-color: $card-background-accent;
            box-shadow      : $shadow;
        }

        &.#{$prefix}-secondary {
            border-radius   : $border-radius-default;
            background-color: $card-background-secondary;
            box-shadow      : $shadow;
        }

        &.#{$prefix}-accent,
        &.#{$prefix}-secondary {
            color: $card-color-default-dark;

            .#{$prefix}-card-header,
            .#{$prefix}-card-footer {
                border-color: $card-separator-color-accent;
            }
        }
    }
}

@mixin card-dark {
    .#{$prefix}-dark {
        .#{$prefix}-card {
            .#{$prefix}-card-header {
                border-bottom: 1px solid $card-separator-color-dark;
            }

            .#{$prefix}-card-footer {
                border-top: 1px solid $card-separator-color-dark;
            }

            &.#{$prefix}-default {
                background-color: $card-background-default-dark;
                box-shadow      : $shadow;
                color           : $card-color-default-dark;
                border          : 1px solid $card-border-color-dark;
            }

            &.#{$prefix}-inverse {
                background-color: $card-background-inverse-dark;
                box-shadow      : $shadow;
                color           : $card-color-inverse-dark;
                border          : 1px solid $card-border-color;

                .#{$prefix}-card-header,
                .#{$prefix}-card-footer {
                    border-color: $card-separator-color;
                }
            }
        }
    }
}

@mixin card-print {
    .#{$prefix}-print {
        .#{$prefix}-card {
            box-shadow: $component-print-shadow;

            &.#{$prefix}-default,
            &.#{$prefix}-accent,
            &.#{$prefix}-secondary {
                background-color: $component-print-background;
                color           : $component-print-color;
                border          : $component-print-border;
            }

            .#{$prefix}-card-header {
                border-bottom: $component-print-border
            }

            .#{$prefix}-card-footer {
                border-top: $component-print-border
            }
        }
    }
}

@mixin definitions {
    @include card();
    @include card-theme();
    @include card-dark();
    @include card-print();
}