/**
* Simple element which covers whole viewport
*
*/
@use '../variables'as *;

$cover-background-default : $component-background-default;
$cover-background-dark    : $component-background-default-dark;
$cover-color-default      : $component-color-default;
$cover-color-dark         : $component-color-default-dark;
$cover-transition-duration: $animation-duration-long;

@mixin cover {
    .#{$prefix}-cover {
        top             : 0px;
        left            : 0px;
        height          : 100vh;
        width           : 100vw;
        opacity         : 0;
        transform       : scale(0, 0);
        transform-origin: bottom center;
        position        : absolute;

        background-color: $cover-background-default;
        color           : $cover-color-default;
        z-index         : 1250;

        &.#{$prefix}-active {
            transition: transform $cover-transition-duration ease-in-out,
                opacity $cover-transition-duration ease-out;
            opacity  : 1;
            transform: scale(1, 1);
        }
    }
}

@mixin cover-dark {
    .#{$prefix}-dark {
        .#{$prefix}-cover {
            background-color: $cover-background-dark;
            color           : $cover-color-dark;
        }
    }
}

@mixin cover-print {
    .#{$prefix}-print {
        .#{$prefix}-cover {
            background-color: $component-print-background;
            color           : $component-print-color;
        }
    }
}

@mixin definitions {
    @include cover();
    @include cover-dark();
    @include cover-print();
}