@use '../variables'as *;
@use '../mixins'as *;

$dialog-border-color           : $color-border-light;
$dialog-border-color-dark      : $color-border-dark;
$dialog-backdrop-color         : $color-backdrop-dark;
$dialog-backdrop-color-dark    : $color-backdrop-dark;
$dialog-background-default     : $component-background-default;
$dialog-background-default-dark: $component-background-default-dark;
$dialog-color-default          : $component-color-default;
$dialog-color-default-dark     : $component-color-default-dark;
$dialog-animation-time         : $animation-duration-long;
$dialog-animation-time-short   : $animation-duration-short;
$dialog-margin-large           : $margin-global-large;

@mixin dialog {
    .#{$prefix}-dialog {
        position           : fixed;
        top                : 0px;
        left               : 0px;
        z-index            : 1200;
        // min-height      : 100vh;
        height             : 100vh;
        overflow-y         : auto;
        width              : 100vw;
        display            : flex;
        justify-content    : center;
        align-items        : flex-start;
        background-color   : $dialog-backdrop-color;

        &[class*="cui-reverse"] {
            align-items: flex-end;
        }

        &:not(.animation-progress):not(.#{$prefix}-active) {
            display: none;
        }

        .#{$prefix}-dialog-container {
            opacity         : 0;
            width           : $size-medium;
            background-color: $dialog-background-default;
            color           : $dialog-color-default;
            box-shadow      : $shadow3;
            border          : 1px solid $dialog-border-color;
            border-radius   : $border-radius-default;
            margin-top      : $dialog-margin-large;
            margin-bottom   : $dialog-margin-large;

            .#{$prefix}-dialog-header {
                @include component-padding(normal, same);
                display        : flex;
                flex-wrap      : nowrap;
                justify-content: space-between;
                align-items    : center;

                .#{$prefix}-dialog-title {
                    @include component-header;
                }
            }

            .#{$prefix}-dialog-body {
                @include component-padding(normal, same);
                overflow-y: auto;
            }

            .#{$prefix}-dialog-footer {
                @include component-padding(normal, same);
            }
        }

        &.#{$prefix}-active {
            .#{$prefix}-dialog-container {
                opacity: 1;
            }
        }
    }

    body.#{$prefix}-dialog-open {
        overflow: hidden;
        position: fixed;
    }

    @include media-screen-min-small {
        .#{$prefix}-dialog-container {
            width: $size-large !important;
        }
    }

    @include media-screen-min-medium {
        .#{$prefix}-dialog {
            &.#{$prefix}-reverse-auto {
                align-items: flex-start;
            }
        }
    }

    @include media-screen-min-xlarge {
        .#{$prefix}-dialog-container {
            width: $size-xlarge !important;
        }
    }

    @include media-screen-height-max-small {
        .#{$prefix}-dialog {
            &.#{$prefix}-reverse-auto {
                align-items: flex-start;
            }

            .#{$prefix}-dialog-container {
                margin-bottom: $dialog-margin-large;

            }

        }
    }

}

@mixin dialog-dark {
    .#{$prefix}-dark {
        .#{$prefix}-dialog {
            background-color: $dialog-backdrop-color-dark;

            .#{$prefix}-dialog-container {
                background-color: $dialog-background-default-dark;
                color           : $dialog-color-default-dark;
            }
        }
    }
}

@mixin dialog-print {
    .#{$prefix}-print {
        .#{$prefix}-dialog {
            background-color: $component-print-background;

            .#{$prefix}-dialog-container {
                background-color: $component-print-background;
                color           : $component-print-color;
                border          : $component-print-border;
                box-shadow      : $component-print-shadow;

                .#{$prefix}-dialog-header {
                    border-bottom: $component-print-border;
                }

                .#{$prefix}-dialog-footer {
                    border-top: $component-print-border;
                }
            }
        }
    }
}

@mixin dialog-animations {
    .#{$prefix}-dialog-default-in {
        animation: animFadeIn $dialog-animation-time-short ease-in forwards;

        .#{$prefix}-dialog-container {
            animation: animDialogIn $dialog-animation-time ease-out forwards;
        }
    }

    .#{$prefix}-dialog-default-out {
        animation: animFadeOut $dialog-animation-time-short ease-in forwards;

        .#{$prefix}-dialog-container {
            animation: animDialogOut $dialog-animation-time-short ease-in forwards;
        }
    }


    @keyframes animDialogIn {
        0% {
            opacity  : 0;
            transform: scale(0, 0) translateY(-70px);
        }

        35% {
            opacity: 0.5;
        }

        70% {
            opacity  : 1;
            transform: scale(1.1, 1.1);
        }

        100% {
            opacity  : 1;
            transform: scale(1, 1) translateY(0%);
        }
    }

    @keyframes animDialogOut {
        0% {
            opacity  : 1;
            transform: scale(1, 1) translateY(0px);
        }

        100% {
            opacity  : 0;
            transform: scale(0.8, 0.8) translateY(-70px);
        }
    }
}

@mixin definitions {
    @include dialog;
    @include dialog-dark;
    @include dialog-print;
    @include dialog-animations;

}