$hint-background-default        : $component-background-shade;
$hint-background-default-dark   : $component-background-shade-dark;
$hint-background-accent         : $component-background-accent-shade;
$hint-background-accent-dark    : $component-background-accent-shade-dark;
$hint-background-secondary      : $component-background-secondary-shade;
$hint-background-secondary-dark : $component-background-secondary-shade-dark;
$hint-background-error          : $component-background-error-shade;
$hint-background-error-dark     : $component-background-error-shade-dark;
$hint-background-warning        : $component-background-warning-shade;
$hint-background-warning-dark   : $component-background-warning-shade-dark;
$hint-background-success        : $component-background-success-shade;
$hint-background-success-dark   : $component-background-success-shade-dark;
$hint-color-default             : $component-color-default;
$hint-color-dark                : $component-color-default-dark;
$hint-border-color-default      : $component-color-muted;
$hint-border-color-default-dark : $component-color-muted-dark;
$hint-border-color-accent       : $component-background-accent;
$hint-border-color-secondary    : $component-background-secondary;
$hint-border-color-error        : $component-background-error;
$hint-border-color-warning      : $component-background-warning;
$hint-border-color-success      : $component-background-success;

.#{$prefix}-hint {
    border-left     : 8px solid $hint-border-color-default;
    background-color: $hint-background-default;
    color           : $hint-color-default;

    &.#{$prefix}-body {
        @include component-padding(same);
    }

    .#{$prefix}-hint-title {
        @include component-header;
        @include component-padding-complex(header);
    }

    .#{$prefix}-hint-body {
        @include component-padding-complex(body);
    }

    .#{$prefix}-hint-footer {
        display        : flex;
        justify-content: flex-end;
        align-items    : center;
        text-align     : end;
        font-style     : italic;
        @include component-padding-complex(footer);
    }

    &.#{$prefix}-accent {
        background-color: $hint-background-accent;
        border-color    : $hint-border-color-accent;
    }

    &.#{$prefix}-secondary {
        background-color: $hint-background-secondary;
        border-color    : $hint-border-color-secondary;
    }

    &.#{$prefix}-warning {
        background-color: $hint-background-warning;
        border-color    : $hint-border-color-warning;
    }

    &.#{$prefix}-error {
        background-color: $hint-background-error;
        border-color    : $hint-border-color-error;
    }

    &.#{$prefix}-success {
        background-color: $hint-background-success;
        border-color    : $hint-border-color-success;
    }
}

/**
* Dark
*/

.#{$prefix}-dark {
    .#{$prefix}-hint {
        border-color    : $hint-border-color-default-dark;
        color           : $hint-color-dark;
        background-color: $hint-background-default-dark;
    }

    &.#{$prefix}-accent {
        background-color: $hint-background-accent-dark;
    }

    &.#{$prefix}-secondary {
        background-color: $hint-background-secondary-dark;
    }

    &.#{$prefix}-warning {
        background-color: $hint-background-warning-dark;
    }

    &.#{$prefix}-error {
        background-color: $hint-background-error-dark;
    }

    &.#{$prefix}-success {
        background-color: $hint-background-success-dark;
    }
}

/**
* Print
*/

.#{$prefix}-print {
    .#{$prefix}-hint {
        border          : $component-print-border;
        color           : $component-print-color;
        background-color: $component-print-background;
    }
}