@use '../variables'as *;
@use '../mixins'as *;

$icon-color-default      : $component-color-default;
$icon-color-inverse      : $component-color-inverse;
$icon-color-inverse-dark : $component-color-inverse-dark;
$icon-color-default-dark : $component-color-default-dark;

$icon-border-color             : $component-color-muted;
$icon-border-color-hover       : $component-color-default;
$icon-border-color-active      : $component-color-active;
$icon-border-color-dark        : $component-color-muted-dark;
$icon-border-color-hover-dark  : $component-color-default-dark;
$icon-border-color-active-dark : $component-color-default-dark;

$icon-button-background-default     : $component-background-default;
$icon-button-background-inverse     : $component-background-inverse;
$icon-button-background-default-dark: $component-background-default-dark;
$icon-button-background-inverse-dark: $component-background-inverse-dark;

$icon-color-accent   : $component-background-accent;
$icon-color-secondary: $component-background-secondary;
$icon-color-error    : $component-background-error;
$icon-color-warning  : $component-background-warning;
$icon-color-success  : $component-background-success;

@mixin for-color-button {
    &.#{$prefix}-button {

        &.#{$prefix}-accent,
        &.#{$prefix}-secondary,
        &.#{$prefix}-error,
        &.#{$prefix}-warning,
        &.#{$prefix}-success {
            @content;
        }
    }
}

@mixin get-icon-color-style($name: "") {
    color: $name;

    svg {
        path {
            stroke: $name;
        }
    }
}

@mixin icon {

    a.#{$prefix}-icon,
    a.#{$prefix}-svg {
        cursor: pointer;
    }

    span.#{$prefix}-svg,
    span.#{$prefix}-icon {
        border    : 1px solid transparent;
        box-sizing: border-box;
    }

    .#{$prefix}-icon,
    .#{$prefix}-icon-button,
    .#{$prefix}-svg {
        display        : inline-flex;
        align-items    : center;
        justify-content: center;
        text-align     : center;
        line-height    : 20px;
        vertical-align : middle;
        text-decoration: none;
        color          : $icon-color-default;

        svg {
            box-sizing     : border-box;
            height         : auto;
            order          : 0;
            fill           : none;
            stroke         : $icon-color-default;
            stroke-opacity : 1;
            stroke-width   : 1px;
            stroke-linecap : round;
            stroke-linejoin: miter;
        }

        &.cui-bold {
            svg {
                stroke-width: 2px;
            }

        }

        @include for-color-button {
            @include get-icon-color-style($icon-color-inverse);
        }

        &.#{$prefix}-dark,
        &.#{$prefix}-inverse {
            @include get-icon-color-style($icon-color-inverse);
        }

        &.#{$prefix}-accent {
            @include get-icon-color-style($icon-color-accent);
        }

        &.#{$prefix}-secondary {
            @include get-icon-color-style($icon-color-secondary);
        }

        &.#{$prefix}-success {
            @include get-icon-color-style($icon-color-success);
        }

        &.#{$prefix}-warning {
            @include get-icon-color-style($icon-color-warning);
        }

        &.#{$prefix}-error {
            @include get-icon-color-style($icon-color-error);
        }

        /**
    * if there is any element
    */

        &.#{$prefix}-icon-margin {
            &>svg {
                margin-right: 8px;
            }
        }

    }

    .#{$prefix}-inverse,
    .#{$prefix}-accent,
    .#{$prefix}-secondary,
    .#{$prefix}-error,
    .#{$prefix}-warning,
    .#{$prefix}-success {

        &:not(.#{$prefix}-section):not(.#{$prefix}-hint) {

            .#{$prefix}-icon,
            .#{$prefix}-icon-button {
                @include get-icon-color-style($icon-color-inverse);
            }
        }
    }
}

@mixin icon-fill {

    .#{$prefix}-icon,
    .#{$prefix}-icon-button,
    .#{$prefix}-svg {
        &.#{$prefix}-fill {
            &>svg {
                path.fill {
                    fill: $icon-color-default;
                }
            }

            &.#{$prefix}-inverse {
                svg {
                    path.fill {
                        fill: $icon-color-inverse;
                    }
                }
            }

            &.#{$prefix}-accent {
                svg {
                    path.fill {
                        fill: $icon-color-accent;
                    }
                }
            }

            &.#{$prefix}-secondary {
                svg {
                    path.fill {
                        fill: $icon-color-secondary;
                    }
                }
            }

            &.#{$prefix}-success {
                svg {
                    path.fill {
                        fill: $icon-color-success;
                    }
                }
            }

            &.#{$prefix}-warning {
                svg {
                    path.fill {
                        fill: $icon-color-warning;
                    }
                }
            }

            &.#{$prefix}-error {
                svg {
                    path.fill {
                        fill: $icon-color-error;
                    }
                }
            }


            @include for-color-button {
                svg {
                    path.fill {
                        fill: $icon-color-inverse;
                    }
                }
            }
        }

    }

    .#{$prefix}-dark {
        .#{$prefix}-icon {
            &.#{$prefix}-fill {
                @include not-colors {
                    &>svg {
                        path.fill {
                            fill: $icon-color-default-dark;
                        }
                    }
                }


                &.#{$prefix}-inverse {
                    svg {
                        path.fill {
                            fill: $icon-color-inverse-dark;
                        }
                    }
                }
            }
        }
    }
}

@mixin stroke-colors {
    path {
        &.#{$prefix}-accent {
            stroke: $icon-color-accent;
        }

        &.#{$prefix}-secondary {
            stroke: $icon-color-secondary;
        }

        &.#{$prefix}-success {
            stroke: $icon-color-success;
        }

        &.#{$prefix}-warning {
            stroke: $icon-color-warning;
        }

        &.#{$prefix}-error {
            stroke: $icon-color-error;
        }

        &.#{$prefix}-icon-dark {
            stroke: $icon-color-default-dark;
        }
    }
}

@mixin icon-button {
    .#{$prefix}-icon-button {
        cursor: pointer;
        @include component-padding(small, true);
        background-color: transparent;
        border          : 1px solid transparent;
        border-radius   : 100px;
        @include createHighlight(100px, $highlight-color-dark);

        &.#{$prefix}-default {
            border-color    : $icon-border-color;
            background-color: $icon-button-background-default;

        }

        &.#{$prefix}-inverse {
            border-color    : $icon-border-color-dark;
            background-color: $icon-button-background-inverse;
        }

        &.#{$prefix}-accent,
        &.#{$prefix}-secondary,
        &.#{$prefix}-success,
        &.#{$prefix}-warning,
        &.#{$prefix}-error {
            @include get-icon-color-style($icon-color-default-dark);
        }

        &:hover {
            outline: none !important;

            &.#{$prefix}-default {
                border-color: $icon-border-color-hover;
            }

            &.#{$prefix}-inverse {
                border-color: $icon-border-color-hover-dark;
            }
        }

        &:active {
            outline: none !important;

            &.#{$prefix}-default {
                border-color: $icon-border-color-active;
            }

            &.#{$prefix}-inverse {
                border-color: $icon-border-color-active-dark;
            }
        }
    }
}

@mixin icon-nav {
    ul.#{$prefix}-icon-nav {
        list-style: none;
        padding   : 0px;
        margin    : 0px;
        display   : flex;

        &>li {
            box-sizing: border-box;
            display   : inline-block;
            @include component-padding(small, true);
        }

    }
}

@mixin icon-dark {
    .#{$prefix}-dark {

        .#{$prefix}-icon-button,
        .#{$prefix}-icon,
        .#{$prefix}-svg {
            @include not-colors {
                @include get-icon-color-style($icon-color-default-dark);

                &.#{$prefix}-inverse {
                    @include get-icon-color-style($icon-color-inverse-dark);
                }
            }

        }

        .#{$prefix}-icon-button {
            &.#{$prefix}-default {
                border-color    : $icon-border-color-dark;
                background-color: $icon-button-background-default-dark;
            }

            &.#{$prefix}-inverse {
                border-color    : $icon-border-color;
                background-color: $icon-button-background-inverse-dark;
            }


            &:hover {
                &.#{$prefix}-default {
                    border-color: $icon-border-color-hover-dark;
                }

                &.#{$prefix}-inverse {
                    border-color: $icon-border-color-hover;
                }
            }

            &:active {
                &.#{$prefix}-default {
                    border-color: $icon-border-color-active-dark;
                }

                &.#{$prefix}-inverse {
                    border-color: $icon-border-color-active;
                }
            }
        }
    }
}

@mixin icon-print {
    .#{$prefix}-print {

        .#{$prefix}-icon-button,
        .#{$prefix}-icon,
        .#{$prefix}-svg {
            @include get-icon-color-style($component-print-color);

            &.#{$prefix}-button {
                @include get-icon-color-style($component-print-color);
            }
        }

        .#{$prefix}-icon-button {
            &.#{$prefix}-default {
                border-color    : $component-print-border;
                background-color: $component-print-background;
            }
        }
    }
}


@mixin definitions {
    @include icon();
    @include icon-button();
    @include icon-nav();
    @include icon-dark();
    @include icon-print();
    @include icon-fill();
    @include stroke-colors();
}