$icon-color-default      :$component-color-default;
$icon-color-inverse      : $component-color-inverse;
$icon-color-inverse-dark : $component-color-inverse-dark;
$icon-color-default-dark : $component-color-default-dark;

$icon-border-color             : $component-color-muted;
$icon-border-color-hover       : $component-color-default;
$icon-border-color-active      : $component-color-active;
$icon-border-color-dark        : $component-color-muted-dark;
$icon-border-color-hover-dark  : $component-color-default-dark;
$icon-border-color-active-dark : $component-color-default-dark;

$icon-button-background-default     : $component-background-default;
$icon-button-background-inverse     : $component-background-inverse;
$icon-button-background-default-dark: $component-background-default-dark;
$icon-button-background-inverse-dark: $component-background-inverse-dark;

$icon-color-accent   : $component-background-accent;
$icon-color-secondary: $component-background-secondary;
$icon-color-error    : $component-background-error;
$icon-color-warning  : $component-background-warning;
$icon-color-success  : $component-background-success;


span.#{$prefix}-svg,
span.#{$prefix}-icon {
    border    : 1px solid transparent;
    box-sizing: border-box;
}

.#{$prefix}-icon,
.#{$prefix}-icon-button,
.#{$prefix}-icon,
.#{$prefix}-svg {
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    text-align     : center;
    line-height    : 20px;
    vertical-align : middle;



    svg {
        max-width      : 100%;
        box-sizing     : border-box;
        height         : auto;
        order          : 0;
        fill           : none;
        stroke         : $icon-color-default;
        stroke-opacity : 1;
        stroke-width   : 1px;
        stroke-linecap : round;
        stroke-linejoin: miter;
    }

    &.#{$prefix}-button {

        &.#{$prefix}-accent,
        &.#{$prefix}-secondary,
        &.#{$prefix}-error,
        &.#{$prefix}-warning,
        &.#{$prefix}-success {
            svg {
                path {
                    stroke: $icon-color-inverse;
                }
            }
        }
    }

    &.#{$prefix}-dark {
        svg {
            path {
                stroke: $icon-color-inverse;
            }
        }
    }

    &.#{$prefix}-inverse {
        svg {
            path {
                stroke: $icon-color-inverse;
            }
        }
    }

    &.#{$prefix}-accent {
        svg {
            path {
                stroke: $icon-color-accent;
            }
        }
    }

    &.#{$prefix}-secondary {
        svg {
            path {
                stroke: $icon-color-secondary;
            }
        }
    }

    &.#{$prefix}-success {
        svg {
            path {
                stroke: $icon-color-success;
            }
        }
    }

    &.#{$prefix}-warning {
        svg {
            path {
                stroke: $icon-color-warning;
            }
        }
    }

    &.#{$prefix}-error {
        svg {
            path {
                stroke: $icon-color-error;
            }
        }
    }

    /**
    * if there is any element
    */

    &.#{$prefix}-margin {
        &>svg {
            margin-right: 4px;
        }
    }

}


.#{$prefix}-icon-button {
    cursor: pointer;
    @include component-padding(sameSmall);
    background-color: transparent;
    border          : 1px solid transparent;
    border-radius   : 100px;

    &.#{$prefix}-default {
        border-color    : $icon-border-color;
        background-color: $icon-button-background-default;

    }

    &.#{$prefix}-inverse {
        border-color    : $icon-border-color-dark;
        background-color: $icon-button-background-inverse;
    }

    &:hover {
        &.#{$prefix}-default {
            border-color: $icon-border-color-hover;
        }

        &.#{$prefix}-inverse {
            border-color: $icon-border-color-hover-dark;
        }
    }

    &:active {
        &.#{$prefix}-default {
            border-color: $icon-border-color-active;
        }

        &.#{$prefix}-inverse {
            border-color: $icon-border-color-active-dark;
        }
    }

    &:focus {
        outline: $outline-default;
    }
}

ul.#{$prefix}-icon-nav {
    list-style: none;
    padding   : 0px;
    margin    : 0px;
    display   : flex;

    li {
        box-sizing: border-box;
        display   : inline-block;

        &>* {
            @include component-padding(sameSmall);
        }
    }
}

/**
* Dark
*/

.#{$prefix}-dark {

    .#{$prefix}-icon-button,
    .#{$prefix}-icon,
    .#{$prefix}-svg {
        svg {
            stroke: $icon-color-default-dark;
        }

        &.#{$prefix}-inverse {
            svg {
                path {
                    stroke: $icon-color-inverse-dark;
                }
            }
        }
    }

    .#{$prefix}-icon-button {
        &.#{$prefix}-default {
            border-color    : $icon-border-color-dark;
            background-color: $icon-button-background-default-dark;
        }

        &.#{$prefix}-inverse {
            border-color    : $icon-border-color;
            background-color: $icon-button-background-inverse-dark;
        }


        &:hover {
            &.#{$prefix}-default {
                border-color: $icon-border-color-hover-dark;
            }

            &.#{$prefix}-inverse {
                border-color: $icon-border-color-hover;
            }
        }

        &:active {
            &.#{$prefix}-default {
                border-color: $icon-border-color-active-dark;
            }

            &.#{$prefix}-inverse {
                border-color: $icon-border-color-active;
            }
        }
    }
}

/**
* Print
*/

.#{$prefix}-print {

    .#{$prefix}-icon-button,
    .#{$prefix}-icon,
    .#{$prefix}-svg {
        svg {
            stroke: $component-print-color;

            path {
                stroke: $component-print-color;
            }
        }

        &.#{$prefix}-button {
            svg {
                path {
                    stroke: $component-print-color;
                }
            }
        }
    }

    .#{$prefix}-icon-button {
        &.#{$prefix}-default {
            border-color    : $component-print-border;
            background-color: $component-print-background;
        }
    }
}