@use '../variables'as *;
@use '../mixins'as *;

$input-font-size-default: $font-normal;
$input-font-size-small  : $font-small;
$input-line-height      : $default-line-height;
$input-background-color : var(--input-background-color);

$input-option-background-color     : $component-background-default;
$input-option-background-color-dark: $component-background-default-dark;

$input-color                 : $component-color-default;
$input-color-dark            : $component-color-default-dark;
$input-description-color     : $component-color-muted;
$input-description-color-dark: $component-color-muted-dark;

$input-border-color-inactive     : $component-color-muted;
$input-border-color-active       : $component-color-default;
$input-placeholder-color-inactive: $component-color-muted;
$input-placeholder-color-active  : $component-color-muted;

$input-border-color-inactive-dark     : $component-color-muted-dark;
$input-border-color-active-dark       : $component-color-default-dark;
$input-placeholder-color-inactive-dark: $component-color-muted-dark;
$input-placeholder-color-active-dark  : $component-color-muted-dark;

$input-color-disabled     : $component-color-muted;
$input-color-disabled-dark: $component-color-muted-dark;

$input-color-error       : $component-background-error;
$input-color-error-hover : $component-background-error-hover;
$input-color-error-active: $component-background-error-active;

$input-color-warning       : $component-background-warning;
$input-color-warning-hover : $component-background-warning-hover;
$input-color-warning-active: $component-background-warning-active;

$input-color-success       : $component-background-success;
$input-color-success-active: $component-background-success-active;
$input-color-success-hover : $component-background-success-hover;

$input-color-accent       : $component-background-accent;
$input-color-accent-hover : $component-background-accent-hover;
$input-color-accent-active: $component-background-accent-active;

$input-color-secondary       : $component-background-secondary;
$input-color-secondary-hover : $component-background-secondary-hover;
$input-color-secondary-active: $component-background-secondary-active;

$input-animation-time: $animation-duration-default;

$input-border-radius  : $border-radius-default;
$input-padding-default: $padding-global-small;
$input-outline        : $outline-default;
$input-margin-small   : $margin-global-small;



@mixin input-transition($state:normal) {
    @if $state==normal {
        transform : scale(1);
        transition: transform $input-animation-time ease-in;
    }

    @else if $state==hover {
        transform: scale(1.1);
    }

    @else if $state==disabled {
        transform: scale(1);
    }
}

@mixin input {
    input.#{$prefix}-input {
        outline         : none;
        padding         : $input-padding-default;
        border          : 1px solid $input-border-color-inactive;
        border-radius   : $input-border-radius;
        font-size       : $input-font-size-default;
        line-height     : $input-line-height;
        box-sizing      : border-box;
        font-family     : $font-family;
        background-color: $input-background-color;
        color           : $input-color;

        &::placeholder {
            color: $input-placeholder-color-inactive;
        }

        &:hover {
            outline: none !important;
            border : 1px solid $input-border-color-active;
        }

        &:focus {
            border: 1px solid $input-border-color-active;

            &::placeholder {
                color: $input-placeholder-color-active;
            }
        }

        &.#{$prefix}-transparent {
            border-color: transparent;
        }

        &.#{$prefix}-large {
            @include component-padding(same);
        }

        &.#{$prefix}-round {
            @include component-padding;
            border-radius: calc(#{$border-radius-default}*20)
        }
    }
}

@mixin input-theme {
    input.#{$prefix}-input {
        &.#{$prefix}-accent {
            border: 1px solid $input-color-accent;

            &:hover {
                border-color: $input-color-accent-hover;
            }

            &:focus {
                border-color: $input-color-accent-active;
            }
        }

        &.#{$prefix}-secondary {
            border: 1px solid $input-color-secondary;

            &:hover {
                border-color: $input-color-secondary-hover;
            }

            &:focus {
                border-color: $input-color-secondary-active;
            }
        }
    }
}

@mixin input-signals {
    input.#{$prefix}-input {
        &.#{$prefix}-error {
            border: 1px solid $input-color-error;

            &:hover {
                border-color: $input-color-error-hover;
            }

            &:focus {
                border-color: $input-color-error-active;
            }
        }

        &.#{$prefix}-warning {
            border: 1px solid $input-color-warning;

            &:hover {
                border-color: $input-color-warning-hover;
            }

            &:focus {
                border-color: $input-color-warning-active;
            }
        }

        &.#{$prefix}-success {
            border: 1px solid $input-color-success;

            &:hover {
                border-color: $input-color-success-hover;
            }

            &:focus {
                border-color: $input-color-success-active;
            }
        }
    }
}

@mixin input-mix {
    div.#{$prefix}-input-mix {
        display : inline-flex;
        position: relative;

        &:before {
            content      : "";
            position     : absolute;
            width        : calc(100% - 2px);
            border       : 1px solid $input-border-color-inactive;
            border-radius: $input-border-radius;
            height       : calc(100% - 2px);
            top          : 0px;
            left         : 0px;
            z-index      : -1;
        }

        &:hover {
            outline     : none !important;
            border-color: $input-border-color-active;
        }

        &:focus {
            &:before {
                border-color: $input-border-color-active;
            }
        }

        .#{$prefix}-input {
            border          : none;
            background-color: transparent;
            order           : 0;
        }

        .#{$prefix}-icon,
        .#{$prefix}-button {
            order                      : 1;
            padding                    : $input-padding-default;
            border-bottom-left-radius  : 0px;
            border-top-left-radius     : 0px;
            border-bottom-right-radius : calc(#{$input-border-radius} - 1px);
            border-top-right-radius    : calc(#{$input-border-radius} - 1px);

        }

        &.#{$prefix}-reverse {
            .#{$prefix}-input {
                order: 1;
            }

            .#{$prefix}-icon,
            .#{$prefix}-button {
                order                     : 0;
                border-bottom-right-radius: 0px;
                border-top-right-radius   : 0px;
                border-bottom-left-radius : calc(#{$input-border-radius} - 1px);
                border-top-left-radius    : calc(#{$input-border-radius} - 1px);
            }
        }
    }
}

@mixin input-mix-theme {
    div.#{$prefix}-input-mix {
        &.#{$prefix}-accent {
            &:before {
                border-color: $input-color-accent;
            }

            &:hover {

                &:before {
                    border-color: $input-color-accent-hover;
                }
            }

            &:focus {
                &:before {
                    border-color: $input-color-accent-active;
                }
            }
        }

        &.#{$prefix}-secondary {
            &:before {
                border-color: $input-color-secondary;
            }

            &:hover {
                &:before {
                    border-color: $input-color-secondary-hover;
                }
            }

            &:focus {
                &:before {
                    border-color: $input-color-secondary-active;
                }
            }
        }
    }
}

@mixin input-mix-signals {
    div.#{$prefix}-input-mix {
        &.#{$prefix}-error {
            &:before {
                border-color: $input-color-error;
            }

            &:hover {
                &:before {
                    border-color: $input-color-error-hover;
                }
            }

            &:focus {
                &:before {
                    border-color: $input-color-error-active;
                }
            }
        }

        &.#{$prefix}-warning {
            &:before {
                border-color: $input-color-warning;
            }

            &:hover {
                &:before {
                    border-color: $input-color-warning-hover;
                }
            }

            &:focus {
                &:before {
                    border-color: $input-color-warning-active;
                }
            }
        }

        &.#{$prefix}-success {
            &:before {
                border-color: $input-color-success;
            }

            &:hover {
                &:before {
                    border-color: $input-color-success-hover;
                }
            }

            &:focus {
                &:before {
                    border-color: $input-color-success-active;
                }
            }
        }
    }
}


@mixin select {
    select.#{$prefix}-select {
        font-size          : $input-font-size-default;
        background-color   : $input-background-color;
        border-radius      : $border-radius-default;
        border             : 1px solid $input-border-color-inactive;
        padding            : $input-padding-default;
        line-height        : $input-line-height;
        outline            : none;
        color              : $input-color;
        -webkit-appearance : none;
        -moz-appearance    : none;
        appearance         : none;
        background-image   : url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M 3,4.339746 8,11 13,4.339746' style='fill:none;stroke:%23999;stroke-width:1px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1' /%3E%3C/svg%3E%0A");
        background-repeat  : no-repeat;
        background-position: 94% 50%;
        padding-right      : 24px;
        box-sizing         : border-box;
        font-family        : $font-family;

        option {
            background-color: $input-option-background-color;
            border-radius   : $border-radius-default;
            border          : 1px solid $input-border-color-inactive;
            @include component-padding;
            color    : $input-color;
            font-size: $input-font-size-default;
        }

        &.#{$prefix}-transparent {
            border-color: transparent;
        }

        &:hover {
            outline: none !important;
            border : 1px solid $input-border-color-active;
        }

        &:active,
        &:focus {
            outline     : none !important;
            border-color: $input-border-color-active;
        }
    }

    select::-ms-expand {
        display: none;
    }
}

@mixin select-theme {
    select.#{$prefix}-select {
        &.#{$prefix}-accent {
            border-color: $input-color-accent;

            &:hover {
                border-color: $input-color-accent-active;
            }

            &:focus {
                border-color: $input-color-accent-active;
            }
        }

        &.#{$prefix}-secondary {
            border-color: $input-color-secondary;

            &:hover {
                border-color: $input-color-secondary-active;
            }

            &:focus {
                border-color: $input-color-secondary-active;
            }
        }
    }
}


@mixin textarea {
    textarea.#{$prefix}-textarea {
        font-size       : $input-font-size-default;
        padding         : $input-padding-default;
        width           : 100%;
        height          : 100%;
        box-sizing      : border-box;
        border          : 1px solid $input-border-color-inactive;
        border-radius   : $border-radius-default;
        color           : $input-color;
        line-height     : $input-line-height;
        background-color: $input-background-color;

        &::placeholder {
            color: $input-placeholder-color-inactive;
        }

        &:focus {
            outline     : none !important;
            border-color: $input-border-color-active;
        }

        &.#{$prefix}-transparent {
            border-color: transparent;
        }


    }
}

@mixin textarea-theme {
    textarea.#{$prefix}-textarea {
        &.#{$prefix}-accent {
            border-color: $input-color-accent;

            &:hover {
                border-color: $input-color-accent-active;
            }

            &:focus {
                border-color: $input-color-accent-active;
            }
        }

        &.#{$prefix}-secondary {
            border-color: $input-color-secondary;

            &:hover {
                border-color: $input-color-secondary-active;
            }

            &:focus {
                border-color: $input-color-secondary-active;
            }
        }
    }
}

@mixin form {
    div.#{$prefix}-form {
        display: block;

        .#{$prefix}-form-label {
            order  : 0;
            display: block;
        }

        .#{$prefix}-form-description {
            order    : 1;
            color    : $input-description-color;
            font-size: $input-font-size-small;

            &:before {
                content: "("
            }

            &:after {
                content: ")"
            }
        }

        input,
        select,
        textarea {
            order     : 2;
            margin-top: $input-margin-small;
            display   : block;
        }

        &.#{$prefix}-inline {

            .#{$prefix}-form-label {
                display     : inline-block;
                margin-right: $input-margin-small;
            }

            input,
            select {
                margin-top: 0px;
                display   : inline-block;
            }
        }

        &.#{$prefix}-flex {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            flex-wrap      : nowrap;

            >div,
            .#{$prefix}-form-label {
                display     : inline-block;
                margin-right: $input-margin-small;
                order       : 1;
            }

            input,
            select,
            textarea {
                margin-top: 0px;
                display   : inline-block;
                order     : 2;
            }
        }
    }
}


@mixin radio {
    input[type="radio"] {
        &.#{$prefix}-radio {
            font-size: $input-font-size-default;
            @include no-appearance;
            display      : inline-block;
            width        : calc(#{$form-element-size} - 4px);
            height       : calc(#{$form-element-size} - 4px);
            border       : 1px solid $input-border-color-inactive;
            border-radius: 100%;
            margin       : 0;
            box-sizing   : border-box;
            @include input-transition;

            &:hover {
                outline     : none !important;
                border-color: $input-border-color-active;
                @include input-transition(hover)
            }

            &:active,
            &:focus {
                outline: none !important;
                @include input-transition(hover)
            }

            &:checked {
                border-color    : $input-border-color-active;
                background-color: $input-border-color-active;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle r='3' cy='7' cx='7' id='path842' style='fill:%23ffffff;stroke:none;fill-opacity:1' /%3E%3C/svg%3E%0A");
            }

            &:disabled {
                @include input-transition(disabled);
                opacity     : 0.8;
                border-color: $input-color-disabled;

                &:hover {
                    @include input-transition(disabled);
                    border-color: $input-color-disabled;
                }

                +label {
                    color: $input-color-disabled;
                }
            }
        }


    }
}

@mixin radio-theme {
    input[type="radio"] {
        &.#{$prefix}-accent {
            &:hover {
                border-color: $input-color-accent;
            }

            &:checked {
                border-color    : $input-color-accent;
                background-color: $input-color-accent;
            }
        }

        &.#{$prefix}-secondary {
            &:hover {
                border-color: $input-color-secondary;
            }

            &:checked {
                border-color    : $input-color-secondary;
                background-color: $input-color-secondary;
            }
        }
    }
}


@mixin radio-custom {
    div.#{$prefix}-radio-custom {
        display   : inline-block;
        box-sizing: border-box;

        input[type="radio"] {
            opacity   : 0;
            position  : fixed;
            width     : 0;
            box-sizing: border-box;
            margin    : 0;

            +.#{$prefix}-content {
                display : inline-block;
                overflow: hidden;
                cursor  : pointer;
                position: relative;
                @include component-padding;


                &:before {
                    content      : "";
                    position     : absolute;
                    top          : 0;
                    left         : 0;
                    width        : calc(100%-2px);
                    height       : calc(100%-2px);
                    border       : 1px solid $input-border-color-inactive;
                    border-radius: $border-radius-default;
                }

                &:hover {
                    &:before {
                        border-color: $input-border-color-active;
                    }

                }

            }

            &:checked {
                +.#{$prefix}-content {
                    &:before {
                        width       : calc(100% -4px);
                        height      : calc(100% -4px);
                        border-width: 2px;
                        border-color: $input-border-color-active;
                    }

                }
            }

            &:focus {
                +.#{$prefix}-content {
                    &:before {
                        width       : calc(100% -6px);
                        height      : calc(100% -6px);
                        border-width: 3px;
                    }
                }
            }
        }
    }
}

@mixin radio-custom-theme {
    div.#{$prefix}-radio-custom {

        &.#{$prefix}-accent {
            input[type="radio"] {
                +.#{$prefix}-content {
                    &:hover {
                        border-color: $input-color-accent-hover;
                    }
                }

                &:checked {
                    +.#{$prefix}-content {
                        border-color: $input-color-accent-active;
                    }
                }
            }
        }

        &.#{$prefix}-secondary {
            input[type="radio"] {
                +.#{$prefix}-content {
                    &:hover {
                        border-color: $input-color-secondary-hover;
                    }
                }

                &:checked {
                    +.#{$prefix}-content {
                        border-color: $input-color-secondary-active;
                    }
                }
            }
        }
    }
}


@mixin checkbox {
    input[type="checkbox"] {
        &.#{$prefix}-checkbox {
            font-size: $input-font-size-default;
            margin   : 0;
            @include no-appearance;
            display        : inline-block;
            width          : calc(#{$form-element-size} - 4px);
            height         : calc(#{$form-element-size} - 4px);
            border         : 1px solid $input-border-color-inactive;
            border-radius  : $border-radius-default;
            background-size: 14px 14px;
            @include input-transition;

            &:hover {
                border-color: $input-border-color-active;
                @include input-transition(hover);
            }

            &:checked {
                border-color    : $input-border-color-active;
                background-color: $input-border-color-active;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Cpath d='M 3,8 8,13 13,3' style='fill:none;stroke:%23fff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' /%3E%3C/svg%3E%0A");
            }

            &:focus {
                outline: none !important;
                @include input-transition(hover);
            }

            &:disabled {
                opacity     : 0.8;
                border-color: $input-color-disabled !important;
                @include input-transition(disabled);

                &:checked {
                    background-color: $input-color-disabled !important;
                }

                &:hover {
                    border-color: $input-color-disabled !important;
                    @include input-transition(disabled);
                }

                +label {
                    color: $input-color-disabled;
                }
            }


        }
    }
}

@mixin checkbox-theme {
    input[type="checkbox"] {
        &.#{$prefix}-accent {
            &:hover {
                border-color: $input-color-accent;
            }

            &:checked {
                border-color    : $input-color-accent;
                background-color: $input-color-accent;
            }
        }

        &.#{$prefix}-secondary {
            &:hover {
                border-color: $input-color-secondary;
            }

            &:checked {
                border-color    : $input-color-secondary;
                background-color: $input-color-secondary;
            }
        }
    }
}


@mixin input-switch {
    div.#{$prefix}-input-switch {
        input[type="checkbox"] {
            margin   : 0;
            font-size: $input-font-size-default;
            opacity  : 0;
            position : fixed;
            width    : 0;

            +.#{$prefix}-content {
                padding : 4px 10px 4px 44px;
                cursor  : pointer;
                position: relative;
                display : inline-block;

                &:before {
                    content         : '';
                    position        : absolute;
                    width           : 30px;
                    height          : 2px;
                    top             : 12px;
                    left            : 5px;
                    background-color: $input-border-color-inactive;
                    opacity         : 0.8;
                }

                &:after {
                    content         : '';
                    position        : absolute;
                    height          : 16px;
                    width           : 16px;
                    top             : 4px;
                    left            : 3px;
                    border          : 1px solid $input-border-color-inactive;
                    border-radius   : 50%;
                    background-color: $input-option-background-color;
                    animation       : switchMoveOff $input-animation-time ease-in forwards;
                }
            }

            &:checked {
                +.#{$prefix}-content {
                    &:after {
                        background-color: $input-border-color-active;
                        border-color    : $input-border-color-active;
                        transform       : translateX(18px);
                        animation       : switchMoveOn $input-animation-time ease-in forwards;
                    }

                    &:before {
                        background-color: $input-border-color-active;
                        opacity         : 0.6;
                    }

                    &.#{$prefix}-accent {
                        &:after {
                            background-color: $input-color-accent;
                            border-color    : $input-color-accent;
                        }

                        &:before {
                            background-color: $input-color-accent;
                            opacity         : 0.6;
                        }
                    }

                    &.#{$prefix}-secondary {
                        &:after {
                            background-color: $input-color-secondary;
                            border-color    : $input-color-secondary;
                        }

                        &:before {
                            background-color: $input-color-secondary;
                            opacity         : 0.6;
                        }
                    }
                }
            }

            &:disabled {
                +.#{$prefix}-content {
                    opacity: 0.6;

                    &:after {
                        background-color: $input-color-disabled;
                        border-color    : $input-color-disabled;
                    }

                    &:before {
                        background-color: $input-color-disabled;

                    }
                }

                &:checked {
                    +.#{$prefix}-content {
                        opacity: 0.7;

                        &:after {
                            background-color: $input-color-disabled;
                            border-color    : $input-color-disabled;
                        }

                        &:before {
                            background-color: $input-color-disabled;
                        }
                    }
                }
            }

            &:focus {
                +.#{$prefix}-content {
                    &:after {
                        border-width: 2px;
                    }
                }
            }
        }
    }
}




@mixin range {
    input[type="range"] {
        &.#{$prefix}-range {
            @include no-appearance;
            height          : 2px;
            background-color: $input-border-color-inactive;
            outline         : none;
            opacity         : 0.8;
            transition      : opacity $input-animation-time ease-in;
            border          : 1px solid transparent;
            border-radius   : 4px;
            width           : 100%;
            box-sizing      : border-box;

            &:hover,
            &:focus {
                opacity: 1;

                &::-webkit-slider-thumb {
                    transform: scale(1.1);
                }

                &::-moz-range-thumb {
                    transform: scale(1.1);
                }
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance        : none;
                width             : calc(#{$form-element-size} - 4px);
                height            : calc(#{$form-element-size} - 4px);
                background-color  : $input-option-background-color;
                border            : 4px solid $input-border-color-active;
                border-radius     : 50%;
                cursor            : pointer;
                transform         : scale(1);
                transition        : transform $input-animation-time ease-in;
                box-sizing        : border-box;
            }

            &::-moz-range-thumb {
                width           : calc(#{$form-element-size} - 4px);
                height          : calc(#{$form-element-size} - 4px);
                background-color: $input-option-background-color;
                border          : 4px solid $input-border-color-active;
                cursor          : pointer;
                border-radius   : 50%;
                transform       : scale(1);
                transition      : transform $input-animation-time ease-in;
                box-sizing      : border-box;
            }

            &:disabled {
                background-color: $input-color-disabled;
                opacity         : 0.6;

                &:hover {
                    opacity: 0.6;

                    &::-webkit-slider-thumb {
                        transform: scale(1);
                    }

                    &::-moz-range-thumb {
                        transform: scale(1);
                    }
                }

                &::-webkit-slider-thumb {
                    border          : 1px solid $input-color-disabled;
                    background-color: $input-color-disabled;
                }

                &::-moz-range-thumb {
                    border          : 1px solid $input-color-disabled;
                    background-color: $input-color-disabled;

                }
            }

            &.#{$prefix}-accent {
                background-color: $input-color-accent;

                &::-webkit-slider-thumb {
                    border: 4px solid $input-color-accent;
                }

                &::-moz-range-thumb {
                    border: 4px solid $input-color-accent;
                }
            }

            &.#{$prefix}-secondary {
                background-color: $input-color-secondary;

                &::-webkit-slider-thumb {
                    border: 4px solid $input-color-secondary;
                }

                &::-moz-range-thumb {
                    border: 4px solid $input-color-secondary;
                }
            }
        }
    }
}

@mixin input-dark {
    .#{$prefix}-dark {
        input.#{$prefix}-input {
            color: $input-color-dark;

            &::placeholder {
                color: $input-placeholder-color-inactive-dark;
            }

            &:focus {
                &::placeholder {
                    color: $input-placeholder-color-active-dark;
                }
            }

            &:not(.#{$prefix}-error):not(.#{$prefix}-success):not(.#{$prefix}-warning):not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                border: 1px solid $input-border-color-inactive-dark;

                &:focus {
                    border: 1px solid $input-border-color-active-dark;
                }
            }
        }
    }
}

@mixin select-dark {
    .#{$prefix}-dark {
        select.#{$prefix}-select {
            color: $input-color-dark;

            &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                border: 1px solid $input-border-color-inactive-dark;
            }


            option {
                background-color: $input-option-background-color-dark;
                border          : 1px solid $input-border-color-inactive-dark;
                color           : $input-color-dark;
            }
        }
    }
}

@mixin input-mix-dark {
    .#{$prefix}-dark {
        div.#{$prefix}-input-mix {
            &:not(.#{$prefix}-error):not(.#{$prefix}-success):not(.#{$prefix}-warning):not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                &:before {
                    border: 1px solid $input-border-color-inactive-dark;
                }

                &:hover,
                &:focus {
                    &:before {
                        border-color: $input-border-color-active-dark;
                    }
                }
            }

            .#{$prefix}-input {
                border: none !important;
            }
        }
    }
}

@mixin textarea-dark {
    .#{$prefix}-dark {
        textarea.#{$prefix}-textarea {
            color: $input-color-dark;

            &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                border: 1px solid $input-border-color-inactive-dark;
            }

            &::placeholder {
                color: $input-placeholder-color-inactive-dark;
            }

            &:focus {
                border-color: $input-border-color-active-dark;
            }
        }
    }
}

@mixin form-dark {
    .#{$prefix}-dark {
        div.#{$prefix}-input-form {
            .#{$prefix}-input-description {
                color: $input-description-color-dark;

            }
        }
    }
}


@mixin radio-dark {
    .#{$prefix}-dark {
        input[type="radio"] {
            &.#{$prefix}-radio {
                &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                    border: 1px solid $input-border-color-inactive-dark;

                    &:hover {
                        border-color: $input-border-color-active-dark;
                    }

                    &:checked {
                        border-color    : $input-border-color-active-dark;
                        background-color: $input-border-color-active-dark;
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle r='3' cy='7' cx='7' id='path842' style='fill:%23222222;stroke:none;fill-opacity:1' /%3E%3C/svg%3E%0A");
                        ;
                    }

                    &:disabled {
                        @include input-transition(disabled);
                        opacity     : 0.8;
                        border-color: $input-color-disabled-dark;

                        &:hover {
                            @include input-transition(disabled);
                            border-color: $input-color-disabled-dark;
                        }

                        +label {
                            color: $input-color-disabled-dark;
                        }
                    }
                }
            }
        }
    }
}

@mixin radio-custom-dark {
    .#{$prefix}-dark {
        div.#{$prefix}-radio-custom {

            &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                input[type="radio"] {
                    +.#{$prefix}-content {
                        &:before {
                            border: 1px solid $input-border-color-inactive-dark;
                        }

                        &:hover {
                            &:before {
                                border-color: $input-border-color-active-dark;
                            }
                        }
                    }

                    &:checked {
                        +.#{$prefix}-content {
                            &:before {
                                border: 2px solid $input-border-color-active-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}


@mixin checkbox-dark {
    .#{$prefix}-dark {
        input[type="checkbox"] {
            &.#{$prefix}-checkbox {
                &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                    border: 1px solid $input-border-color-inactive-dark;

                    &:hover {
                        border-color: $input-border-color-active-dark;
                    }

                    &:checked {
                        border-color    : $input-border-color-active-dark;
                        background-color: $input-border-color-active-dark;
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Cpath d='M 3,8 8,13 13,3' style='fill:none;stroke:%23222;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' /%3E%3C/svg%3E%0A");
                    }


                    &:disabled {
                        opacity     : 0.8;
                        border-color: $input-color-disabled-dark !important;
                        @include input-transition(disabled);

                        &:checked {
                            background-color: $input-color-disabled-dark !important;
                        }

                        &:hover {
                            border-color: $input-color-disabled-dark !important;
                            @include input-transition(disabled);
                        }

                        +label {
                            color: $input-color-disabled-dark;
                        }
                    }
                }

                // &.#{$prefix}-accent {
                //     &:hover {
                //         border-color: $input-color-accent;
                //     }

                //     &:checked {
                //         border-color    : $input-color-accent;
                //         background-color: $input-color-accent;
                //     }
                // }

                // &.#{$prefix}-secondary {
                //     &:hover {
                //         border-color: $input-color-secondary;
                //     }

                //     &:checked {
                //         border-color    : $input-color-secondary;
                //         background-color: $input-color-secondary;
                //     }
                // }
            }
        }
    }
}

@mixin input-switch-dark {
    .#{$prefix}-dark {
        div.#{$prefix}-input-switch {
            input[type="checkbox"] {

                +.#{$prefix}-content {

                    &:before {
                        background-color: $input-border-color-inactive-dark;
                    }

                    &:after {
                        border          : 1px solid $input-border-color-inactive-dark;
                        background-color: $input-option-background-color-dark;
                    }
                }

                &:checked {
                    +.#{$prefix}-content {
                        &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                            &:after {
                                background-color: $input-border-color-active-dark;
                                border-color    : $input-border-color-active-dark;
                            }

                            &:before {
                                background-color: $input-border-color-active-dark;
                            }
                        }


                        // &.#{$prefix}-accent {
                        //     &:after {
                        //         background-color: $input-color-accent;
                        //         border-color    : $input-color-accent;
                        //     }

                        //     &:before {
                        //         background-color: $input-color-accent;
                        //         opacity         : 0.6;
                        //     }
                        // }

                        // &.#{$prefix}-secondary {
                        //     &:after {
                        //         background-color: $input-color-secondary;
                        //         border-color    : $input-color-secondary;
                        //     }

                        //     &:before {
                        //         background-color: $input-color-secondary;
                        //         opacity         : 0.6;
                        //     }
                        // }
                    }
                }

                &:disabled {
                    +.#{$prefix}-content {


                        &:after {
                            background-color: $input-color-disabled-dark;
                            border-color    : $input-color-disabled-dark;
                        }

                        &:before {
                            background-color: $input-color-disabled-dark;

                        }
                    }

                    &:checked {
                        +.#{$prefix}-content {
                            opacity: 0.7;

                            &:after {
                                background-color: $input-color-disabled-dark;
                                border-color    : $input-color-disabled-dark;
                            }

                            &:before {
                                background-color: $input-color-disabled-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Dark
*/
@mixin range-dark {
    .#{$prefix}-dark {

        input[type="range"] {
            &.#{$prefix}-range {
                &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                    background-color: $input-border-color-inactive-dark;

                    &::-webkit-slider-thumb {
                        background-color: $input-option-background-color-dark;
                        border          : 4px solid $input-border-color-active-dark;
                    }

                    &::-moz-range-thumb {
                        background-color: $input-option-background-color-dark;
                        border          : 4px solid $input-border-color-active-dark;
                    }
                }


                &:disabled {
                    background-color: $input-color-disabled-dark;

                    &::-webkit-slider-thumb {
                        border          : 1px solid $input-color-disabled-dark;
                        background-color: $input-color-disabled-dark;
                    }

                    &::-moz-range-thumb {
                        border          : 1px solid $input-color-disabled-dark;
                        background-color: $input-color-disabled-dark;
                    }
                }

                // &.#{$prefix}-accent {
                //     background-color: $input-color-accent;

                //     &::-webkit-slider-thumb {
                //         border: 4px solid $input-color-accent;
                //     }

                //     &::-moz-range-thumb {
                //         border: 4px solid $input-color-accent;
                //     }
                // }

                // &.#{$prefix}-secondary {
                //     background-color: $input-color-secondary;

                //     &::-webkit-slider-thumb {
                //         border: 4px solid $input-color-secondary;
                //     }

                //     &::-moz-range-thumb {
                //         border: 4px solid $input-color-secondary;
                //     }
                // }
            }
        }
    }
}

@mixin definitions {
    @include input;
    @include input-theme();
    @include input-signals;
    @include input-dark();
    @include input-mix();
    @include input-mix-theme();
    @include input-mix-signals();
    @include input-mix-dark();
    @include range();
    @include range-dark();
    @include radio();
    @include radio-theme();
    @include radio-dark();
    @include radio-custom();
    @include radio-custom-theme();
    @include radio-custom-dark();
    @include checkbox();
    @include checkbox-theme();
    @include checkbox-dark();
    @include input-switch();
    @include input-switch-dark();
    @include textarea();
    @include textarea-theme();
    @include textarea-dark();
    @include form();
    @include form-dark();
    @include select();
    @include select-theme();
    @include select-dark();
}