$link-color-default  : $component-color-default;
$link-color-muted    : $component-color-muted;
$link-color-accent   : $component-background-accent;
$link-color-secondary: $component-background-secondary;
$link-color-error    : $component-background-error;
$link-color-warning  : $component-background-warning;
$link-color-success  : $component-background-success;


.#{$prefix}-link {
    text-decoration: none;
    color          : $link-color-default;

    &.#{$prefix}-accent {
        color: $link-color-accent;
    }

    &.#{$prefix}-secondary {
        color: $link-color-secondary;
    }

    &.#{$prefix}-error {
        color: $link-color-error;
    }

    &.#{$prefix}-warning {
        color: $link-color-warning;
    }

    &.#{$prefix}-success {
        color: $link-color-success;
    }

    &:hover {
        text-decoration      : underline;
        text-decoration-color: var(--color-light-lighten);
    }

    &:visited {

        &.#{$prefix}-accent {
            color: $link-color-accent;
        }

        &.#{$prefix}-secondary {
            color: $link-color-secondary;
        }

        &.#{$prefix}-error {
            color: $link-color-error;
        }

        &.#{$prefix}-warning {
            color: $link-color-warning;
        }

        &.#{$prefix}-success {
            color: $link-color-success;
        }
    }
}

/**
* print
*/

.#{$prefix}-print {
    .#{$prefix}-link {
        color: $component-print-color;
    }
}