@use '../variables'as *;

$link-color-default  : $component-color-default;
$link-color-muted    : $component-color-muted;
$link-color-accent   : $component-background-accent;
$link-color-secondary: $component-background-secondary;
$link-color-error    : $component-background-error;
$link-color-warning  : $component-background-warning;
$link-color-success  : $component-background-success;

@mixin link {
    .#{$prefix}-link {
        text-decoration: none;
        color          : $link-color-default;

        &:hover {
            text-decoration      : underline;
            text-decoration-color: var(--color-light-lighten);
        }
    }
}

@mixin link-theme {
    .#{$prefix}-link {
        &.#{$prefix}-accent {
            color: $link-color-accent;
        }

        &.#{$prefix}-secondary {
            color: $link-color-secondary;
        }

        &:visited {
            &.#{$prefix}-accent {
                color: $link-color-accent;
            }

            &.#{$prefix}-secondary {
                color: $link-color-secondary;
            }
        }
    }
}

@mixin link-signals {
    .#{$prefix}-link {
        &.#{$prefix}-error {
            color: $link-color-error;
        }

        &.#{$prefix}-warning {
            color: $link-color-warning;
        }

        &.#{$prefix}-success {
            color: $link-color-success;
        }

        &:visited {
            &.#{$prefix}-error {
                color: $link-color-error;
            }

            &.#{$prefix}-warning {
                color: $link-color-warning;
            }

            &.#{$prefix}-success {
                color: $link-color-success;
            }
        }
    }
}

@mixin link-print {
    .#{$prefix}-print {
        .#{$prefix}-link {
            color: $component-print-color;
        }
    }
}

@mixin definitions {
    @include link();
    @include link-theme();
    @include link-signals();
    @include link-print();
}