@use '../variables'as *;
@use '../mixins'as *;

$list-item-hover-background             : $component-background-shade-active;
$list-item-hover-background-dark        : $component-background-shade-dark-active;
$list-item-even-background              : $component-background-shade;
$list-item-even-background-dark         : $component-background-shade-dark;
$list-item-bullet-shade-background      : $component-background-shade-active;
$list-item-bullet-shade-background-dark : $component-background-shade-dark-active;
$list-item-bullet-size                  : 8px;
$list-item-color                        : $component-color-default;
$list-item-color-dark                   : $component-color-default-dark;
$list-item-active-color-accent          : $component-background-accent;
$list-item-active-color-secondary       : $component-background-secondary;
$list-item-inactive-color               : $component-color-muted;
$list-item-inactive-color-dark          : $component-color-muted-dark;
$list-transition-time                   : $animation-duration-short;
$list-item-font-weight-bold             : $text-weight-bold;

@mixin list {
    ul.#{$prefix}-list {
        list-style: none;
        margin    : 0;
        padding   : 0;

        &>li {
            display: block;
            @include component-padding;
            color: $list-item-color;
        }
    }
}

@mixin list-stripped {
    ul.#{$prefix}-list {
        &.#{$prefix}-stripped {
            &>li:nth-child(even) {
                background-color: $list-item-even-background;
            }
        }
    }
}

@mixin list-small {
    ul.#{$prefix}-list {
        &.#{$prefix}-small {
            &>li {
                @include component-padding(small);
            }
        }
    }
}

@mixin list-hover {
    ul.#{$prefix}-list {
        &.#{$prefix}-hover {
            &>li {
                &:hover {
                    background-color: $list-item-hover-background;
                }
            }
        }
    }
}


@mixin list-inline {
    ul.#{$prefix}-list {
        &.#{$prefix}-inline {
            &>li {
                display: inline-block;
            }
        }
    }
}

@mixin list-bullet {
    ul.#{$prefix}-list {
        &.#{$prefix}-bullet {
            &>li {
                padding-left: 2rem;
                position    : relative;

                &:before {
                    content      : "";
                    position     : absolute;
                    border       : 1px solid $list-item-color;
                    border-radius: 50%;
                    width        : $list-item-bullet-size;
                    height       : $list-item-bullet-size;
                    top          : calc(1rem - 2px);
                    left         : 0.5rem;
                }
            }
        }
    }
}

@mixin list-bullet-shade {
    ul.#{$prefix}-list {
        &.#{$prefix}-bullet-shade {
            &>li {
                padding-left: 2rem;
                position    : relative;

                &:before {
                    content         : "";
                    position        : absolute;
                    border          : 1px solid transparent;
                    background-color: $list-item-bullet-shade-background;
                    border-radius   : 50%;
                    width           : $list-item-bullet-size;
                    height          : $list-item-bullet-size;
                    top             : calc(1rem - 2px);
                    left            : 0.5rem;
                }
            }
        }
    }
}

@mixin list-interactive {
    ul.#{$prefix}-list {
        &.#{$prefix}-interactive {
            &>li {
                padding: 0px;

                a {
                    position: relative;
                    display : block;
                    @include component-padding;
                    @include link-decoration($list-item-color);
                    @include createHighlight($color: $highlight-color-dark, $noTransition: true);

                    &:before {
                        content           : "";
                        position          : absolute;
                        width             : 2px;
                        border-radius     : 4px;
                        background-color  : transparent;
                        height            : 100%;
                        left              : 0;
                        top               : 50%;
                        transform         : translateY(-50%) scale(1, 0.4);
                        //transition      : transform $list-transition-time ease-out;
                    }

                    &:hover,
                    &:active {
                        outline: none !important;
                    }

                    &:focus {
                        font-weight: $text-weight-semi-bold;
                        box-shadow : none !important;

                        &:before {
                            background-color: $list-item-inactive-color;
                        }
                    }

                    &.#{$prefix}-active {
                        font-weight: $list-item-font-weight-bold;

                        &:before {
                            background-color  : $list-item-color;
                            //transition      : transform $list-transition-time ease-out;
                        }

                        &:hover {
                            &:before {
                                transform: translateY(-50%) scale(1, 0.6);
                            }
                        }
                    }
                }

                &.#{$prefix}-active {
                    a {
                        font-weight: $list-item-font-weight-bold;

                        &:before {
                            background-color: $list-item-color;
                        }

                        &:hover {
                            &:before {
                                transform: translateY(-50%) scale(1, 0.6);
                            }
                        }
                    }
                }
            }

            &.#{$prefix}-reverse {
                &>li {
                    a {
                        &:before {
                            left : 100%;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@mixin list-interactive-accent {
    ul.#{$prefix}-list.#{$prefix}-interactive.#{$prefix}-accent {

        &>li.#{$prefix}-active {
            a {
                &:before {
                    background-color: $list-item-active-color-accent !important;
                }
            }
        }

        &>li>a.#{$prefix}-active {
            &:before {
                background-color: $list-item-active-color-accent !important;
            }
        }
    }
}

@mixin list-interactive-secondary {
    ul.#{$prefix}-list.#{$prefix}-interactive.#{$prefix}-secondary {

        &>li.#{$prefix}-active {
            a {
                &:before {
                    background-color: $list-item-active-color-secondary !important;
                }
            }
        }

        &>li>a.#{$prefix}-active {
            &:before {
                background-color: $list-item-active-color-secondary !important;
            }
        }
    }
}

@mixin list-dark {
    .#{$prefix}-dark {
        ul.#{$prefix}-list {
            &>li {
                color: $list-item-color-dark;
            }
        }
    }
}

@mixin list-dark-bullet {
    @include mode-dark {
        ul.#{$prefix}-list {
            &.#{$prefix}-bullet {
                &>li {
                    &:before {
                        border-color: $list-item-color-dark;
                    }
                }
            }
        }
    }
}

@mixin list-dark-bullet-shade {
    @include mode-dark {
        ul.#{$prefix}-list {
            &.#{$prefix}-bullet-shade {
                &>li {
                    &:before {
                        background-color: $list-item-bullet-shade-background-dark;
                    }
                }
            }
        }
    }
}

@mixin list-dark-hover {
    @include mode-dark {
        ul.#{$prefix}-list {
            &.#{$prefix}-hover {
                &>li {
                    &:hover {
                        background-color: $list-item-hover-background-dark;
                    }
                }
            }
        }
    }
}

@mixin list-dark-interactive {
    @include mode-dark {
        ul.#{$prefix}-list {
            &.#{$prefix}-interactive {
                &>li {
                    &>a {
                        color                          : $list-item-color-dark;
                        @include updateHighlight($color: $highlight-color);
                        user-select                    : none;

                        &:focus {
                            &:before {
                                background-color: $list-item-inactive-color-dark;
                            }
                        }

                        &.#{$prefix}-active {
                            &:before {
                                background-color: $list-item-color-dark;
                            }
                        }
                    }

                    &.#{$prefix}-active {
                        a {
                            &:before {
                                background-color: $list-item-color-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin list-dark-stripped {
    @include mode-dark {
        ul.#{$prefix}-list {
            &.#{$prefix}-stripped {
                &>li:nth-child(even) {
                    background-color: $list-item-even-background-dark;
                }
            }
        }
    }
}

@mixin list-print {
    @include mode-print {
        ul.#{$prefix}-list {
            &>li {
                color: $component-print-color;
            }
        }
    }
}


@mixin list-print-stripped {
    @include mode-print {
        ul.#{$prefix}-list {
            &.#{$prefix}-stripped {
                &>li {
                    background-color: $component-print-background;
                }
            }
        }
    }
}

@mixin list-print-bullet {
    @include mode-print {
        ul.#{$prefix}-list {
            &.#{$prefix}-bullet {
                &>li {
                    &:before {
                        border-color: $component-print-color;
                    }
                }
            }
        }
    }
}

@mixin list-print-bullet-shade {
    @include mode-print {
        ul.#{$prefix}-list {
            &.#{$prefix}-bullet-shade {
                &>li {
                    &:before {
                        border-color    : $component-print-color;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

@mixin list-interactive-print {
    @include mode-print {
        ul.#{$prefix}-list {

            &.#{$prefix}-interactive,
            &.#{$prefix}-interactive.#{$prefix}-accent,
            &.#{$prefix}-interactive.#{$prefix}-secondary {
                &>li {
                    &.#{$prefix}-active {
                        a {
                            &:before {
                                background-color: $component-print-color;
                            }
                        }
                    }
                }

                &>li>a.#{$prefix}-active {
                    &:before {
                        background-color: $component-print-color;
                    }
                }
            }
        }
    }
}

@mixin list-no-transitions {
    body:not(.#{$prefix}-no-transitions) {
        .#{$prefix}-list {
            &.#{$prefix}-interactive {
                .#{$prefix}-active {
                    a {
                        &:before {
                            transition: transform $list-transition-time ease-out;
                        }
                    }
                }

                a.#{$prefix}-active {
                    &:before {
                        transition: transform $list-transition-time ease-out;
                    }
                }
            }
        }
    }
}

@mixin definitions($options: ()) {
    @include list();

    @if(not-option-disabled($options, 'dark')) {
        @include list-dark();
    }

    @if(not-option-disabled($options, 'print')) {
        @include list-print();
    }

    @if(not-option-disabled($options, 'interactive')) {
        @include list-interactive();

        @if(not-option-disabled($options, 'theme')) {
            @include list-interactive-accent();
            @include list-interactive-secondary();
        }

        @if(not-option-disabled($options, 'animation')) {
            @include list-no-transitions();
        }

        @if(not-option-disabled($options, 'dark')) {
            @include list-dark-interactive();
        }

        @if(not-option-disabled($options, 'print')) {
            @include list-interactive-print();
        }
    }

    @if(not-option-disabled($options, 'bullet')) {
        @include list-bullet();

        @if(not-option-disabled($options, 'dark')) {
            @include list-dark-bullet();
        }

        @if(not-option-disabled($options, 'print')) {
            @include list-print-bullet();
        }
    }

    @if(not-option-disabled($options, 'bullet-shade')) {
        @include list-bullet-shade();

        @if(not-option-disabled($options, 'dark')) {
            @include list-dark-bullet-shade();
        }

        @if(not-option-disabled($options, 'print')) {
            @include list-print-bullet-shade();
        }
    }

    @if(not-option-disabled($options, 'hover')) {
        @include list-hover();

        @if(not-option-disabled($options, 'dark')) {
            @include list-dark-hover();
        }
    }

    @if(not-option-disabled($options, 'small')) {
        @include list-small();
    }

    @if(not-option-disabled($options, 'inline')) {
        @include list-inline();
    }

    @if(not-option-disabled($options, 'stripped')) {
        @include list-stripped();

        @if(not-option-disabled($options, 'dark')) {
            @include list-dark-stripped();
        }

        @if(not-option-disabled($options, 'print')) {
            @include list-print-stripped();
        }
    }




}