@use '../variables'as *;
@use '../mixins'as *;

$list-item-hover-background: $component-background-shade-active;
$list-item-even-background : $component-background-shade;
$list-item-bullet-size     : 8px;
$list-item-color           : $component-color-default;
$list-item-color-dark      : $component-color-default-dark;
$list-item-active-color    : $component-background-accent;
$list-transition-time      : $animation-duration-short;

@mixin list {
    ul.#{$prefix}-list {
        list-style: none;
        margin    : 0;
        padding   : 0;

        li {
            display: block;
            @include component-padding;
            color: $list-item-color;
        }

        &.#{$prefix}-inline {
            li {
                display: inline;
            }
        }

        &.#{$prefix}-small {
            li {
                @include component-padding(small);
            }
        }

        &.#{$prefix}-hover {
            li {
                &:hover {
                    background-color: $list-item-hover-background;
                }
            }
        }

        &.#{$prefix}-stripped {
            li:nth-child(even) {
                background-color: $list-item-even-background;
            }
        }

        &.#{$prefix}-bullet {
            li {
                padding-left: 2rem;
                position    : relative;

                &:before {
                    content      : "";
                    position     : absolute;
                    border       : 1px solid $list-item-color;
                    border-radius: 50%;
                    width        : $list-item-bullet-size;
                    height       : $list-item-bullet-size;
                    top          : calc(1rem - 2px);
                    left         : 0.5rem;
                }
            }
        }

        &.#{$prefix}-interactive {
            li {
                cursor: pointer;

                &.#{$prefix}-active {
                    position: relative;

                    &:before {
                        content         : "";
                        position        : absolute;
                        width           : 2px;
                        background-color: $list-item-active-color;
                        height          : 100%;
                        left            : 0;
                        top             : 50%;
                        transform       : translateY(-50%) scale(1, 0.6);
                        transition      : transform $list-transition-time ease-out;
                    }

                    &:hover {
                        &:before {
                            transform: translateY(-50%) scale(1, 1);
                        }
                    }
                }
            }
        }
    }
}


@mixin list-dark {
    .#{$prefix}-dark {
        ul.#{$prefix}-list {
            li {
                color: $list-item-color-dark;
            }

            &.#{$prefix}-bullet {
                li {
                    &:before {
                        border-color: $list-item-color-dark;
                    }
                }
            }
        }
    }
}

@mixin list-print {
    .#{$prefix}-print {
        ul.#{$prefix}-list {
            li {
                color: $component-print-color;
            }

            &.#{$prefix}-bullet {
                li {
                    &:before {
                        border-color: $component-print-color;
                    }
                }
            }

            &.#{$prefix}-interactive {
                li {
                    &.#{$prefix}-active {
                        &:before {
                            background-color: $component-print-color;
                        }
                    }
                }
            }
        }
    }
}

@mixin definitions {
    @include list();
    @include list-dark();
    @include list-print();
}