@use '../variables'as *;

$navbar-background-default     : $component-background-default;
$navbar-background-default-dark: $component-background-default-dark;

$navbar-color-default      : $component-color-default;
$navbar-color-default-dark : $component-color-default-dark;

$navbar-indicator-color-accent   : $component-background-accent;
$navbar-indicator-color-secondary: $component-background-secondary;

$navbar-color-default-active      : $component-color-active;
$navbar-color-default-active-dark : $component-color-active-dark;

// $navbar-color-muted      : $component-color-muted;
// $navbar-color-muted-dark : $component-color-muted-dark;

$navbar-item-padding      : $padding-global;
$navbar-item-padding-small: $padding-global-small;

$navbar-text-normal: $text-weight-normal;
$navbar-text-bold  : $text-weight-bold;
$navbar-margin     : $margin-global;

$navbar-transition-time : $animation-duration-short;

@mixin navbar {
    .#{$prefix}-navbar {
        display         : flex;
        flex-wrap       : wrap;
        justify-content : space-between;
        align-items     : center;
        background-color: $navbar-background-default;
        box-shadow      : $shadow2;
        box-sizing      : border-box;
        padding         : 0px;
        z-index         : 1100;
        color           : $component-color-default;

        &.#{$prefix}-transparent {
            background-color: transparent;
            box-shadow      : none;
        }

        &.#{$prefix}-space {
            ul {
                padding: $navbar-item-padding-small;
            }
        }

        &.#{$prefix}-large {
            ul {
                padding: $navbar-item-padding;
            }
        }

        ul {
            display   : inline-flex;
            list-style: none;
            margin    : 0px;
            padding   : 0px;
            height    : 100%;
            box-sizing: border-box;

            li {
                display        : inline-flex;
                box-sizing     : border-box;
                align-items    : center;
                justify-content: center;
                padding        : 1px;

                span {
                    padding: $navbar-item-padding;
                }

                a {

                    &:not(.#{$prefix}-icon-button):not(.#{$prefix}-button) {
                        padding: $navbar-item-padding;
                    }

                    text-decoration: none;

                    &:hover,
                    &:active,
                    &:focus {
                        outline: none !important;
                    }
                }
            }
        }

        .#{$prefix}-navbar-left {
            justify-self: left;
            align-self  : center;
            box-sizing  : border-box;
            order       : 1;
            height      : 100%;
            margin-left : $navbar-margin;
        }

        .#{$prefix}-navbar-middle {
            justify-self: center;
            align-self  : center;
            order       : 2;
            box-sizing  : border-box;

        }

        .#{$prefix}-navbar-right {
            justify-self   : end;
            align-self     : center;
            display        : flex;
            justify-content: flex-end;
            order          : 3;
            box-sizing     : border-box;
            margin-right   : $navbar-margin;

        }

        .#{$prefix}-navbar-title {
            color          : $navbar-color-default;
            font-weight    : 700;
            text-decoration: none;
            font-size      : 1.2rem;
        }
    }

    .#{$prefix}-navbar-item {
        color      : $navbar-color-default;
        font-weight: $navbar-text-normal;
        position   : relative;

        &:before {
            content         : "";
            height          : 2px;
            border-radius   : 10px;
            position        : absolute;
            bottom          : 2px;
            left            : 50%;
            transform       : translate(-50%, 2px) scale(0, 1);
            width           : 100%;
            background-color: $navbar-color-default;
        }

        &:hover {
            &:before {
                transform: translate(-50%, 2px) scale(0.2, 1);
            }
        }

        &:focus {
            outline: none !important;

            &:before {
                transform: translate(-50%, 2px) scale(0.1, 1);
            }
        }

        &.#{$prefix}-active {
            color: $navbar-color-default-active;

            &:before {
                background-color: $navbar-color-default-active;
                transform       : translate(-50%, 2px) scale(0.4, 1);
            }

            &:hover,
            &:focus {
                &:before {
                    transform: translate(-50%, 2px) scale(0.6, 1);
                }
            }
        }
    }

}

@mixin navbar-accent {
    .#{$prefix}-navbar.#{$prefix}-accent {
        .#{$prefix}-navbar-item {
            &.#{$prefix}-active {
                color: $navbar-indicator-color-accent !important;

                &:before {
                    background-color: $navbar-indicator-color-accent !important;
                }
            }
        }
    }

}


@mixin navbar-secondary {
    .#{$prefix}-navbar.#{$prefix}-secondary {
        .#{$prefix}-navbar-item {


            &.#{$prefix}-active {
                color: $navbar-indicator-color-secondary !important;

                &:before {
                    background-color: $navbar-indicator-color-secondary !important;
                }
            }
        }
    }

}

@mixin navbar-dark {

    .#{$prefix}-dark {
        color: $component-color-default-dark;

        .#{$prefix}-navbar {
            background-color: $navbar-background-default-dark;

            .#{$prefix}-navbar-title {
                color: $navbar-color-default-dark;
            }
        }

        .#{$prefix}-navbar-item {
            color: $navbar-color-default-dark;

            &:before {
                background-color: $navbar-color-default-dark;
            }

            &.#{$prefix}-active {
                color: $component-color-default-dark;

                &:before {
                    background-color: $navbar-color-default-dark;
                }
            }
        }
    }
}

@mixin navbar-print {
    .#{$prefix}-print {
        .#{$prefix}-navbar {
            box-shadow      : $component-print-shadow;
            background-color: $component-print-background;

            .#{$prefix}-navbar-title {
                color: $component-print-color;
            }
        }

        .#{$prefix}-navbar-item {
            color: $component-print-color;
        }
    }
}

@mixin navbar-media {
    @media (max-width: $breakpoint-s) {

        .#{$prefix}-navbar-left,
        .#{$prefix}-navbar-right {
            // justify-self   : center;
            //justify-content: center !important;
            width : 100%;
            margin: 0px !important;
        }
    }
}

@mixin navbar-no-transition {
    body:not(.#{$prefix}-no-transitions) {
        .#{$prefix}-navbar-item {
            &:before {
                transition: transform $navbar-transition-time ease-in;
            }

        }
    }
}

@mixin definitions {
    @include navbar();
    @include navbar-accent();
    @include navbar-secondary();
    @include navbar-dark();
    @include navbar-print();
    @include navbar-media();
    @include navbar-no-transition();
}