@use '../variables'as *;
@use '../mixins'as *;

$navbar-background-default     : $component-background-default;
$navbar-background-default-dark: $component-background-default-dark;

$navbar-color-default      : $component-color-default;
$navbar-color-default-dark : $component-color-default-dark;

$navbar-indicator-color-accent   : $component-background-accent;
$navbar-indicator-color-secondary: $component-background-secondary;

$navbar-indicator-color-accent-dark    : $component-background-accent-dark;
$navbar-indicator-color-secondary-dark : $component-background-secondary-dark;

$navbar-color-default-active      : $component-color-active;
$navbar-color-default-active-dark : $component-color-active-dark;

// $navbar-color-muted      : $component-color-muted;
// $navbar-color-muted-dark : $component-color-muted-dark;

$navbar-item-padding      : $padding-global;
$navbar-item-padding-small: $padding-global-small;

$navbar-text-normal    : $text-weight-normal;
$navbar-text-bold      : $text-weight-bold;
$navbar-text-semi-bold : $text-weight-semi-bold;
$navbar-margin         : $margin-global;

$navbar-transition-time : $animation-duration-short;

// HELPERS

@mixin default-navbar-item-style($color) {
    color: $color;

    &:focus,
    &:hover {
        @include text-shadow($color);
    }
}

@mixin default-navbar-item-theme-style($color) {
    &.#{$prefix}-active {
        color: $color;

        &:hover {
            @include text-shadow($color);
        }
    }
}

@mixin dot-navbar-item-style($color) {
    color: $color;

    &:hover {
        @include text-shadow($color);
    }

    &:before {
        background-color: $color;
    }
}


// MAIN

@mixin navbar {
    .#{$prefix}-navbar {
        display         : flex;
        flex-wrap       : wrap;
        justify-content : space-between;
        align-items     : center;
        background-color: $navbar-background-default;
        box-shadow      : $shadow2;
        box-sizing      : border-box;
        padding         : 0px;
        z-index         : 1100;
        color           : $component-color-default;

        &.#{$prefix}-transparent {
            background-color: transparent !important;
            box-shadow      : none;
        }

        &.#{$prefix}-small {
            ul {
                padding: $navbar-item-padding-small;
            }
        }

        &.#{$prefix}-large {
            ul {
                padding: $navbar-item-padding;
            }
        }

        ul {
            display   : inline-flex;
            list-style: none;
            margin    : 0px;
            padding   : 0px;
            height    : 100%;
            box-sizing: border-box;

            li {
                display        : inline-flex;
                box-sizing     : border-box;
                align-items    : center;
                justify-content: center;
                padding        : 1px;

                span {
                    padding: $navbar-item-padding;
                }

                &>a {

                    &:not(.#{$prefix}-icon-button):not(.#{$prefix}-button) {
                        padding: $navbar-item-padding;
                    }

                    text-decoration: none;

                    &:hover,
                    &:active {
                        outline: none !important;
                    }
                }
            }
        }

        .#{$prefix}-navbar-left {
            justify-self: left;
            align-self  : center;
            box-sizing  : border-box;
            order       : 1;
            height      : 100%;
            margin-left : $navbar-margin;
        }

        .#{$prefix}-navbar-middle {
            justify-self   : center;
            align-self     : center;
            justify-content: center;
            order          : 2;
            box-sizing     : border-box;
        }

        .#{$prefix}-navbar-right {
            justify-self   : end;
            align-self     : center;
            display        : flex;
            justify-content: flex-end;
            order          : 3;
            box-sizing     : border-box;
            margin-right   : $navbar-margin;

        }

        .#{$prefix}-navbar-title {
            color          : $navbar-color-default;
            font-weight    : $navbar-text-bold;
            text-decoration: none;
            font-size      : 1.2rem;
        }
    }

    .#{$prefix}-navbar-item {
        @include default-navbar-item-style($navbar-color-default);
        // @include createHighlight($color: $highlight-color-dark);

        &.#{$prefix}-active {
            font-weight: $navbar-text-semi-bold;
        }
    }
}


@mixin navbar-theme {
    .#{$prefix}-navbar {
        &.#{$prefix}-accent {
            .#{$prefix}-navbar-item {
                @include default-navbar-item-theme-style($navbar-indicator-color-accent);
            }
        }

        &.#{$prefix}-secondary {
            .#{$prefix}-navbar-item {
                @include default-navbar-item-theme-style($navbar-indicator-color-secondary);
            }
        }
    }
}

@mixin navbar-theme-dark {
    @include mode-dark {
        .#{$prefix}-navbar {
            &.#{$prefix}-accent {
                .#{$prefix}-navbar-item {
                    @include default-navbar-item-theme-style($navbar-indicator-color-accent-dark);
                }
            }

            &.#{$prefix}-secondary {
                .#{$prefix}-navbar-item {
                    @include default-navbar-item-theme-style($navbar-indicator-color-secondary-dark);
                }
            }
        }
    }
}

@mixin navbar-item-dot {
    .#{$prefix}-navbar {
        .#{$prefix}-navbar-item-dot {
            color   : $navbar-color-default;
            position: relative;
            @include add-focus-outline;

            &:before {
                content         : "";
                position        : absolute;
                left            : 50%;
                bottom          : 5px;
                width           : 4px;
                height          : 4px;
                background-color: $navbar-color-default;
                border-radius   : 50%;
                opacity         : 0;
            }

            &:hover {
                @include text-shadow($navbar-color-default);

                &:before {
                    opacity: 0.2;
                }
            }

            &.#{$prefix}-active {
                font-weight: $navbar-text-semi-bold;

                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

@mixin navbar-item-dot-dark {
    @include mode-dark {
        .#{$prefix}-navbar {
            .#{$prefix}-navbar-item-dot {
                @include dot-navbar-item-style($navbar-color-default-dark);
            }
        }
    }
}

@mixin navbar-item-dot-theme {
    .#{$prefix}-navbar {
        &.#{$prefix}-accent {
            .#{$prefix}-navbar-item-dot {
                &.#{$prefix}-active {
                    @include dot-navbar-item-style($navbar-indicator-color-accent);
                }
            }
        }

        &.#{$prefix}-secondary {
            .#{$prefix}-navbar-item-dot {
                &.#{$prefix}-active {
                    @include dot-navbar-item-style($navbar-indicator-color-secondary);
                }
            }
        }
    }
}

@mixin navbar-item-dot-theme-dark {
    @include mode-dark {
        .#{$prefix}-navbar {
            &.#{$prefix}-accent {
                .#{$prefix}-navbar-item-dot {
                    &.#{$prefix}-active {
                        @include dot-navbar-item-style($navbar-indicator-color-accent-dark);
                    }
                }
            }

            &.#{$prefix}-secondary {
                .#{$prefix}-navbar-item-dot {
                    &.#{$prefix}-active {
                        @include dot-navbar-item-style($navbar-indicator-color-secondary-dark);
                    }
                }
            }
        }
    }
}

@mixin navbar-item-line {
    .#{$prefix}-navbar {
        .#{$prefix}-navbar-item-line {
            color      : $navbar-color-default;
            font-weight: $navbar-text-normal;
            position   : relative;

            &:before {
                content         : "";
                height          : 2px;
                border-radius   : 20px;
                position        : absolute;
                bottom          : 2px;
                left            : 50%;
                transform       : translate(-50%, 2px) scale(0, 1);
                width           : 100%;
                background-color: $navbar-color-default;
            }

            &:hover {
                &:before {
                    transform: translate(-50%, 2px) scale(0.1, 1);
                }
            }

            &:focus {
                outline: none !important;

                &:before {
                    transform: translate(-50%, 2px) scale(0.1, 1);
                }
            }

            &.#{$prefix}-active {
                color      : $navbar-color-default-active;
                font-weight: $navbar-text-semi-bold;

                &:before {
                    background-color: $navbar-color-default-active;
                    transform       : translate(-50%, 2px) scale(0.2, 1);
                }

                &:hover,
                &:focus {
                    &:before {
                        transform: translate(-50%, 2px) scale(0.3, 1);
                    }
                }
            }
        }
    }
}

@mixin navbar-item-line-dark {
    @include mode-dark {
        .#{$prefix}-navbar {
            .#{$prefix}-navbar-item-line {
                color: $navbar-color-default-dark;

                &:before {
                    background-color: $navbar-color-default-dark;
                }
            }
        }
    }
}

@mixin navbar-accent-line {
    .#{$prefix}-navbar.#{$prefix}-accent {
        .#{$prefix}-navbar-item-line {
            &.#{$prefix}-active {
                color: $navbar-indicator-color-accent !important;

                &:before {
                    background-color: $navbar-indicator-color-accent !important;
                }
            }
        }
    }
}

@mixin navbar-accent-line-dark {
    @include mode-dark {
        .#{$prefix}-navbar.#{$prefix}-accent {
            .#{$prefix}-navbar-item-line {
                &.#{$prefix}-active {
                    color: $navbar-indicator-color-accent-dark !important;

                    &:before {
                        background-color: $navbar-indicator-color-accent-dark !important;
                    }
                }
            }
        }
    }
}


@mixin navbar-secondary-line {
    .#{$prefix}-navbar.#{$prefix}-secondary {
        .#{$prefix}-navbar-item-line {


            &.#{$prefix}-active {
                color: $navbar-indicator-color-secondary !important;

                &:before {
                    background-color: $navbar-indicator-color-secondary !important;
                }
            }
        }
    }
}

@mixin navbar-secondary-line-dark {
    @include mode-dark {
        .#{$prefix}-navbar.#{$prefix}-secondary {
            .#{$prefix}-navbar-item-line {


                &.#{$prefix}-active {
                    color: $navbar-indicator-color-secondary-dark !important;

                    &:before {
                        background-color: $navbar-indicator-color-secondary-dark !important;
                    }
                }
            }
        }
    }

}

@mixin navbar-dark {
    @include mode-dark {
        .#{$prefix}-navbar {
            background-color: $navbar-background-default-dark;
            color           : $component-color-default-dark;

            .#{$prefix}-navbar-title {
                color: $navbar-color-default-dark;
            }
        }

        .#{$prefix}-navbar-item {
            @include default-navbar-item-style($navbar-color-default-dark);
        }
    }
}

@mixin navbar-print {
    .#{$prefix}-print {
        .#{$prefix}-navbar {
            box-shadow      : $component-print-shadow;
            background-color: $component-print-background;

            .#{$prefix}-navbar-title {
                color: $component-print-color;
            }
        }

        .#{$prefix}-navbar-item {
            color: $component-print-color;

            &.#{$prefix}-active {
                color: $component-print-color;
            }

            &:before {
                background-color: $component-print-color;
            }
        }
    }
}

@mixin navbar-theme-line-print {
    @include mode-print {

        .#{$prefix}-navbar.#{$prefix}-secondary,
        .#{$prefix}-navbar.#{$prefix}-accent {
            .#{$prefix}-navbar-item {
                &.#{$prefix}-active {
                    color: $component-print-color;

                    &:before {
                        background-color: $component-print-color;
                    }
                }
            }
        }
    }
}


@mixin navbar-media {
    @media (max-width: $breakpoint-s) {

        .#{$prefix}-navbar-left,
        .#{$prefix}-navbar-middle,
        .#{$prefix}-navbar-right {
            // justify-self   : center;
            //justify-content: center !important;
            width : 100%;
            margin: 0px !important;
        }
    }
}

@mixin navbar-no-transition {
    body:not(.#{$prefix}-no-transitions) {
        .#{$prefix}-navbar-item {
            &:before {
                transition: transform $navbar-transition-time ease-in;
            }

        }
    }
}

@mixin definitions($options: ()) {
    @include navbar();

    @if(not-option-disabled($options, 'theme')) {
        @include navbar-theme();
    }

    @if(not-option-disabled($options, 'dark')) {
        @include navbar-dark();

        @if(not-option-disabled($options, 'theme')) {
            @include navbar-theme-dark();
        }
    }

    @if(not-option-disabled($options, 'print')) {
        @include navbar-print();
    }

    @if(not-option-disabled($options, 'item-dot')) {
        @include navbar-item-dot();

        @if(not-option-disabled($options, 'dark')) {
            @include navbar-item-dot-dark();
        }

        @if(not-option-disabled($options, 'theme')) {
            @include navbar-item-dot-theme();

            @if(not-option-disabled($options, 'dark')) {
                @include navbar-item-dot-theme-dark();
            }
        }
    }

    @if(not-option-disabled($options, 'item-line')) {
        @include navbar-item-line();

        @if(not-option-disabled($options, 'dark')) {
            @include navbar-item-line-dark();
        }

        @if(not-option-disabled($options, 'theme')) {
            @include navbar-accent-line();
            @include navbar-secondary-line();

            @if(not-option-disabled($options, 'print')) {
                @include navbar-theme-line-print();
            }

            @if(not-option-disabled($options, 'dark')) {
                @include navbar-accent-line-dark();
                @include navbar-secondary-line-dark();
            }
        }

    }

    @if(not-option-disabled($options, 'animation')) {
        @include navbar-no-transition();
    }

    @if(not-option-disabled($options, 'responsive')) {
        @include navbar-media();
    }






}