@use '../variables'as *;
@use '../mixins'as *;

$offacanvas-background-default     : $component-background-default;
$offacanvas-background-default-dark: $component-background-default-dark;
$offacanvas-color-default          : $component-color-default;
$offacanvas-color-default-dark     : $component-color-default-dark;
$offcanvas-backdrop                : $color-backdrop-light;
$offcanvas-backdrop-dark           : $color-backdrop-dark;
$offcanvas-animation-time          : $animation-duration-default;
$offcanvas-animation-time-short    : $animation-duration-short;
$offcanvas-size                    : $size-medium;


@mixin offcanvas {
    div.#{$prefix}-off-canvas {
        height    : 100vh;
        width     : 100vw;
        position  : fixed;
        z-index   : 1150;
        top       : 0px;
        left      : 0px;
        //opacity : 0;

        &:not(.animation-progress):not(.#{$prefix}-active) {
            display: none;
        }

        .#{$prefix}-off-canvas-container {
            position        : absolute;
            top             : 0px;
            bottom          : auto;
            width           : $offcanvas-size;
            height          : 100vh;
            background-color: $offacanvas-background-default;
            color           : $offacanvas-color-default;
            right           : 0px;
            box-shadow      : $shadow3;
        }

        &.#{$prefix}-left {
            .#{$prefix}-off-canvas-container {
                left: 0px;
            }
        }

        // &.#{$prefix}-active {
        //     //opacity: 1;
        // }
    }

    body.#{$prefix}-off-canvas-open {
        overflow: hidden;
        position: fixed;
    }
}

@mixin offcanvas-dark {
    .#{$prefix}-dark {
        div.#{$prefix}-off-canvas {
            background-color: $offcanvas-backdrop-dark;

            .#{$prefix}-off-canvas-container {
                background-color: $offacanvas-background-default-dark;
                color           : $offacanvas-color-default-dark;
            }
        }
    }
}

@mixin offcanvas-print {
    .#{$prefix}-print {
        div.#{$prefix}-off-canvas {
            background-color: $component-print-background;

            .#{$prefix}-off-canvas-container {
                background-color: $component-print-background;
                color           : $component-print-color;
            }
        }
    }
}

@mixin offcanvas-animations {
    .#{$prefix}-offcanvas-default-right-in {
        .#{$prefix}-off-canvas-container {
            animation: slideInRight $offcanvas-animation-time ease-out forwards;
        }
    }

    .#{$prefix}-offcanvas-default-right-out {
        .#{$prefix}-off-canvas-container {
            animation: slideOutRight $offcanvas-animation-time ease-out forwards;
        }
    }

    .#{$prefix}-offcanvas-default-left-in {
        .#{$prefix}-off-canvas-container {
            background-color: red;
            animation       : offCanvasSlideLeftIn $offcanvas-animation-time ease-out forwards;
        }
    }

    .#{$prefix}-offcanvas-default-left-out {
        .#{$prefix}-off-canvas-container {
            animation: slideOutLeft $offcanvas-animation-time ease-out forwards;
        }
    }

    @keyframes offCanvasSlideRightIn {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes offCanvasSlideLeftIn {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

@mixin definitions {
    @include offcanvas();
    @include offcanvas-dark();
    @include offcanvas-print();
    @include offcanvas-animations();
}