@use '../variables'as *;
@use '../mixins'as *;

$overlay-color-light: $color-backdrop-light;
$overlay-color-dark : $color-backdrop-dark;
$blur-intensity     : 6;

@mixin overlay {
    .#{$prefix}-overlay-light {
        background-color: $overlay-color-light;
        @include color(light)
    }

    .#{$prefix}-overlay-dark {
        background-color: $overlay-color-dark;
        @include color(dark)
    }

    .#{$prefix}-overlay-blur {
        backdrop-filter: blur($blur-intensity);
    }
}

@mixin definitions {
    @include overlay();
}