@use '../variables'as *;
@use '../mixins'as *;

$progress-normal-height         : 1rem;
$progress-small-height          : 0.5rem;
$progress-border-radius         : 0px;
$progress-border-color          : transparent;
$progress-background-color      : $component-background-shade;
$progress-background-color-dark : $component-background-shade-dark;
$progress-value-color           : $component-color-default;
$progress-value-color-dark      : $component-color-default-dark;
$progress-value-color-accent    : $component-background-accent;
$progress-value-color-secondary : $component-background-secondary;
$progress-value-color-success   : $component-background-success;
$progress-value-color-warning   : $component-background-warning;
$progress-value-color-error     : $component-background-error;
$progress-transition-time       : $animation-duration-long;


@mixin progress-no-transitions {
    body:not(.#{$prefix}-no-transitions) {
        .#{$prefix}-progress {
            &::-webkit-progress-value {
                transition: width $progress-transition-time ease;
            }

            &::-moz-progress-bar {
                transition: width $progress-transition-time ease;

            }

            &::-ms-fill {
                transition: width $progress-transition-time ease;
            }
        }
    }
}

@mixin progress {
    progress.#{$prefix}-progress {
        display           : block;
        width             : 100%;
        box-sizing        : border-box;
        -webkit-appearance: none;
        appearance        : none;
        -moz-appearance   : none;
        overflow          : hidden;
        height            : $progress-normal-height;
        border            : 1px solid $progress-border-color;
        border-radius     : $progress-border-radius;
        background        : none;
        background-color  : $progress-background-color;

        &:indeterminate {
            color: transparent;

            &::-moz-progress-bar {
                width: 0;
            }
        }

        &::-webkit-progress-bar {
            background-color: $progress-background-color;
            border-radius   : $progress-border-radius;
            overflow        : hidden;
        }

        &::-webkit-progress-value {
            background-color: $progress-value-color;
        }

        &::-moz-progress-bar {
            background-color: $progress-value-color;

        }

        &::-ms-fill {
            background-color: $progress-value-color;
            border          : 0;
        }

        &.#{$prefix}-small {
            height: $progress-small-height;
        }
    }
}


@mixin progress-theme {
    progress.#{$prefix}-progress {
        &.#{$prefix}-accent {
            &::-webkit-progress-value {
                background-color: $progress-value-color-accent;
            }

            &::-moz-progress-bar {
                background-color: $progress-value-color-accent;
            }

            &::-ms-fill {
                background-color: $progress-value-color-accent;
            }
        }

        &.#{$prefix}-secondary {
            &::-webkit-progress-value {
                background-color: $progress-value-color-secondary;
            }

            &::-moz-progress-bar {
                background-color: $progress-value-color-secondary;
            }

            &::-ms-fill {
                background-color: $progress-value-color-secondary;
            }
        }
    }
}

@mixin progress-signals {
    progress.#{$prefix}-progress {
        &.#{$prefix}-success {
            &::-webkit-progress-value {
                background-color: $progress-value-color-success;
            }

            &::-moz-progress-bar {
                background-color: $progress-value-color-success;
            }

            &::-ms-fill {
                background-color: $progress-value-color-success;
            }
        }

        &.#{$prefix}-warning {
            &::-webkit-progress-value {
                background-color: $progress-value-color-warning;
            }

            &::-moz-progress-bar {
                background-color: $progress-value-color-warning;
            }

            &::-ms-fill {
                background-color: $progress-value-color-warning;
            }
        }

        &.#{$prefix}-error {
            &::-webkit-progress-value {
                background-color: $progress-value-color-error;
            }

            &::-moz-progress-bar {
                background-color: $progress-value-color-error;
            }

            &::-ms-fill {
                background-color: $progress-value-color-error;
            }
        }
    }
}


@mixin progress-dark {
    .#{$prefix}-dark {
        progress.#{$prefix}-progress {
            background-color: $progress-background-color-dark;

            &::-webkit-progress-bar {
                background-color: $progress-background-color-dark;
            }

            &:not(.#{$prefix}-error):not(.#{$prefix}-warning):not(.#{$prefix}-success):not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                &::-webkit-progress-value {
                    background-color: $progress-value-color-dark;

                }

                &::-moz-progress-bar {
                    background-color: $progress-value-color-dark;

                }

                &::-ms-fill {
                    background-color: $progress-value-color-dark;
                }
            }
        }
    }
}

@mixin progress-print {
    .#{$prefix}-print {
        progress.#{$prefix}-progress {
            background-color: $component-print-background;
            border          : $component-print-border;


            &::-webkit-progress-bar {
                background-color: $component-print-background;
            }


            &::-webkit-progress-value {
                background-color: $component-print-color;

            }

            &::-moz-progress-bar {
                background-color: $component-print-color;

            }

            &::-ms-fill {
                background-color: $component-print-color;
            }
        }
    }
}

@mixin definitions($options: ()) {
    @include progress();

    @if(not-option-disabled($options, 'dark')) {
        @include progress-dark();
    }

    @if(not-option-disabled($options, 'print')) {
        @include progress-print();
    }

    @if(not-option-disabled($options, 'theme')) {
        @include progress-theme();
    }

    @if(not-option-disabled($options, 'signal')) {
        @include progress-signals();
    }
}