@use '../variables'as *;
@use '../mixins'as *;

$sortable-preview-background      : $component-background-shade-active;
$sortable-preview-background-dark : $component-background-shade-dark-active;

$sortable-shadow-border-radius: $border-radius-default;

$sortable-margin: $margin-global-small;

@mixin sortable {
    ul.#{$prefix}-sortable {

        list-style: none;
        margin    : 0;
        padding   : 0;

        &>li {
            padding: 4px 0;
        }
    }

    .#{$prefix}-sortable {
        .#{$prefix}-moving {
            //display: none;
            opacity: 0;
        }

        &.#{$prefix}-locked {
            user-select: none;
        }
    }

    .#{$prefix}-sortable-preview {
        height          : 1rem;
        width           : 1rem;
        border-radius   : $sortable-shadow-border-radius;
        box-shadow      : $shadow3;
        background-color: $sortable-preview-background;
        position        : fixed;
        z-index         : 1000;
        display         : block;
        user-select     : none;
        touch-action    : none;
        opacity         : 1;
        transition      : opacity 300ms ease-out;
    }


    body.#{$prefix}-sortable-active {
        overflow           : hidden;
        position           : fixed;
        overscroll-behavior: none;
        user-select        : none !important;
    }
}

@mixin sortable-dark {
    @include mode-dark {
        .#{$prefix}-sortable-preview {
            background-color: $sortable-preview-background-dark;
        }
    }
}

@mixin definitions($options:()) {
    @include sortable();

    @if(not-option-disabled($options, 'dark')) {
        @include sortable-dark();
    }

}