@use '../variables'as *;
@use '../mixins'as *;

$tab-color-base   : $component-color-default;
$tab-color-primary: $component-background-accent;

$tab-item-color-hover      : $component-background-shade;
$tab-item-color-active     : $component-background-shade-active;
$tab-item-color-dark-hover : $component-background-shade-dark;
$tab-item-color-dark-active: $component-background-shade-dark-active;

$tab-border-bottom: 1px solid $button-border-color;
$tab-border-aside : 1px solid $button-border-color;

$tab-border-color-dark: $button-border-color-dark;

$tab-transition-time: $animation-duration-short;

@mixin pointer {
    cursor     : pointer;
    user-select: none;
}

@mixin tab {
    ul.#{$prefix}-tab {
        list-style   : none;
        margin       : 0px;
        padding      : 0px;
        border-bottom: $tab-border-bottom;


        li {
            display   : inline-block;
            box-sizing: border-box;
            @include component-padding;

            &:hover {
                background-color: $tab-item-color-hover;
            }

            &:active {
                background-color: $tab-item-color-active;
            }

            &.#{$prefix}-active {
                position: relative;

                &:before {
                    position        : absolute;
                    content         : "";
                    height          : 2px;
                    background-color: $tab-color-primary;
                    width           : 100%;
                    left            : 50%;
                    transform       : translateX(-50%) scale(0.8, 1);
                    bottom          : -1px;
                    transition      : transform $tab-transition-time ease-out;
                }

                &:hover {
                    &:before {
                        transform: translateX(-50%) scale(1, 1);
                    }
                }
            }
        }

        &.#{$prefix}-tab-side {
            border-right : $tab-border-aside;
            border-bottom: none;

            li {
                display: list-item;

                &.#{$prefix}-active {
                    position: relative;

                    &:before {
                        content         : "";
                        position        : absolute;
                        width           : 2px;
                        background-color: $tab-color-primary;
                        height          : 100%;
                        left            : 0;
                        top             : 50%;
                        transform       : translateY(-50%) scale(1, 0.8);
                        transition      : transform $tab-transition-time ease-out;
                    }

                    &:hover {
                        &:before {
                            transform: translateY(-50%) scale(1, 1);
                        }
                    }
                }
            }
        }
    }

}

@mixin tab-dark {
    .#{$prefix}-dark {
        ul.#{$prefix}-tab {
            border-color: $tab-border-color-dark;

            li {
                &:hover {
                    background-color: $tab-item-color-dark-hover;
                }

                &:active {
                    background-color: $tab-item-color-dark-active;
                }
            }

            &.#{$prefix}-tab-side {
                border-color: $tab-border-color-dark;
            }
        }
    }
}

@mixin tab-print {
    .#{$prefix}-print {
        ul.#{$prefix}-tab {
            border-color: $component-print-border;

            li {
                &:hover {
                    background-color: $component-print-background;
                }

                &:active {
                    background-color: $component-print-background;
                }

                &.#{$prefix}-active {
                    &:before {
                        background-color: $component-print-color;
                    }
                }
            }

            &.#{$prefix}-tab-side {
                border-color   : $component-print-border-color;
                //border-bottom: $component-print-border;

                li {
                    &.#{$prefix}-active {
                        &:before {
                            background-color: $component-print-color;
                        }
                    }
                }
            }
        }
    }
}

@mixin definitions {
    @include tab();
    @include tab-dark();
    @include tab-print();
}