@use '../variables'as *;
@use '../mixins'as *;

$table-cell-divider-color     : $color-border-light;
$table-cell-divider-color-dark: $color-border-dark;

$table-stripped-color     : $component-background-shade;
$table-stripped-color-dark: $component-background-shade-dark;

$table-header-color-accent    : $component-background-accent;
$table-header-color-secondary : $component-background-secondary;

$table-color-inverse      : $component-color-default;
$table-color-inverse-dark : $component-color-default-dark;

$table-background-inverse     : $component-background-shade;
$table-background-inverse-dark: $component-background-shade-dark;

@mixin table {
    table.#{$prefix}-table {
        width          : 100%;
        border-collapse: collapse;
        table-layout   : fixed;

        &.#{$prefix}-stripped {
            tr:nth-child(even) {
                background-color: $table-stripped-color;
            }
        }

        // Give a row divider
        &.#{$prefix}-divider {
            tr:last-child {
                td {
                    border-bottom: none;
                }
            }

            td {
                border-bottom: 1px solid $table-cell-divider-color;
            }
        }

        // Give a column divider
        &.#{$prefix}-column-divider {
            tr {
                th {
                    border-right: 1px solid $table-cell-divider-color;

                    &:last-child {
                        border-right: none;
                    }
                }

                td {
                    border-right: 1px solid $table-cell-divider-color;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        &.#{$prefix}-header-inverse {
            th {
                background-color: $table-background-inverse;

                &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                    color: $table-color-inverse;
                }
            }
        }

        &.#{$prefix}-header-sticky {
            th {
                position: sticky;
                top     : 0;
            }
        }

        tr {
            th {
                font-weight  : 700;
                padding      : 1em;
                border-bottom: 1px solid $table-cell-divider-color;
                text-align   : left;

                &.#{$prefix}-center {
                    text-align: center;
                }

                &.#{$prefix}-right {
                    text-align: right;
                }

                &.#{$prefix}-accent {
                    color: $table-header-color-accent;
                }

                &.#{$prefix}-secondary {
                    color: $table-header-color-secondary;
                }

                &.#{$prefix}-narrow {
                    width: 50px;
                }

                &.#{$prefix}-wide {
                    width: 300px;
                }

                &.#{$prefix}-nowrap {
                    max-width    : 0;
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                    overflow     : hidden;
                }

            }

            td {
                @include component-padding;
                text-align: left;

                &.#{$prefix}-center {
                    text-align: center;
                }

                &.#{$prefix}-right {
                    text-align: right;
                }

                &.#{$prefix}-accent {
                    color: $table-header-color-accent;
                }

                &.#{$prefix}-secondary {
                    color: $table-header-color-secondary;
                }

                &.#{$prefix}-nowrap {
                    max-width    : 0;
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                    overflow     : hidden;
                }
            }
        }
    }
}

@mixin table-dark {

    .#{$prefix}-dark {
        table.#{$prefix}-table {

            &.#{$prefix}-stripped {
                tr:nth-child(even) {
                    background-color: $table-stripped-color-dark;
                }
            }

            &.#{$prefix}-divider {

                td {
                    border-color: $table-cell-divider-color-dark;
                }
            }

            &.#{$prefix}-column-divider {
                tr {
                    th {
                        border-color: $table-cell-divider-color-dark;
                    }

                    td {
                        border-color: $table-cell-divider-color-dark;
                    }
                }
            }

            tr {
                &.#{$prefix}-divider {
                    td {
                        border-color: $table-cell-divider-color-dark;
                    }
                }

                th {
                    border-color: $table-cell-divider-color-dark;
                }
            }

            &.#{$prefix}-header-inverse {
                th {
                    background-color: $table-background-inverse-dark;

                    &:not(.#{$prefix}-accent):not(.#{$prefix}-secondary) {
                        color: $table-color-inverse-dark;
                    }
                }
            }
        }
    }
}

@mixin table-print {
    .#{$prefix}-print {
        table.#{$prefix}-table {

            &.#{$prefix}-stripped {
                tr:nth-child(even) {
                    background-color: $component-print-background;
                }
            }

            &.#{$prefix}-divider {

                td {
                    border-color: $component-print-border-color;
                }
            }

            &.#{$prefix}-header-inverse {
                th {
                    background-color: $component-print-background;
                }
            }

            &.#{$prefix}-column-divider {
                tr {
                    th {
                        border-color: $component-print-border-color;
                    }

                    td {
                        border-color: $component-print-border-color;
                    }
                }
            }

            tr {
                &.#{$prefix}-divider {
                    td {
                        border-color: $component-print-border-color;
                    }
                }

                th {
                    border-color: $component-print-border-color;
                    color       : $component-print-color;
                }

            }
        }
    }
}

@mixin definitions {
    @include table();
    @include table-dark();
    @include table-print();
}