// Text styling

@use '../variables'as *;
@use '../mixins'as *;


$text-large       : $font-large;
$text-small       : $font-small;
$text-xlarge      : $font-xlarge;
$text-line-height : $line-height;
$text-line-large  : $line-height-large;
$text-line-small  : $line-height-small;
$text-line-xlarge : $line-height-xlarge;
$font-weight      : $text-weight-normal;


$text-color-muted             : $component-color-muted;
$text-color-muted-dark        : $component-color-muted-dark;
$text-color-dark              : $component-color-default-dark;
$blockquote-background-default: $component-background-shade;
$blockquote-background-dark   : $component-background-shade-dark;
$blockquote-border-color      : $component-background-shade-active;
$blockquote-border-color-dark : $component-background-shade-dark-active;


@mixin text {

    p,
    a,
    span {
        line-height: $text-line-height;
        font-weight: $font-weight;
    }

    .#{$prefix}-text-muted {
        color: $text-color-muted;
    }

    .#{$prefix}-text-dark {
        color: $text-color-dark;
    }

    .#{$prefix}-font-mono {
        font-family: $font-family-mono;
    }

    .#{$prefix}-font-alternative {
        font-family: $font-family-alter;
    }

    p:first-child {
        margin-top : 0px;
        padding-top: 0px;
    }

    p:only-child {
        margin: 0px;
    }
}

@mixin text-theme {
    .#{$prefix}-text-accent {
        @include color('accent')
    }

    .#{$prefix}-text-secondary {
        @include color('secondary')
    }
}

@mixin text-theme-dark {
    @include mode-dark {
        .#{$prefix}-text-accent {
            @include color('accent-dark')
        }

        .#{$prefix}-text-secondary {
            @include color('secondary-dark')
        }
    }
}

@mixin text-signals {
    .#{$prefix}-text-success {
        @include color('success')
    }

    .#{$prefix}-text-warning {
        @include color('warning')
    }

    .#{$prefix}-text-error {
        @include color('error')
    }
}

@mixin text-signals-dark {
    @include mode-dark {
        .#{$prefix}-text-success {
            @include color('success-dark')
        }

        .#{$prefix}-text-warning {
            @include color('warning-dark')
        }

        .#{$prefix}-text-error {
            @include color('error-dark')
        }
    }
}

@mixin text-weights {
    .#{$prefix}-text-bold {
        font-weight: $text-weight-bold;
    }

    .#{$prefix}-text-thin {
        font-weight: $text-weight-thin;
    }
}

@mixin text-sizes {
    .#{$prefix}-text-large {
        font-size: $text-large;
    }

    .#{$prefix}-text-small {
        font-size: $text-small;
    }
}

@mixin text-decorations {
    .#{$prefix}-text-underline {
        text-decoration: underline;
    }

    .#{$prefix}-text-line {
        text-decoration: line-through;
    }

    .#{$prefix}-text-italic {
        font-style: italic;
    }
}

@mixin text-transform {
    .#{$prefix}-text-upper {
        text-transform: uppercase;
    }

    .#{$prefix}-text-lower {
        text-transform: lowercase;
    }

    .#{$prefix}-text-capital {
        text-transform: capitalize;
    }
}

@mixin text-align($size: "") {
    .#{$prefix}-text-left#{$size} {
        text-align: left;
    }

    .#{$prefix}-text-right#{$size} {
        text-align: right;
    }

    .#{$prefix}-text-center#{$size} {
        text-align: center;
    }

    .#{$prefix}-text-justify#{$size} {
        text-align: justify;
    }
}



@mixin text-wrap($size: "") {
    .#{$prefix}-text-truncate#{$size} {
        white-space  : nowrap;
        text-overflow: ellipsis;
    }

    .#{$prefix}-text-nowrap#{$size} {
        white-space  : nowrap;
        text-overflow: clip;
    }
}

@mixin text-media {
    @include media-screen-min-small {
        @include text-align(--s);
        @include text-wrap(--s);
    }

    @include media-screen-min-medium {
        @include text-align(--m);
        @include text-wrap(--m);
    }

    @include media-screen-min-large {
        @include text-align(--l);
        @include text-wrap(--l);
    }

    @include media-screen-min-xlarge {
        @include text-align(--xl);
        @include text-wrap(--xl);
    }
}

@mixin blockquote {
    .#{$prefix}-blockquote {
        @include component-padding(normal, true);
        border-left     : 4px solid $blockquote-border-color;
        background-color: $blockquote-background-default;
        font-style      : italic;
        margin          : 0px;
    }
}

@mixin article {
    .#{$prefix}-article-title {
        font-size  : $text-xlarge;
        font-weight: $text-weight-thin;
    }

    .#{$prefix}-article-description {
        font-size  : $text-large;
        font-weight: $text-weight-thin;
    }
}

@mixin text-dark {
    @include mode-dark {
        .#{$prefix}-text-muted {
            color: $text-color-muted-dark;
        }
    }
}

@mixin blockquote-dark {
    @include mode-dark {
        .#{$prefix}-blockquote {
            border-color    : $blockquote-border-color-dark;
            background-color: $blockquote-background-dark;
        }
    }
}

@mixin text-print {
    @include mode-print {
        [class*="#{$prefix}-text-"] {
            color: $component-print-color;
        }
    }
}

@mixin blockquote-print {
    @include mode-print {
        .#{$prefix}-blockquote {
            border-color    : $component-print-color;
            background-color: $component-print-background;
        }
    }
}

@mixin line-height($size:"") {
    .#{$prefix}-line-height#{$size} {
        line-height: $text-line-height;
    }

    .#{$prefix}-line-height-large#{$size} {
        line-height: $text-line-large;
    }

    .#{$prefix}-line-height-xlarge#{$size} {
        line-height: $text-line-xlarge;
    }

    .#{$prefix}-line-height-small#{$size} {
        line-height: $text-line-small;
    }
}

@mixin line-height-responsive() {
    @include media-screen-min-small {
        @include line-height(--s);
    }

    @include media-screen-min-medium {
        @include line-height(--m);
    }

    @include media-screen-min-large {
        @include line-height(--l);
    }

    @include media-screen-min-xlarge {
        @include line-height(--xl);
    }
}

@mixin definitions($options: ()) {
    @include text;

    @if(not-option-disabled($options, 'theme')) {
        @include text-theme;

        @if(not-option-disabled($options, 'dark')) {
            @include text-theme-dark()
        }
    }

    @if(not-option-disabled($options, 'signal')) {
        @include text-signals;

        @if(not-option-disabled($options, 'dark')) {
            @include text-signals-dark();
        }
    }

    @if(not-option-disabled($options, 'blockquote')) {
        @include blockquote;

        @if(not-option-disabled($options, 'print')) {
            @include blockquote-print();
        }

        @if(not-option-disabled($options, 'dark')) {
            @include blockquote-dark();
        }
    }

    @if(not-option-disabled($options, 'size')) {
        @include text-sizes;
    }

    @if(not-option-disabled($options, 'weight')) {
        @include text-weights();
    }

    @if(not-option-disabled($options, 'transform')) {
        @include text-transform();
    }

    @if(not-option-disabled($options, 'placement')) {
        @include text-align();
        @include text-wrap();

        @if(not-option-disabled($options, 'responsive')) {
            @include text-media();
        }
    }

    @if(not-option-disabled($options, 'article')) {
        @include article()
    }

    @if(not-option-disabled($options, 'print')) {
        @include text-print;
    }

    @if(not-option-disabled($options, 'decoration')) {
        @include text-decorations;
    }

    @if(not-option-disabled($options, 'line-height')) {
        @include line-height();

        @if(not-option-disabled($options, 'responsive')) {
            @include line-height-responsive();
        }
    }

}