@use '../variables'as *;
@use '../mixins'as *;

$tooltip-background-color     : $component-background-default;
$tooltip-background-color-dark: $component-background-default-dark;
$tooltip-text-color           : $component-color-default;
$tooltip-text-color-dark      : $component-color-default-dark;

$tooltip-border-color      :$color-border-light;
$tooltip-border-color-dark :$color-border-dark;

$tooltip-max-width      : 250px;
$tooltip-border-radius  : $border-radius-default;
$tooltip-font-size      : $font-small;
$tooltip-animation-time : $animation-duration-short;
$tooltip-translate-y    : 4px;

@mixin tooltip {
    .#{$prefix}-tooltip-container {
        position: relative;
        cursor  : help;
        display : inline-block;

        .#{$prefix}-tooltip {
            display         : flex;
            justify-content : center;
            align-items     : center;
            position        : absolute;
            background-color: $tooltip-background-color;
            box-shadow      : $shadow;
            border          : 1px solid transparent;
            border-radius   : $tooltip-border-radius;
            font-size       : $tooltip-font-size;
            user-select     : none;
            transform       : scale(0) translateX(-50%) translateY(0px);
            color           : $tooltip-text-color;
            width           : max-content;
            max-width       : 120px;
            transform-origin: top left;
            outline         : none !important;

            @include component-padding(small);
            z-index: 1160;

        }

        &:hover,
        &:focus-within {
            .#{$prefix}-tooltip {
                transform: scale(1) translateX(-50%) translateY(calc(-50% - #{$tooltip-translate-y}));
            }
        }
    }




}


@mixin tooltip-positions {
    .#{$prefix}-tooltip-container {
        .#{$prefix}-tooltip {
            &:not(.#{$prefix}-tooltip-bottom-center):not(.#{$prefix}-tooltip-bottom-right):not(.#{$prefix}-tooltip-bottom-left):not(.#{$prefix}-tooltip-top-left):not(.#{$prefix}-tooltip-top-center):not(.#{$prefix}-tooltip-top-right) {
                top : 0;
                left: 50%;
            }

            &.#{$prefix}-tooltip-top-center {
                transform-origin: top left;
                top             : 0;
                left            : 50%;
                transform       : scale(0) translateX(-50%) translateY(0px);
            }

            &.#{$prefix}-tooltip-top-left {
                transform-origin: top left;
                top             : 0;
                left            : 0;
                transform       : scale(0) translateX(-100%) translateY(0px);

            }

            &.#{$prefix}-tooltip-top-right {
                transform-origin: top right;
                top             : 0;
                right           : 0;
                transform       : scale(0) translateX(100%) translateY(0px);
            }

            &.#{$prefix}-tooltip-bottom-left {
                transform-origin: bottom left;
                bottom          : 0;
                left            : 0;
                transform       : scale(0) translateX(-100%) translateY(0px);
            }

            &.#{$prefix}-tooltip-bottom-right {
                transform-origin: bottom right;
                bottom          : 0;
                right           : 0;
                transform       : scale(0) translateX(100%) translateY(0px);
            }

            &.#{$prefix}-tooltip-bottom-center {
                transform-origin: bottom left;
                bottom          : 0;
                left            : 50%;
                transform       : scale(0) translateX(-50%) translateY(0px);
            }
        }

        &:hover,
        &:focus-within {
            .#{$prefix}-tooltip {

                &.#{$prefix}-tooltip-top-center {
                    transform: scale(1) translateX(-50%) translateY(calc(-50% - #{$tooltip-translate-y}));
                }

                &.#{$prefix}-tooltip-top-left {
                    transform: scale(1) translateX(calc(-100% - #{$tooltip-translate-y})) translateY(calc(-50% - #{$tooltip-translate-y}));

                }

                &.#{$prefix}-tooltip-top-right {
                    transform: scale(1) translateX(calc(100% + #{$tooltip-translate-y})) translateY(calc(-50% - #{$tooltip-translate-y}));
                }

                &.#{$prefix}-tooltip-bottom-left {
                    transform: scale(1) translateX(calc(-100% - #{$tooltip-translate-y})) translateY(calc(100% + #{$tooltip-translate-y}));
                }

                &.#{$prefix}-tooltip-bottom-right {
                    transform: scale(1) translateX(calc(100% + #{$tooltip-translate-y})) translateY(calc(100% + #{$tooltip-translate-y}));

                }

                &.#{$prefix}-tooltip-bottom-center {
                    transform: scale(1) translateX(-50%) translateY(calc(100% + #{$tooltip-translate-y}));
                }
            }
        }

    }
}

@mixin tooltip-options {
    .#{$prefix}-tooltip {
        &.#{$prefix}-wide {
            &:after {
                width: 350px;
            }
        }

        &.#{$prefix}-fit {
            &:after {
                max-width: 400px;
            }
        }
    }
}

@mixin tooltip-content {
    .#{$prefix}-tooltip-content {
        position       : absolute;
        display        : flex;
        justify-content: center;
        align-items    : center;
        @include component-padding(sameSmall);
        background-color: $tooltip-background-color;
        box-shadow      : $shadow;
        max-width       : $tooltip-max-width;
        color           : $tooltip-text-color;
        border          : 1px solid $tooltip-border-color;
        border-radius   : $tooltip-border-radius;
        font-size       : $tooltip-font-size;
        user-select     : none;
        transform       : scale(1);
        transform-origin: center;
    }
}

@mixin tooltip-dark {
    .#{$prefix}-dark {
        .#{$prefix}-tooltip-content {
            border          : 1px solid $tooltip-background-color-dark;
            background-color: $tooltip-background-color-dark;
            color           : $tooltip-text-color-dark;
        }

        .#{$prefix}-tooltip {
            background-color: $tooltip-background-color-dark;
            border          : 1px solid $tooltip-border-color-dark;
            color           : $tooltip-text-color-dark;
        }
    }
}

@mixin tooltip-print {
    .#{$prefix}-print {
        .#{$prefix}-tooltip-content {
            border          : $component-print-border;
            background-color: $component-print-background;
            color           : $component-print-color;
            box-shadow      : $component-print-shadow;
        }

        .#{$prefix}-tooltip {
            background-color: $component-print-background;
            border          : $component-print-border;
            color           : $component-print-color;
            box-shadow      : $component-print-shadow;
        }
    }
}

@mixin tooltip-no-transitions {
    body:not(.#{$prefix}-no-transitions) {
        .#{$prefix}-tooltip {
            transition-delay: $tooltip-animation-time;
            transition      : transform $tooltip-animation-time ease-in;
        }
    }
}

@mixin tooltip-animation {
    .#{$prefix}-animation-tooltip-in {
        animation: tooltipIn $tooltip-animation-time ease-in forwards;
    }

    @keyframes tooltipIn {
        0% {
            transform: scale(0);
            opacity  : 0;
        }

        40% {
            transform: scale(0.6);
            opacity  : 0.3;
        }

        50% {
            transform: scale(1.3);
            opacity  : 0.6;
        }

        100% {
            transform: scale(1, 1);
            opacity  : 1;
        }
    }
}

@mixin definitions {
    @include tooltip();
    @include tooltip-no-transitions();
    @include tooltip-positions();
    @include tooltip-options();
    @include tooltip-dark();
    @include tooltip-print();
}