@mixin set-animations-duration(
	$prefix: "cui",
	$base: null,
	$short: null,
	$long: null
) {
	@if not $prefix {
		@error "Prefix was not provided";
	}

	@if not $base {
		@error "Base animation value must be provided";
	}

	--#{$prefix}-anim: #{$base};

	@if $short {
		--#{$prefix}-anim-s: #{$short};
	} @else {
		@warn "Short was not provided - using 0.5x base";
		--#{$prefix}-anim-s: calc(#{$base}* 0.5);
	}

	@if $long {
		--#{$prefix}-anim-l: #{$long};
	} @else {
		@warn "Long was not provided - using 2x base";
		--#{$prefix}-anim-l: calc(#{$base}* 2);
	}
}
