$palletes: (
	"accent": "acc",
	"secondary": "sec",
	"error": "err",
	"success": "scs",
	"warning": "warn",
);

@mixin set-color(
	$prefix,
	$pallete,
	$base,
	$muted,
	$active,
	$shade,
	$dark: false
) {
	@if not $prefix {
		@error "Prefix was not provided";
	}

	@if not $pallete {
		@error "Pallete was not provided";
	}

	$resolved: map-get($palletes, $pallete);

	$suff: "";

	@if $dark {
		$suff: "-d";
	}

	@if not $resolved {
		@error "Pallete name was incorrect";
	}

	@if $base {
		--#{$prefix}-clr-#{$resolved}#{$suff}: #{$base};
	} @else {
		@warn "Base value was not provided";
	}

	@if $muted {
		--#{$prefix}-clr-#{$resolved}#{$suff}-m: #{$muted};
	} @else {
		@warn "Muted value was not provided";
	}

	@if $active {
		--#{$prefix}-clr-#{$resolved}#{$suff}-a: #{$active};
	} @else {
		@warn "Active value was not provided";
	}

	@if $shade {
		--#{$prefix}-clr-#{$resolved}#{$suff}-sh: #{$shade};
	} @else {
		@warn "Shade value was not provided";
	}
}

@mixin set-accent-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "accent",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade
	);
}

@mixin set-accent-dark-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "accent",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade,
		$dark: true
	);
}

@mixin set-secondary-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "secondary",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade
	);
}

@mixin set-secondary-dark-colors(
	$prefix: "cui",
	$base,
	$muted,
	$active,
	$shade
) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "secondary",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade,
		$dark: true
	);
}

@mixin set-error-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "error",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade
	);
}

@mixin set-error-dark-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "error",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade,
		$dark: true
	);
}

@mixin set-warning-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "warning",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade
	);
}

@mixin set-warning-dark-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "warning",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade,
		$dark: true
	);
}

@mixin set-success-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "success",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade
	);
}

@mixin set-success-dark-colors($prefix: "cui", $base, $muted, $active, $shade) {
	@include set-color(
		$prefix: $prefix,
		$pallete: "success",
		$base: $base,
		$muted: $muted,
		$active: $active,
		$shade: $shade,
		$dark: true
	);
}
