@use 'variables'as *;
@use 'mixins'as *;

$default-animation-time : $animation-duration-default;
$short-animation-time   : $animation-duration-short;
$default-animation-long : calc(#{$animation-duration-long}*5);

@mixin animations {

    .#{$prefix}-animation-pause {
        animation-play-state: paused;
    }

    /*
* For simple input button
*/
    @keyframes radioShowUp {
        0% {
            opacity  : 0;
            transform: scale(0)
        }

        80% {
            opacity  : 1;
            transform: scale(1.2);
        }

        100% {
            opacity  : 1;
            transform: scale(1)
        }
    }

    @keyframes radioHide {
        0% {
            opacity  : 1;
            transform: scale(1)
        }

        20% {
            opacity  : 1;
            transform: scale(1.2);
        }

        100% {
            opacity  : 0;
            transform: scale(0)
        }
    }

    @keyframes checkmarkShowUp {
        0% {
            opacity  : 0;
            transform: scale(0)
        }

        80% {
            opacity  : 1;
            transform: scale(1.1);
        }

        100% {
            opacity  : 1;
            transform: scale(1)
        }
    }

    @keyframes checkmarkHide {
        0% {
            opacity  : 1;
            transform: scale(1)
        }

        20% {
            opacity  : 1;
            transform: scale(1.1);
        }

        100% {
            opacity  : 0;
            transform: scale(0)
        }
    }

    @keyframes switchMoveOn {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(18px);
        }
    }

    @keyframes switchMoveOff {
        0% {
            transform: translateX(18px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    @include not-reduced-motion {
        .#{$prefix}-anim-slide-in {
            z-index    : 100;
            will-change: transform;
            animation  : animSlideIn $default-animation-time ease-in forwards;
        }

        .#{$prefix}-anim-slide-out {
            z-index    : 99;
            will-change: transform;
            animation  : animSlideOut $default-animation-time ease-in forwards;
        }

        .#{$prefix}-anim-fade-in {
            will-change: opacity;
            animation  : animFadeIn $default-animation-time ease-in forwards;
        }

        .#{$prefix}-anim-fade-out {
            will-change: opacity;
            animation  : animFadeOut $default-animation-time ease-out forwards;
        }

        .#{$prefix}-scale-y-in {
            will-change     : transform;
            transform-origin: top;
            animation       : scaleYIn $default-animation-time ease-in forwards;
        }

        .#{$prefix}-scale-y-out {
            will-change     : transform;
            transform-origin: top;
            animation       : scaleYOut $default-animation-time ease-out forwards;
        }

        .#{$prefix}-animation-fade-in {
            opacity  : 0;
            animation: animFadeIn $default-animation-time ease-out forwards;
        }

        .#{$prefix}-animation-fade-out {
            opacity  : 1;
            animation: animFadeOut $default-animation-time ease-out forwards;
        }

        .#{$prefix}-animation-slide-in {
            animation: slideInLeft $default-animation-time ease-in forwards;
        }

        .#{$prefix}-animation-slide-out {
            animation: slideOutRight $default-animation-time ease-out forwards;
        }
    }

    .#{$prefix}-animation-delay {
        animation-delay: $default-animation-time;
    }

    .#{$prefix}-animation-delay-short {
        animation-delay: $short-animation-time;
    }

    .#{$prefix}-animation-delay-long {
        animation-delay: $default-animation-long;
    }

    .#{$prefix}-accordion-out {
        display: none;
    }


    @keyframes animSlideIn {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes animSlideOut {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    @keyframes animFadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes animFadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes scaleYIn {
        0% {
            transform: scaleY(0);
        }

        100% {
            transform: scaleY(1);
        }
    }

    @keyframes scaleYOut {
        0% {
            transform: scaleY(1);
        }

        100% {
            transform: scaleY(0);
        }
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%)
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slideOutLeft {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%)
        }

        100% {
            transform: translateX(0%);
        }

    }

    @keyframes slideOutRight {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(100%);
        }
    }
}

@mixin animation-repeat {
    .#{$prefix}-animation-pulse {
        animation                : infiniteAnimPulse $default-animation-long linear;
        animation-iteration-count: infinite;
        //transform: scale(1);
    }

    .#{$prefix}-animation-blink {
        animation                : infiniteAnimBlink $default-animation-long linear;
        animation-iteration-count: infinite;
        //transform: scale(1);
    }

    .#{$prefix}-animation-shake {
        animation                : infiniteAnimShake $default-animation-long linear;
        animation-iteration-count: infinite;
        //transform: scale(1);
    }

    @keyframes infiniteAnimPulse {
        0% {
            transform: scale(1);
        }

        30% {
            transform: scale(1.1);
        }

        40% {
            transform: scale(1);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes infiniteAnimBlink {
        0% {
            opacity: 1;
        }

        10% {
            opacity: 0.3;
        }

        40% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes infiniteAnimShake {
        0% {
            transform: translateX(0%);
        }

        20% {
            transform: translateX(10%);
        }

        30% {
            transform: translateX(-10%);
        }

        40% {
            transform: translateX(5%);
        }

        50% {
            transform: translateX(-5%);
        }

        60% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

@mixin animations-no-transitions {
    body.#{$prefix}-no-transitions {
        [class*="#{$prefix}-animation"] {
            animation-play-state: paused;
        }
    }
}

@mixin definitions {
    @include animations();
    @include animation-repeat();
    @include animations-no-transitions();
}