@use 'core/visibility';
@use 'core/spaces';
@use 'core/widths';
@use 'core/height';
@use 'core/interactions';
@use 'animations';


$commons-list: ("visibility",
    "spaces",
    "widths",
    "height",
    "animations",
    "interactions"
);

@mixin definitions($commons: ()) {

    $list: $commons;

    @if(length($list)==0) {
        $list: $commons-list;
    }

    @each $name,
    $options in $list {
        @debug "Compile common element: #{$name} with options: ";
        @debug $options;

        $opts: ();

        @if($options !=null) {
            $opts: $options;
        }

        @if $name=="visibility" {
            @include visibility.definitions($opts);
        }

        @if $name=="spaces" {
            @include spaces.definitions($opts);
        }

        @if $name=="widths" {
            @include widths.definitions($opts);
        }

        @if $name=="height" {
            @include height.definitions($opts);
        }

        @if $name=="animations" {
            @include animations.definitions($opts);
        }

        @if $name=="interactions" {
            @include interactions.definitions($opts);
        }
    }
}