$item-padding      : $padding-global;
$item-padding-large: $padding-global-large;
$item-padding-small: $padding-global-small;

@mixin color($color) {
    @if $color==light {
        color: var(--color-light-base)
    }

    @else if $color==dark {
        color: var(--color-dark-base)
    }

    @else {
        color: var(--color-#{$color})
    }

}

@mixin color-darken($color) {
    color: var(--color-#{$color}-darken)
}

@mixin background-color($color, $shade: normal) {
    @if $color==light {
        background-color: var(--color-light-background);
    }

    @else if $color==dark {
        background-color: var(--color-dark-background);
    }

    @else if $color==transparent {
        background-color: transparent;
    }

    @else {
        @if $shade==darken {
            background-color: var(--color-#{$color}-darken);
        }

        @else if $shade==lighten {
            background-color: var(--color-#{$color}-lighten);
        }

        @else {
            background-color: var(--color-#{$color});
        }
    }
}

@mixin component-header {
    font-size  : 1.5em;
    font-weight: 300;
}

@mixin component-padding($size: normal) {
    @if $size==normal {
        padding: $item-padding-small $item-padding;
    }

    @else if $size==large {
        padding: $item-padding $item-padding-large;
    }

    @else if $size==same {
        padding: $item-padding;
    }

    @else if $size==small {
        padding: 0.3rem $item-padding-small;
    }

    @else if $size==sameSmall {
        padding: $item-padding-small;
    }
}

@mixin component-padding-complex($part: body) {
    @if $part==header {
        padding: 1rem 1rem 0.5rem 1rem;
    }

    @else if $part==body {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    @else if $part==footer {
        padding: 0.5rem 1rem 1rem 1rem;
    }

}

@mixin no-appearance {
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
}

@mixin size-media() {

    // View small
    @media (max-width: $cui-breakpoint-s) {}

    // View medium
    @media (max-width: $cui-breakpoint-m) {}


    // View large
    @media (max-width: $cui-breakpoint-l) {}
}