@mixin variables($prefix:"cui") {
    --#{$prefix}-font-size                 : 16px;
    --#{$prefix}-line-height               : 24px;
    --#{$prefix}-animation-time            : 0.3s;
    --#{$prefix}-animation-time-long       : 0.5s;
    --#{$prefix}-animation-time-short      : 0.15s;
    //Breakpoints
    // colors
    // Light
    --#{$prefix}-color-light-app-background: #ffffff;
    --#{$prefix}-color-light-background    : #fff;
    --#{$prefix}-color-light-border        : #00000020;
    --#{$prefix}-color-light-base          : #333;
    --#{$prefix}-color-light-active        : #222;
    --#{$prefix}-color-light-muted         : #aaa;
    //Dark
    --#{$prefix}-color-dark-app-background : #222;
    --#{$prefix}-color-dark-background     : #262626;
    --#{$prefix}-color-dark-border         : #ffffff20;
    --#{$prefix}-color-dark-base           : #fff;
    --#{$prefix}-color-dark-active         : #777;
    --#{$prefix}-color-dark-muted          : #ccc;
    // --primary pink      : FF0066
    --#{$prefix}-color-primary             : #2585B5;
    --#{$prefix}-color-primary-active      : #1E6A91;
    --#{$prefix}-color-primary-muted       : #519DC4;
    --#{$prefix}-color-primary-shade       : #D3E7F0;
    --#{$prefix}-color-primary-shade-dark  : #0F3548;

    // Secondary
    --#{$prefix}-color-secondary           : #8a3f9e;
    --#{$prefix}-color-secondary-active    : #6E327E;
    --#{$prefix}-color-secondary-muted     : #A165B1;
    --#{$prefix}-color-secondary-shade     : #E8D9EC;
    --#{$prefix}-color-secondary-shade-dark: #37193F;
    // Signals 
    // Warning
    --#{$prefix}-color-warning             : #fb8c00;
    --#{$prefix}-color-warning-active      : #C97000;
    --#{$prefix}-color-warning-muted       : #FCA333;
    --#{$prefix}-color-warning-shade       : #FEE8CC;
    --#{$prefix}-color-warning-shade-dark  : #643800;
    // Success
    --#{$prefix}-color-success             : #7cb342;
    --#{$prefix}-color-success-active      : #638F35;
    --#{$prefix}-color-success-muted       : #96C268;
    --#{$prefix}-color-success-shade       : #E5F0D9;
    --#{$prefix}-color-success-shade-dark  : #32481A;
    //Error
    --#{$prefix}-color-error               : #f44336;
    --#{$prefix}-color-error-active        : #E21B0C;
    --#{$prefix}-color-error-muted         : #F6695E;
    --#{$prefix}-color-error-shade         : #FDD9D7;
    --#{$prefix}-color-error-shade-dark    : #710D06;

    --#{$prefix}-input-background-color: transparent;

    // Static
    --#{$prefix}-color-shade              : #00000010;
    --#{$prefix}-color-shade-darker       : #00000030;
    --#{$prefix}-color-shade-light        : #ffffff10;
    --#{$prefix}-color-shade-light-lighter: #ffffff30;

    // --#{$prefix}-color-outline: #ffffff30;
    // --#{$prefix}-color-outline-dark-lighter: #ffffff30;



    // Outline
    --#{$prefix}-outline: 1px dotted #999;

    // Border radius
    --#{$prefix}-border-radius-small: 2px;
    --#{$prefix}-border-radius      : 6px;
    --#{$prefix}-border-radius-large: 10px;

    --#{$prefix}-padding: 1rem;
    --#{$prefix}-margin : 1rem;

    --#{$prefix}-scrollbar-width: 12px;

    // Space

    --#{$prefix}-component-space: 4px;

    --#{$prefix}-accordion-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' height='20' width='20'%3E%3Cpath d='M 5.0000475,7.4490018 10.000024,12.551028 15,7.4490018' style='fill:none;stroke:%23999;stroke-width:1px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1' /%3E%3C/svg%3E");
}