// accent           : #1565c0
$prefix: 'cui';

:root {
    --#{$prefix}-font-size                 : 16px;
    --#{$prefix}-line-height               : 20px;
    --#{$prefix}-animation-time            : 0.3s;
    --#{$prefix}-animation-time-long       : 0.5s;
    --#{$prefix}-animation-time-short      : 0.15s;
    //Breakpoints
    // colors
    // Light
    --#{$prefix}-color-light-app-background: #ffffff;
    --#{$prefix}-color-light-background    : #fff;
    --#{$prefix}-color-light-border        : #f3f3f3;
    --#{$prefix}-color-light-base          : #333;
    --#{$prefix}-color-light-active        : #222;
    --#{$prefix}-color-light-muted         : #aaa;
    //Dark
    --#{$prefix}-color-dark-app-background : #222;
    --#{$prefix}-color-dark-background     : #262626;
    --#{$prefix}-color-dark-border         : #303030;
    --#{$prefix}-color-dark-base           : #fff;
    --#{$prefix}-color-dark-active         : #777;
    --#{$prefix}-color-dark-muted          : #ccc;
    // --primary pink      : FF0066
    --#{$prefix}-color-primary             : #0e84c0;
    --#{$prefix}-color-primary-active      : #0e5f89;
    --#{$prefix}-color-primary-muted       : #119ae0;

    // Secondary
    --#{$prefix}-color-secondary       : #8a3f9e;
    --#{$prefix}-color-secondary-active: #6c317d;
    --#{$prefix}-color-secondary-muted : #b54bd3;

    // Signals 
    // Warning
    --#{$prefix}-color-warning       : #fb8c00;
    --#{$prefix}-color-warning-active: #955300;
    --#{$prefix}-color-warning-muted : #FFBA62;
    // Success
    --#{$prefix}-color-success       : #7cb342;
    --#{$prefix}-color-success-active: #486827;
    --#{$prefix}-color-success-muted : #AED388;
    //Error
    --#{$prefix}-color-error         : #f44336;
    --#{$prefix}-color-error-active  : #BA160A;
    --#{$prefix}-color-error-muted   : #F99D97;

    --#{$prefix}-input-background-color: transparent;

    // Static
    --#{$prefix}-color-shade              : #00000010;
    --#{$prefix}-color-shade-darker       : #00000030;
    --#{$prefix}-color-shade-light        : #ffffff10;
    --#{$prefix}-color-shade-light-lighter: #ffffff30;

    // Outline
    --#{$prefix}-outline: 1px solid transparent;
}

@import 'variables';
@import 'mixins';

html {
    margin                  : 0;
    padding                 : 0;
    box-sizing              : border-box;
    -webkit-text-size-adjust: 100%;
    text-rendering          : optimizeLegibility;
}

body {
    font-size       : var(--#{$prefix}-font-size);
    box-sizing      : border-box;
    font-family     : $font-family;
    margin          : 0;
    padding         : 0;
    background-color: $app-background;
    color           : $app-color;
    //overflow-y: hidden;
}

// Commons

@import 'core/visibility';
@import 'core/spaces';
@import 'core/widths';
@import 'core/height';
@import 'animations';
// Base
@import 'core/flex';
@import 'core/heads';
@import 'core/containers';
@import 'core/section';
@import 'core/grid';
@import 'core/position';
@import 'core/transition';
@import 'core/slide';
@import 'core/sticky';
// Components
@import 'components/navbar';
@import 'components/accordion';
@import 'components/dialog';
@import 'components/tab';
@import 'components/tooltip';
@import 'components/buttons';
@import 'components/banner';
@import 'components/links';
@import 'components/text';
@import 'components/icon';
@import 'components/card';
@import 'components/breadcrumb';
@import 'components/input';
//@import 'styles/components/notification';
//@import 'styles/components/sortable';
@import 'components/spinner';
@import 'components/table';
@import 'components/drop';
@import 'components/switch';
@import 'components/switcher';
@import 'components/list';
@import 'components/overlay';
@import 'components/progress';
@import 'components/background';
@import 'components/badge';
@import 'components/toast';
@import 'components/offcanvas';
@import 'components/hint';
@import 'components/special';
@import 'components/cover';
@import 'components/transitions';
// Dark
@import 'dark';

//Print 
@import 'components/print';