$prefix : 'cui' !default;

$font-family : -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$font-family-mono: Consolas,
"Andale Mono WT",
"Andale Mono",
"Lucida Console",
"Lucida Sans Typewriter",
"DejaVu Sans Mono",
"Bitstream Vera Sans Mono",
"Liberation Mono",
"Nimbus Mono L",
Monaco,
"Courier New",
Courier,
monospace;

$font-xsmall : 0.5rem;
$font-small  : 0.7rem;
$font-normal : 1rem;
$font-large  : 1.3rem;
$font-larger : 1.6rem;
$font-xlarge : 2.2rem;


$line-height       : var(--#{$prefix}-line-height);
$line-height-large : calc(#{$line-height} * 1.4);
$line-height-small : calc(#{$line-height} * 0.8);
$line-height-xlarge: calc(#{$line-height} * 1.8);

$animation-duration-default: var(--#{$prefix}-animation-time);
$animation-duration-short  : var(--#{$prefix}-animation-time-short);
$animation-duration-long   : var(--#{$prefix}-animation-time-long);

$breakpoint-s : 640px;
$breakpoint-m : 960px;
$breakpoint-l : 1200px;
$breakpoint-xl: 1600px;

$breakpoint-max-s : 639px;
$breakpoint-max-m : 959px;
$breakpoint-max-l : 1199px;
$breakpoint-max-xl: 1599px;

$padding-global       : var(--#{$prefix}-padding);
$padding-global-large : calc(#{$padding-global} * 2);
$padding-global-small : calc(#{$padding-global} * 0.5);

$margin-global      : var(--#{$prefix}-margin);
$margin-global-large: calc(#{$margin-global} * 2);
$margin-global-small: calc(#{$margin-global} * 0.5);

$notification-width  : 350px;
$notification-margin : 20px;

$border-radius-default: var(--#{$prefix}-border-radius);
$border-radius-round  : 100px;

// Sizes
$size-small : 150px;
$size-medium: 330px;
$size-large : 600px;
$size-xlarge: 800px;

// Text weight
$text-weight-normal   : 400;
$text-weight-semi-bold: 550;
$text-weight-thin     : 300;
$text-weight-bold     : 700;

// shadows

$shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);
$shadow2: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);
$shadow3: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
$shadow4: 0 19px 38px rgba(0, 0, 0, 0.30),
0 15px 12px rgba(0, 0, 0, 0.22);

/**
* box-shadow: 0 12px 30px 0 rgba(0, 0, 0, .2);
* large:
box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px,
rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
*/


// Form elements
$form-element-size  : 20px;
$default-line-height: 20px;

//$transition-time  : 150ms;

$outline-default: var(--#{$prefix}-outline);

$color-backdrop-light: rgba(255, 255, 255, 0.3);
$color-backdrop-dark : rgba(22, 22, 22, 0.3);

$color-border-light: var(--#{$prefix}-color-light-border);
$color-border-dark : var(--#{$prefix}-color-dark-border);

$app-background     : var(--#{$prefix}-color-light-app-background);
$app-background-dark: var(--#{$prefix}-color-dark-app-background);
$app-color          : var(--#{$prefix}-color-light-base);
$app-color-dark     : var(--#{$prefix}-color-dark-base);



$component-background-default           : var(--#{$prefix}-color-light-background);
$component-background-default-dark      : var(--#{$prefix}-color-dark-background);
$component-background-inverse           : var(--#{$prefix}-color-dark-background);
$component-background-inverse-dark      : var(--#{$prefix}-color-light-background);
$component-background-shade             : var(--#{$prefix}-color-shade);
$component-background-shade-active      : var(--#{$prefix}-color-shade-darker);
$component-background-shade-dark        : var(--#{$prefix}-color-shade-light);
$component-background-shade-dark-active : var(--#{$prefix}-color-shade-light-lighter);

$component-color-default     : var(--#{$prefix}-color-light-base);
$component-color-muted       : var(--#{$prefix}-color-light-muted);
$component-color-active      : var(--#{$prefix}-color-light-active);
$component-color-default-dark: var(--#{$prefix}-color-dark-base);
$component-color-muted-dark  : var(--#{$prefix}-color-dark-muted);
$component-color-active-dark : var(--#{$prefix}-color-dark-active);
$component-color-inverse     : var(--#{$prefix}-color-dark-base);
$component-color-inverse-dark: var(--#{$prefix}-color-light-base);

$button-border-color     : var(--#{$prefix}-color-light-muted);
$button-border-color-dark: var(--#{$prefix}-color-dark-muted);

$component-background-accent            : var(--#{$prefix}-color-primary);
$component-background-accent-hover      : var(--#{$prefix}-color-primary-muted);
$component-background-accent-active     : var(--#{$prefix}-color-primary-active);
$component-background-accent-muted      : var(--#{$prefix}-color-primary-muted);
$component-background-accent-shade      : var(--#{$prefix}-color-primary-shade);
$component-background-accent-shade-dark : var(--#{$prefix}-color-primary-shade-dark);

$component-background-secondary            : var(--#{$prefix}-color-secondary);
$component-background-secondary-hover      : var(--#{$prefix}-color-secondary-muted);
$component-background-secondary-active     : var(--#{$prefix}-color-secondary-active);
$component-background-secondary-muted      : var(--#{$prefix}-color-secondary-muted);
$component-background-secondary-shade      : var(--#{$prefix}-color-secondary-shade);
$component-background-secondary-shade-dark : var(--#{$prefix}-color-secondary-shade-dark);

$component-background-error            : var(--#{$prefix}-color-error);
$component-background-error-hover      : var(--#{$prefix}-color-error-muted);
$component-background-error-active     : var(--#{$prefix}-color-error-active);
$component-background-error-muted      : var(--#{$prefix}-color-error-muted);
$component-background-error-shade      : var(--#{$prefix}-color-error-shade);
$component-background-error-shade-dark : var(--#{$prefix}-color-error-shade-dark);

$component-background-warning            : var(--#{$prefix}-color-warning);
$component-background-warning-hover      : var(--#{$prefix}-color-warning-muted);
$component-background-warning-active     : var(--#{$prefix}-color-warning-active);
$component-background-warning-muted      : var(--#{$prefix}-color-warning-muted);
$component-background-warning-shade      : var(--#{$prefix}-color-warning-shade);
$component-background-warning-shade-dark : var(--#{$prefix}-color-warning-shade-dark);

$component-background-success            : var(--#{$prefix}-color-success);
$component-background-success-hover      : var(--#{$prefix}-color-success-muted);
$component-background-success-active     : var(--#{$prefix}-color-success-active);
$component-background-success-muted      : var(--#{$prefix}-color-success-muted);
$component-background-success-shade      : var(--#{$prefix}-color-success-shade);
$component-background-success-shade-dark : var(--#{$prefix}-color-success-shade-dark);

$component-print-background   : white !important;
$component-print-color        : black !important;
$component-print-shadow       : none !important;
$component-print-border       : 1px solid $component-color-muted !important;
$component-print-border-color : $component-color-muted !important;

$selection-color           : $component-color-default;
$selection-background      : $component-background-shade-active;
$selection-color-dark      : $component-color-default-dark;
$selection-background-dark : $component-background-shade-dark-active;

$component-margin : var(--#{$prefix}-component-space);
$scrollbar-width  : var(--#{$prefix}-scrollbar-width);

$accordion-icon: var(--#{$prefix}-accordion-icon);

// --color-primary                   : #1565c0;
//    --color-primary-darken            : #0B3564;
//    --color-primary-lighten           : #4F98EC;


$colors-map: ('accent': $component-background-accent,
    'accent-hover': $component-background-accent-hover,
    'accent-active': $component-background-accent-active,
    'accent-muted': $component-background-accent-muted,
    'accent-shade': $component-background-accent-shade,
    'accent-shade-dark': $component-background-accent-shade-dark,
    'secondary': $component-background-secondary,
    'secondary-hover': $component-background-secondary-hover,
    'secondary-active': $component-background-secondary-active,
    'secondary-muted': $component-background-secondary-muted,
    'secondary-shade': $component-background-secondary-shade,
    'secondary-shade-dark': $component-background-secondary-shade-dark,
    'success': $component-background-success,
    'success-hover': $component-background-success-hover,
    'success-active': $component-background-success-active,
    'success-muted': $component-background-success-muted,
    'success-shade': $component-background-success-shade,
    'success-shade-dark': $component-background-success-shade-dark,
    'error': $component-background-error,
    'error-hover': $component-background-error-hover,
    'error-active': $component-background-error-active,
    'error-muted': $component-background-error-muted,
    'error-shade': $component-background-error-shade,
    'error-shade-dark': $component-background-error-shade-dark,
    'warning': $component-background-warning,
    'warning-hover': $component-background-warning-hover,
    'warning-active': $component-background-warning-active,
    'warning-muted': $component-background-warning-muted,
    'warning-shade': $component-background-warning-shade,
    'warning-shade-dark': $component-background-warning-shade-dark);