@use 'variables' as *;
@use '../../mixins' as *;

@mixin select {
	select.#{$app-prefix}-select {
		font-size: $input-font-size-default;
		background-color: $input-background-color;
		border-radius: $input-border-radius;
		border: 1px solid $input-border-color-inactive;
		padding: $input-padding-default;
		line-height: $input-line-height;
		outline: none;
		color: $input-color;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M 3,4.339746 8,11 13,4.339746' style='fill:none;stroke:%23999;stroke-width:1px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1' /%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: calc(100% - #{$input-padding-default}) 50%;
		padding-right: 24px;
		box-sizing: border-box;
		font-family: $input-font-family;

		option {
			background-color: $input-option-background-color;
			border-radius: $input-border-radius;
			border: 1px solid $input-border-color-inactive;
			@include component-padding;
			color: $input-color;
			font-size: $input-font-size-default;
		}

		&.#{$app-prefix}-transparent {
			border-color: transparent;
		}

		&:hover {
			outline: none !important;
			border: 1px solid $input-border-color-inactive-hover;
		}

		&:active,
		&:focus {
			outline: none !important;
			border-color: $input-border-color-active;
			@include component-highlight-shadow($input-border-color-active);
		}

		&:disabled {
			color: $input-color-disabled;
			border: 1px $input-disabled-border-style $input-color-disabled !important;
		}

		&.#{$app-prefix}-large {
			@include component-padding(normal, true);
			padding-right: 24px !important;
		}

		&.#{$app-prefix}-small {
			@include component-padding(small, false);
			padding-right: 24px !important;
		}

		&.#{$app-prefix}-transparent {
			border-color: transparent;
		}
	}

	select::-ms-expand {
		display: none;
	}
}

@mixin select-theme {
	select.#{$app-prefix}-select {
		&.#{$app-prefix}-accent {
			border-color: $input-color-accent;

			&:hover {
				border-color: $input-color-accent-active;
			}

			&:focus {
				border-color: $input-color-accent-active;
				@include component-highlight-shadow($input-color-accent);
			}
		}

		&.#{$app-prefix}-secondary {
			border-color: $input-color-secondary;

			&:hover {
				border-color: $input-color-secondary-active;
			}

			&:focus {
				border-color: $input-color-secondary-active;
				@include component-highlight-shadow($input-color-secondary);
			}
		}
	}
}

@mixin select-theme-dark {
	@include mode-dark {
		select.#{$app-prefix}-select {
			&.#{$app-prefix}-accent {
				border-color: $input-color-accent-dark;

				&:hover {
					border-color: $input-color-accent-dark-active;
				}

				&:focus {
					border-color: $input-color-accent-dark-active;
					@include component-highlight-shadow(
						$input-color-accent-dark
					);
				}
			}

			&.#{$app-prefix}-secondary {
				border-color: $input-color-secondary-dark;

				&:hover {
					border-color: $input-color-secondary-dark-active;
				}

				&:focus {
					border-color: $input-color-secondary-dark-active;
					@include component-highlight-shadow(
						$input-color-secondary-dark
					);
				}
			}
		}
	}
}

@mixin select-dark {
	@include mode-dark {
		select.#{$app-prefix}-select {
			color: $input-color-dark;

			&:hover {
				border-color: $input-border-color-inactive-hover-dark;
			}

			&:active,
			&:focus {
				border-color: $input-border-color-active-dark;
				@include component-highlight-shadow(
					$input-border-color-active-dark
				);
			}

			&:not(.#{$app-prefix}-accent):not(.#{$app-prefix}-secondary) {
				border: 1px solid $input-border-color-inactive-dark;
			}

			&:disabled {
				color: $input-color-disabled-dark;
				border: 1px $input-disabled-border-style
					$input-color-disabled-dark !important;
			}

			option {
				background-color: $input-option-background-color-dark;
				border: 1px solid $input-border-color-inactive-dark;
				color: $input-color-dark;
			}
		}
	}
}

@mixin select-print {
	@include mode-print {
		select.#{$app-prefix}-select {
			color: $input-print-color;
			border-color: $input-print-color;

			option {
				background-color: $input-print-background;
				border-color: $input-print-color;
				color: $input-print-color;
			}
		}
	}
}

@mixin exports($options: ()) {
	@include select();

	@if (not-option-disabled($options, "dark")) {
		@include select-dark();
	}

	@if (not-option-disabled($options, "print")) {
		@include select-print();
	}

	@if (not-option-disabled($options, "theme")) {
		@include select-theme();

		@if (not-option-disabled($options, "dark")) {
			@include select-theme-dark();
		}
	}
}
